<div class="contextHead">
    <div class="leftSide">
        <h1 ng-bind="leagueFormController.title">
        </h1>
    </div>
</div>
<form name="form" id="addLeagueForm" autocomplete="false" ng-cloak>
    <div class="errors" ng-show="leagueFormController.errors.length > 0">
        <ul>
            <li ng-repeat="error in leagueFormController.errors">{{error.message}}</li>
        </ul>
    </div>
    <div class="section">
        <div class="standard group">
            <label>
                League Name
            </label>
            <input type="text" placeholder="e.g. League Championship Series" ng-model="leagueFormController.data.leagueName" data-parsley-trigger="keyup"  required/>
        </div>
        <div class="standard group">
            <label>
                Game Name
            </label>
            <ng-typeahead data-id="leagueGame" placeholder="e.g. LOL" ng-model="leagueFormController.data.leagueGame" data="leagueFormController.games" container="#leagueGameError" force-selection="true" required/>
            <div id="leagueGameError" class="typeahead-error">
            </div>
        </div>
        <div class="standard group">
            <label>
                League Logo (optional)
            </label>
            <image-drop model="leagueFormController.data.leagueLogo" preview-width="128" preview-height="128" />
        </div>
        <div class="standard group">
            <label>
                League Header (optional)
            </label>
            <image-drop model="leagueFormController.data.leagueHeader" preview-width="300" preview-height="100" />
        </div>
        <br />
        <div class="standard group">
            <a class="btn lg solid icon" ng-click="leagueFormController.submit()">
                <i class="fa fa-line-chart">
                </i>
                <span ng-bind="leagueFormController.title">
                </span>
            </a>
        </div>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.4.3/parsley.min.js">
</script>
