<div class="contextHead">
    <div class="leftSide">
        <h1 ng-bind="leagueFormController.title">
        </h1>
    </div>
</div>
<form name="form" id="addLeagueForm" autocomplete="false" ng-cloak>
    <div class="errors" ng-show="leagueFormController.errors.length > 0">
        <ul>
            <li ng-repeat="error in leagueFormController.errors">{{error.message}}</li>
        </ul>
    </div>
    <div class="section">
        <div class="standard group">
            <label>
                League Name
            </label>
            <input type="text" placeholder="e.g. League Championship Series" ng-model="leagueFormController.data.name" data-parsley-trigger="keyup"  required/>
        </div>
		<div class="standard group">
            <label>
                URL Slug
            </label>
            <input id="slug" type="text" placeholder="e.g. lcs-2016" ng-model="leagueFormController.data.slug" data-parsley-trigger="keyup" data-parsley-remote-message="Slug already in use." required/>
        </div>
		<div class="standard group">
            <label class="full">
				League will be accessible at eventvods.com/league/{{leagueFormController.data.slug}}
            </label>
		</div>
        <div class="standard group">
            <label>
                Game
            </label>
            <ng-typeahead data-id="leagueGame" placeholder="e.g. LOL" ng-model="leagueFormController.data.game" data="leagueFormController.games" container="#leagueGameError" force-selection="true" required/>
            <div id="leagueGameError" class="typeahead-error">
            </div>
        </div>
        <div class="standard group">
            <label>
                League Logo (optional)
            </label>
            <image-drop model="leagueFormController.data.logo" preview-width="128" preview-height="128" />
        </div>
        <div class="standard group">
            <label>
                League Header (optional)
            </label>
            <image-drop model="leagueFormController.data.header" preview-width="300" preview-height="100" />
        </div>
        <br />
        <div class="standard group">
            <a class="btn lg solid icon" ng-click="leagueFormController.submit()">
                <i class="fa fa-line-chart">
                </i>
                <span ng-bind="leagueFormController.title">
                </span>
            </a>
        </div>
    </div>
</form>
