<div class="contextHead">
    <div class="leftSide">
        <h1 class="title">
            Leagues
        </h1>
    </div>
    <div class="rightSide">
        <a href="/manage/leagues/new" class="btn lg solid icon">
            <i class="fa fa-line-chart">
            </i>
            <span>
                Add League
            </span>
        </a>
    </div>
</div>
<div class="filters">
    <input type="text" ng-model="leaguesListController.search" placeholder="Search Leagues" tabindex="1"/>
</div>
<div class="listView events">
    <table class="standard">
        <thead>
            <tr>
                <th>
                    <a href="" ng-click="leaguesListController.setSort('game.slug')">
                        Game
                    </a>
                    <span ng-show="leaguesListController.sort.sortField == 'game.slug' && !leaguesListController.sort.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="leaguesListController.sort.sortField == 'game.slug' && leaguesListController.sort.sortReverse" class="caret-up">
                    </span>
                    <span ng-show="leaguesListController.sort.sortField != 'game.slug'" class="fa fa-unsorted">
                    </span>
                </th>
                <th>
                    League Logo
                </th>
                <th>
                    <a href="" ng-click="leaguesListController.setSort('name')">
                        League Name
                    </a>
                    <span ng-show="leaguesListController.sort.sortField == 'name' && !leaguesListController.sort.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="leaguesListController.sort.sortField == 'name' && leaguesListController.sort.sortReverse" class="caret-up">
                    </span>
                    <span ng-show="leaguesListController.sort.sortField != 'name'" class="fa fa-unsorted">
                    </span>
                </th>
				<th>
					<a href="" ng-click="leaguesListController.setSort('slug')">
                        URL Slug
                    </a>
                    <span ng-show="leaguesListController.sort.sortField == 'slug' && !leaguesListController.sort.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="leaguesListController.sort.sortField == 'slug' && leaguesListController.sort.sortReverse" class="caret-up">
                    </span>
                    <span ng-show="leaguesListController.sort.sortField != 'slug'" class="fa fa-unsorted">
                    </span>
				</th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="league in leaguesListController.filterData = (leaguesListController.leagueData | filter: leaguesListController.search) | orderBy: leaguesListController.sort.sortField:leaguesListController.sort.sortReverse | offset: (leaguesListController.paging.page - 1) * leaguesListController.paging.itemsPerPage | limitTo: leaguesListController.paging.itemsPerPage">
                <td>
                    <img ng-src="{{league.game.icon}}" class="icon-16 icon-text-align" />
                    {{league.game.name}}
                </td>
                <td>
                    <img ng-src="{{league.logo}}" class="icon-48" />
                </td>
                <td>
                    {{league.name}}
                </td>
				<td>
					{{league.slug}}
				</td>
                <td class="edit">
                    <a ng-href="/manage/league/{{league._id}}/edit">
                        <i class="fa fa-edit fa-fw">
                        </i>
                    </a>
                </td>
                <td class="delete">
                    <a ng-click="leaguesListController.delete(league._id)">
                        <i class="fa fa-trash fa-fw">
                        </i>
                    </a>
                </td>
                <td class="url">
                    <a ng-href="../league/{{league._id}}">
                        <i class="fa fa-external-link fa-fw">
                        </i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<span class="empty" ng-show="leaguesListController.loaded && (leaguesListController.filterData.length == 0 || leaguesListController.leagueData == 0)">
    No leagues match those criteria.
</span>
<div class="pagination" ng-show="leaguesListController.filterData.length > 0">
    <a ng-style="{visibility: leaguesListController.paging.page >1 && 'visible' || 'hidden'}" ng-click="leaguesListController.previousPage()" class="btn">
        Prev Page
    </a>
    <p>
        Page {{leaguesListController.paging.page}} of {{leaguesListController.paging.pages()}}
    </p>
    <a ng-style="{visibility: (leaguesListController.paging.pages() >1 && leaguesListController.paging.page < leaguesListController.paging.pages()) && 'visible' || 'hidden'}" ng-click="leaguesListController.nextPage()" class="btn">
        Next Page
    </a>
</div>
