ul.parsley-errors-list {
    margin: 10px;
    list-style: none;
    padding-left: 0;
    li {
        color: darkred;
    }
}
.image-drop {
    display: flex;
    align-items: center;
    &.active {
        background-color: lighten(#303030, 5%);
    }
}