<div class="contextHead">
    <div class="leftSide">
        <h1 ng-bind="gameFormController.title">
        </h1>
    </div>
</div>
<form name="form" id="addGameForm" ng-cloak>
    <div class="errors" ng-show="gameFormController.errors.length > 0">
        <ul>
            <li ng-repeat="error in gameFormController.errors">{{error.message}}</li>
        </ul>
    </div>
    <div class="section">
        <div class="standard group">
            <label>
                Game Name
            </label>
            <input type="text" placeholder="e.g. League of Legends" ng-model="gameFormController.data.name" data-parsley-trigger="keyup" required/>
        </div>
        <div class="standard group">
            <label>
                URL Slug
            </label>
            <input type="text" id="slug" placeholder="e.g. lol" ng-model="gameFormController.data.slug" data-parsley-trigger="keyup" data-parsley-remote-message="Slug already in use." required/>
        </div>
		<div class="standard group">
            <label class="full">
				Game will be accessible at eventvods.com/game/{{gameFormController.data.slug}}
            </label>
		</div>
        <div class="standard group">
            <label>
                Icon (optional)
            </label>
            <image-drop model="gameFormController.data.icon" preview-width="64" preview-height="64" />
        </div>
        <div class="standard group">
            <label>
                Banner (optional)
            </label>
            <image-drop model="gameFormController.data.banner" preview-width="300" preview-height="100" />
        </div>
        <br />
        <div class="standard group">
            <a class="btn lg solid icon" ng-click="gameFormController.submit()">
                <i class="fa fa-gamepad">
                </i>
                <span ng-bind="gameFormController.title">
                </span>
            </a>
        </div>
    </div>
</form>
