extends ../layout

block content
	if !locals.user.emailConfirmed
		div.content
			h1 Email Verification
			if codeError
				span.error Invalid confirmation code.
			p
				|We've sent an email to
				pre= locals.user.userEmail
				br
				|Please click the confirmation link in the email, or copy the verification code below.
				form(method="POST", action="/user/verifyemail/confirm")
					input(type="text", placeholder="0000000000000000", name="confirmation")
					input(type="submit", value="Confirm Email")
			p
				h2 Not received an email?
				p Please check your junk mail folder!
				.left
					h4 Resend Email
						form(method="POST", action="/user/verifyemail/resend")
							input(type="submit", value="Resend Email")
				.right
					h4 Update Your Email
					p Made a small typo? No problem, you can quickly update your email below
						form(method="POST", action="/user/verifyemail/update")
							if emailError
								span.error Please enter a valid email.
							input(type="text", placeholder="New Email", name="email")
							input(type="submit", value="Change Email")
	else
		div.content
			h1 Email Verification
			p All Sorted!
				|Please feel free to start browsing the site.
	