extends ../layout

block content
    div.content
        h1 Login
        if errors.length > 0
            div#errors
                ul
                    each val in errors
                        li= val
        form(name="login" method="post")
            label Username
            input(type="text" name="username")
            br
            label Password
            input(type="password" name="password")
            br
            input(type="submit" value="Go!")