extends ../layout
block vars
    -currentPage = "Users";
block content
    div.content(ng-app="user", ng-controller="userList", ng-cloak)
        h1 User Configuration
        div.filterControl
            a(href="#", ng-click="showFilters = !showFilters") {{showFilters ? "Hide" : "Show"}} Filter Controls
        div.filters(ng-show="showFilters")
            input(type="text", ng-model="searchTerm", placeholder="Enter username")
        div.listview
            table.standard
                thead
                    tr
                        th.sortable
                            a(href="#", ng-click="sortOn = 'username'") Username
                        th.sortable
                            a(href="#", ng-click="sortOn = 'userEmail'") Email
                        th
                            a(href="#", ng-click="sortOn = 'userRights'") User Rights
                        th.sortable
                            a(href="#", ng-click="sortOn = 'userLogin'") Last Login
						th
                tbody
                    tr(ng-repeat="user in userData | orderBy:sortOn:sortReverse | filter:{username: searchTerm}")
                        td {{user.username}}
                        td {{user.userEmail}}
                        td {{user.userRights}}
                        td {{user.lastLogin}}
						td.edit
							a(ng-href="/user/{{user._id}}/edit")
								i.icon-pencil
block scripts
    script(src='/assets/js/app/services/user.js')
    script(src='/assets/js/app/controllers/user.js')