<div class="modal" id="loginRegister">
	<img class="modal-logo" src="/assets/images/logo.png" />
	<div class="modal-wrapper z-depth-4">
		<div>
			<ul class="tabs">
				<li class="tab col s6">
					<a ng-click="Page.show='login';Page.focus()">Login</a>
				</li>
				<li class="tab col s6">
					<a ng-click="Page.show='register';Page.focus()">Create Account</a>
				</li>
			</ul>
		</div>
		<div class="modal-content flow-text">
			<div class="row">
				<div class="col s12 m10 offset-m1 center-align">
					<h5>
                            LOGIN TO YOUR <strong>ACCOUNT</strong> TO FOLLOW YOUR FAVOURITE <strong>LEAGUES & TOURNAMENTS</strong>
                        </h5>
				</div>
				<div ng-show="Page.show == 'login'" class="col s6 offset-s3 center-align" id="login">
					<div class="row">
						<div class="col s12">
							<input-field>
								<input type="email" ng-model="Page.data.login.email" class="validate" required tabindex="0" />
								<label class="click-through" data-error="Please enter your email address.">Email</label>
							</input-field>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<input-field>
								<input id="password" type="password" ng-model="Page.data.login.password" class="validate" required tabindex="0" />
								<label id="password_label" class="click-through" data-error="Please enter your password.">Password</label>
							</input-field>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<input-field>
								<input type="checkbox" id="remember-me" checked="checked" ng-model="Page.data.login.remember" tabindex="1" />
								<label class="center-label" for="remember-me">Remember Me</label>
							</input-field>
						</div>
					</div>
					<div class="row buttons">
						<div class="col s6">
							<a class="waves-effect waves-light btn modal-close">Cancel</a>
						</div>
						<div class="col s6">
							<a class="waves-effect waves-light btn submit" ng-click="Page.login()" tabindex="1">Login</a>
						</div>
					</div>
				</div>
				<div ng-show="Page.show == 'register'" class="col s12 center-align" id="register">
					<div class="row">
						<div class="col s6">
							<input-field>
								<input id="email" type="email" ng-model="Page.data.register.email" required class="validate" />
								<label class="click-through" data-error="Please enter your email address.">Email</label>
							</input-field>
						</div>
						<div class="col s6">
							<input-field>
								<input id="name" type="text" ng-model="Page.data.register.displayName" class="validate" pattern=".{1,30}" length="30" />
								<label class="click-through" data-error="Please enter a display name.">Display Name</label>
							</input-field>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<input-field>
								<input id="password" type="password" ng-model="Page.data.register.password" class="validate" required pattern=".{6,50}" onchange="document.getElementById('password_confirm').pattern = this.value" />
								<label class="click-through" data-error="Please enter a password.">Password</label>
							</input-field>
						</div>
						<div class="col s6">
							<input-field>
								<input id="password_confirm" type="password" id="password_confirm" ng-model="Page.data.register.password_confirm" class="validate" required pattern=".{6,50}" />
								<label class="click-through" data-error="Password confirmation must match.">Confirm Password</label>
							</input-field>
						</div>
					</div>
					<div class="row extra-margin-top">
						<div class="col s12">
							<input-field class="center-align">
								<input ng-model="Page.data.register.tos" type="checkbox" id="tos-agree" class="validate" required />
								<label class="center-label" for="tos-agree">I agree to the <a ng-click="Page.show = 'tos';" tabindex="99">Terms of Service</a></label>
							</input-field>
						</div>
					</div>
					<div class="row buttons col s6 offset-s3">
						<div class="col s6">
							<a class="waves-effect waves-light btn modal-close">Cancel</a>
						</div>
						<div class="col s6">
							<a class="waves-effect waves-light btn submit" ng-click="Page.signup()">Signup</a>
						</div>
					</div>
				</div>
				<div ng-show="Page.show == 'tos'" class="col s12 center-align" id="tos" >
					<div class="row">
						<div class="col s12">
							<input-field>
								<textarea class="materialize-textarea" readonly="true">
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
v
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
Blah blah TOS go here
									</textarea>
								<label>Terms of Service</label>
							</input-field>
						</div>
					</div>
					<div class="row buttons col s6 offset-s3">
						<div class="col s6">
							<a class="waves-effect waves-light btn cancel" ng-click="Page.show='register';">Back</a>
						</div>
						<div class="col s6">
							<a class="waves-effect waves-light btn submit" ng-click="Page.data.register.tos=true;Page.show='register';">Agree</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-include src="'/assets/views/dialogs/emailConfirmation.html'" ng-if="Page.register" ng-cloak></ng-include>
