<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart','timeline']});
</script>
<div class="contextHead">
    <div class="leftSide">
        <h1 class="title">
            Dashboard
        </h1>
    </div>
</div>
<div class="content">
    <div class="tile-container dashboard">
        <div class="tile-row">
            <h2>Events</h2>
            <div class="content"></div>
        </div>
        <div class="tile-row">
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.staff}}
                    </span>
                    <p>
                        Staff
                    </p>
                </div>
            </div>
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.teams}}
                    </span>
                    <p>
                        Teams
                    </p>
                </div>
            </div>
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.maps}}
                    </span>
                    <p>
                        Maps
                    </p>
                </div>
            </div>
        </div>
        <div class="tile-row">
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.users}}
                    </span>
                    <p>
                        Users
                    </p>
                </div>
            </div>
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.updaters}}
                    </span>
                    <p>
                        Updaters
                    </p>
                </div>
            </div>
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.admins}}
                    </span>
                    <p>
                        Admins
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--
        Previous Layout
        <div class="section dashboard" ng-cloak="ng-cloak">
            <h2 class="title">
                Recent Events
            </h2>
            <!--
                <div class="row-list" ng-repeat="event in overviewController.overviewData.recent | orderBy: '-eventEndDate'">
                    <div class="item">
                        <div class="imageContain">
                            <img class="eventImage" src="/assets/images/event-image-sm.jpg"/>
                            <div class="overlay">
                            </div>
                        </div>
                        <div class="eventDate">
                            {{event.eventStartDate | date : "dd MMM"}}
                        </div>
                        <div class="eventDate">
                            {{event.eventEndDate | date : "dd MMM"}}
                        </div>
                        <div class="eventGame">
                            {{event.game}}
                        </div>
                        <div class="eventTitle">
                            {{event.eventTitle | limitTo: 75}}
                        </div>
                        <div class="eventStatus">
                            {{event.status}}
                        </div>
                    </div>
                    <p ng-show="overviewController.overviewData.recent.length == 0">
                        No recent events.
                    </p>
                </div>
            </div>
            <div class="section" ng-cloak="ng-cloak">
                <h2 class="title">
                    Ongoing Events
                </h2>
                <div class="row-list" ng-repeat="event in overviewController.overviewData.ongoing">
                    <div class="item">
                        <div class="imageContain">
                            <img class="eventImage" src="/assets/images/event-image-sm.jpg"/>
                            <div class="overlay">
                            </div>
                        </div>
                        <div class="eventDate">
                            {{event.eventStartDate | date : "dd MMM"}}
                        </div>
                        <div class="eventDate">
                            {{event.eventEndDate | date : "dd MMM"}}
                        </div>
                        <div class="eventGame">
                            {{event.game}}
                        </div>
                        <div class="eventTitle">
                            {{event.eventTitle | limitTo: 75}}
                        </div>
                        <div class="eventTitle">
                            {{event.eventTitle | limitTo: 75}}
                        </div>
                        <div class="eventStatus">
                            {{event.status}}
                        </div>
                    </div>
                    <p ng-show="overviewController.overviewData.ongoing.length == 0">
                        No ongoing events.
                    </p>
                </div>
            </div>
            <div class="section" ng-cloak="ng-cloak">
                <h2 class="title">
                    Upcoming Events
                </h2>
                <div class="row-list" ng-repeat="event in overviewController.overviewData.upcoming">
                    <div class="item">
                        <div class="imageContain">
                            <img class="eventImage" src="/assets/images/event-image-sm.jpg"/>
                            <div class="overlay">
                            </div>
                        </div>
                        <div class="eventDate">
                            {{event.eventStartDate | date : "dd MMM"}}
                        </div>
                        <div class="eventDate">
                            {{event.eventEndDate | date : "dd MMM"}}
                        </div>
                        <div class="eventGame">
                            {{event.game}}
                        </div>
                        <div class="eventTitle">
                            {{event.eventTitle | limitTo: 75}}
                        </div>
                        <div class="eventStatus">
                            {{event.status}}
                        </div>
                    </div>
                </div>
                <p ng-show="overviewController.overviewData.upcoming.length == 0">
                    No upcoming events.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="section" ng-cloak="ng-cloak">
                <h2 class="title">
                    Data Manager
                </h2>
                <div class="box">
                    <span class="data">
                        Casters
                    </span>
                    <span class="count">
                        {{overviewController.overviewData.casters}}
                    </span>
                </div>
                <div class="box">
                    <span class="data">
                        Maps
                    </span>
                    <span class="count">
                        {{overviewController.overviewData.maps}}
                    </span>
                </div>
                <div class="box">
                    <span class="data">
                        Teams
                    </span>
                    <span class="count">
                        {{overviewController.overviewData.teams}}
                    </span>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section" ng-cloak="ng-cloak">
                <h2 class="title">
                    User Manager
                </h2>
            </div>
        </div>
    -->
</div>
