<div class="contextHead">
    <div class="leftSide">
        <!-- span.btn.lg.solid.icon(ng-click="test()") Test -->
        <!-- a.btn.lg.solid.icon(href="add/team", ng-show="staffListController.ui.view == 'Teams'") -->
        <!-- Just have one button to access data management portion -->
        <!-- a.btn.lg.solid.icon(href="data/new", ng-if="staffListController.ui.view == 'Teams'") -->
        <a href="data/new/staff" class="btn lg solid icon">
            <i class="fa fa-plus-circle">
            </i>
            <span>
                Create New Data
            </span>
        </a>
    </div>
    
    
    <div class="rightSide">
        <a class="btn lg solid icon" ng-click="staffListController.ui.showFilters = !staffListController.ui.showFilters">
            <i class="fa fa-arrow-down" ng-show="staffListController.ui.showFilters">
            </i>
            <i class="fa fa-arrow-right" ng-show="!staffListController.ui.showFilters">
            </i>
            <span>
                Toggle Filter Controls
            </span>
        </a>
    </div>
</div>
<div ng-show="staffListController.ui.showFilters" class="filters">
    <input type="text" ng-model="staff.search" placeholder="Search Staff"/>
</div>
<div id="Staff" class="data">
    <table class="standard">
        <thead>
            <tr>
                <th>
                    <a href="" ng-click="staffListController.setStaffSort('casterName')">
                        Name
                    </a>
                    <span ng-show="staffListController.ui.sortType == 'casterName' && !staffListController.ui.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="staffListController.ui.sortType == 'casterName' && staffListController.ui.sortReverse" class="caret-up">
                    </span>
                </th>
                <th>
                    <a href="" ng-click="staffListController.setStaffSort('casterAlias')">
                        Alias
                    </a>
                    <span ng-show="staffListController.ui.sortType == 'casterAlias' && !staffListController.ui.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="staffListController.ui.sortType == 'casterAlias' && staffListController.ui.sortReverse" class="caret-up">
                    </span>
                </th>
                <th>
                    <a href="" ng-click="staffListController.setStaffSort('casterCountry')">
                        Country
                    </a>
                    <span ng-show="staffListController.ui.sortType == 'casterCountry' && !staffListController.ui.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="staffListController.ui.sortType == 'casterCountry' && staffListController.ui.sortReverse" class="caret-up">
                    </span>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="staff in staffListController.casterListData | orderBy: staffListController.ui.sortType : staffListController.ui.sortReverse">
                <td class="name">
                    {{staff.casterName}}
                </td>
                <td class="alias">
                    {{staff.casterAlias}}
                </td>
                <td class="country">
                    <img ng-src="/assets/images/countries/{{team.teamCountry}}.png"/>
                    {{staff.casterCountry}}
                </td>
                <td class="edit">
                    <a ng-href="/data/edit/staff/{{staff._id}}">
                        <i class="icon-pencil">
                        </i>
                    </a>
                </td>
                <td class="url">
                    <a ng-href="/data/staff/{{staff._id}}">
                        <i class="icon-logout">
                        </i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<span ng-show="(staffListController.casterData == null || staffListController.casterData.length == 0)">
    No data matches those criteria.
</span>
<div ng-show="staffListController.ui.pages > 1" class="pagination">    
     <a ng-style="{visibility: staffListController.ui.page > 1 && 'visible' || 'hidden'}" ng-click="staffListController.previousPage()" class="btn">
        Prev Page
    </a>
    <p>
        Page {{staffListController.ui.page}} of {{staffListController.ui.pages}}
    </p>
    <a ng-style="{visibility: (staffListController.ui.pages > 1 && staffListController.ui.page < staffListController.ui.pages) && 'visible' || 'hidden'}" ng-click="staffListController.nextPage()" class="btn">
        Next Page
    </a>
    
</div>
