<div class="contextHead">
    <div class="leftSide">
        <!-- span.btn.lg.solid.icon(ng-click="test()") Test -->
        <!-- a.btn.lg.solid.icon(href="add/team", ng-show=") -->
        <!-- Just have one button to access data management portion -->
        <!-- a.btn.lg.solid.icon(href="data/new", ng-if=") -->
        <a href="data/new/teams" class="btn lg solid icon">
            <i class="icon-file-add">
            </i>
            <span>
                Create New Data
            </span>
        </a>
    </div>
    <div class="rightSide">
        <a class="btn lg solid icon" ng-click="teamListController.ui.showFilters = !teamListController.ui.showFilters">
            <i class="fa fa-arrow-down" ng-show="teamListController.ui.showFilters">
            </i>
            <i class="fa fa-arrow-right" ng-show="!teamListController.ui.showFilters">
            </i>
            <span>
                Toggle Filter Controls
            </span>
        </a>
    </div>
</div>
<div ng-show="teamListController.ui.showFilters" class="filters">
    <input type="text" ng-model="teams.search" placeholder="Search Teams" />
</div>
<div id="Teams" class="data">
    <table class="standard">
        <thead>
            <tr>
                <th>
                    <a href="" ng-click="teamListController.setTeamSort('teamTag')">
                        Tag
                    </a>
                    <span ng-show="teamListController.ui.sortType == 'teamTag' &amp;&amp; !teamListController.ui.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="teamListController.ui.sortType == 'teamTag' &amp;&amp; teamListController.ui.sortReverse" class="caret-up">
                    </span>
                </th>
                <th>
                    <a href="" ng-click="teamListController.setTeamSort('teamName')">
                        Name
                    </a>
                    <span ng-show="teamListController.ui.sortType == 'teamName' &amp;&amp; !teamListController.ui.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="teamListController.ui.sortType == 'teamName' &amp;&amp; teamListController.ui.sortReverse" class="caret-up">
                    </span>
                </th>
                <th>
                    <a href="" ng-click="teamListController.setTeamSort('country')">
                        Country
                    </a>
                    <span ng-show="teamListController.ui.sortType == 'country' &amp;&amp; !teamListController.ui.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="teamListController.ui.sortType == 'country' &amp;&amp; teamListController.ui.sortReverse" class="caret-up">
                    </span>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in teamListController.teamListData | orderBy: teamListController.ui.sortType : teamListController.ui.sortReverse">
                <td class="tag">
                    {{team.teamTag}}
                </td>
                <td class="name">
                    {{team.teamName}}
                </td>
                <td class="icon">
                    <img ng-src="/assets/images/teams/logo/{{team.teamTag}}.png" />
                </td>
                <td class="country">
                    <img ng-src="/assets/images/countries/{{team.teamCountry}}.png" /> {{team.teamCountry}}
                </td>
                <td class="edit">
                    <a ng-href="/data/edit/teams/{{team._id}}">
                        <i class="icon-pencil">
                        </i>
                    </a>
                </td>
                <td class="url">
                    <a ng-href="/data/team/{{team._id}}">
                        <i class="icon-logout">
                        </i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<span ng-show="(teamListController.teamData == null || teamListController.teamData.length == 0)">
    No data matches those criteria.
</span>
<div ng-show="teamListController.ui.pages > 1" class="pagination">
    <a ng-style="{visibility: teamListController.ui.page > 1 && 'visible' || 'hidden'}" ng-click="teamListController.previousPage()" class="btn">
        Prev Page
    </a>
    <p>
        Page {{teamListController.ui.page}} of {{teamListController.ui.pages}}
    </p>
    <a ng-style="{visibility: (teamListController.ui.pages > 1 && teamListController.ui.page < teamListController.ui.pages) && 'visible' || 'hidden'}" ng-click="teamListController.nextPage()" class="btn">
        Next Page
    </a>
</div>