/* old colors */
/* layout */
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Light.eot');
  src: url('/assets/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Gotham-Light.woff') format('woff'), url('/assets/fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Medium.eot');
  src: url('/assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Gotham-Medium.woff') format('woff'), url('/assets/fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
html {
  min-height: 100%;
}
[ng-cloak],
img:not([src]),
.hide {
  display: none !important;
}
body {
  background: #3c3c62;
}
.text-accent {
  color: #0CD97E;
}
.text-red {
  color: #F44336;
}
.force-uppercase {
  text-transform: uppercase!important;
}
.force-lowercase {
  text-transform: lowercase!important;
}
.force-normal {
  text-transform: none!important;
}
.icon-24 {
  pointer-events: none;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.icon-text-large {
  font-size: 128px;
}
#banner {
  top: -64px;
  margin-bottom: -64px;
}
.contents {
  border-top: 5px solid #0CD97E;
  transition: all 0.3s linear;
  text-align: center;
}
.contents a:not(.btn) {
  color: #0CD97E;
}
.contents a:not(.btn):hover {
  text-decoration: underline;
}
.contents.light {
  background: url('/assets/images/backgrounds/light.jpg') #fff;
  background-position: center -300px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #3C3C62;
}
.contents.light .container {
  background: #fff;
}
.contents.dark {
  background: url('/assets/images/backgrounds/dark.jpg') #1A192B;
  background-position: center -300px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.contents.dark .container {
  background: #27273F;
}
.contents .container {
  transition: all 0.3s linear;
  font-family: Gotham;
  font-weight: 500;
  padding: 50px;
}
.contents .container h3.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #0CD97E;
  border-bottom: 5px solid #0CD97E;
  padding-bottom: 10px;
}
#loading-bar .bar {
  background: #0CD97E !important;
  height: 5px!important;
}
#loading-bar-spinner {
  top: 16px!important;
  left: 16px!important;
}
#loading-bar-spinner .spinner-icon {
  width: 32px!important;
  height: 32px!important;
  border-top-color: #0CD97E !important;
  border-left-color: #0CD97E !important;
}
.cookie_disclaimer {
  position: fixed;
  z-index: 1001;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 5px solid #0CD97E;
  color: #fff;
  background: #3C3C62;
  transition: all 1s linear;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  font-family: Gotham;
  font-weight: 500;
  opacity: 0;
}
.cookie_disclaimer.show {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}
.cookie_disclaimer h5 {
  text-transform: uppercase;
}
.cookie_disclaimer a.btn-large {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.cookie_disclaimer .disclaimer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.cookie_disclaimer .disclaimer p {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
nav.nav-main {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #3c405c;
  z-index: 998;
}
nav.nav-main a.brand-logo img {
  margin-top: 4px;
  height: 54px;
  pointer-events: none;
}
@media screen and (max-width: 600px) {
  nav.nav-main a.brand-logo img {
    margin-top: 0;
  }
}
nav.nav-main i.left {
  margin-right: 0;
  margin-top: -1px;
}
nav.nav-main ul a {
  transition: all .3s;
  letter-spacing: 0.5px;
}
nav.nav-main ul a.btn {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -6px;
}
nav.nav-main ul a:hover:not(.btn) {
  color: #0CD97E;
}
nav.nav-main li.no-transition {
  transition: all 0s linear;
  outline: 0!important;
}
nav.nav-main li.no-transition a {
  transition: all 0s linear;
}
nav.nav-main li.user-details:hover > svg {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
nav.nav-main li.user-details > svg {
  opacity: 0.8;
  height: 54px;
  width: 54px;
  position: relative;
  top: 4px;
  outline: 0!important;
  border-radius: 50%;
  float: left;
  left: 54px;
  pointer-events: none;
}
nav.nav-main li.user-details > a {
  color: #0CD97E;
  text-transform: uppercase;
  padding-left: 59px;
  padding-right: 0;
  min-width: 165px;
  text-align: right;
  font-family: Gotham;
}
nav.nav-main li.user-details > a > i.right {
  margin-left: 0;
}
nav.nav-main li.content-switch {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Gotham;
  font-weight: 500;
}
nav.nav-main li.content-switch .switch label {
  color: white;
}
nav.nav-main li.content-switch .switch label input[type=checkbox]:checked + .lever {
  background-color: #077846;
}
nav.nav-main li.content-switch .switch label input[type=checkbox]:checked + .lever:after {
  background-color: #0CD97E;
}
nav.nav-main .dropdown-content.wide {
  width: auto!important;
}
nav.nav-main .dropdown-content.wide.grouped li {
  border: 0;
  border-left: 1px solid #323256;
  border-right: 1px solid #323256;
}
nav.nav-main .dropdown-content.wide.grouped li img {
  display: none;
}
nav.nav-main .dropdown-content.wide.grouped li.border-top {
  border-top: 2px solid #323256;
}
nav.nav-main .dropdown-content.wide.grouped li.border-top img {
  display: inline-block;
}
nav.nav-main .dropdown-content.wide .icon {
  min-width: 48px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -14px 10px -14px -5px;
  padding-right: 2px;
  height: 50px;
  border-right: 2px solid #323256;
}
nav.nav-main .dropdown-content.wide .icon > img {
  height: 24px;
  pointer-events: none;
  vertical-align: middle;
}
nav.nav-main .dropdown-content a {
  text-transform: uppercase;
  text-align: left;
}
nav.nav-main .dropdown-content a > i.left {
  margin-right: 15px;
}
nav.nav-main ul.side-nav {
  background: #3C3C62;
  border-right: 3px solid #0CD97E;
}
nav.nav-main ul.side-nav li a {
  color: #fff;
}
nav.nav-main ul.side-nav li a.btn {
  margin-top: 0;
}
nav.nav-main ul.dropdown-content {
  border-top: 2px solid #0CD97E;
  margin-top: -2px;
  background: #3C3C62;
}
nav.nav-main ul.dropdown-content li {
  background: transparent;
  border: 1px solid #323256;
}
nav.nav-main ul.dropdown-content li a {
  color: #fff;
}
nav.nav-main ul.dropdown-content li.divider {
  background: #0CD97E;
}
nav.nav-main a.btn {
  background: transparent;
  border: 2px solid #0CD97E;
  height: 40px;
  line-height: 40px;
}
nav.nav-main a.btn:hover {
  background: #0CD97E;
}
.evSlider {
  position: relative;
  width: 100%;
  height: 464px;
  z-index: 0;
  overflow: hidden;
}
.evSlider.single {
  height: 364px;
}
.evSlider.single .image {
  opacity: 1;
}
.evSlider .main img,
.evSlider .blur img {
  pointer-events: none;
}
@media screen and (min-width: 1920px) {
  .evSlider .main img,
  .evSlider .blur img {
    width: 100%;
  }
}
.evSlider .main img {
  min-height: 600px;
}
.evSlider .images,
.evSlider .image,
.evSlider div.overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.evSlider .image {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  transition: opacity 2s ease-in-out;
}
.evSlider .image.active {
  opacity: 1;
}
.evSlider .image.active .overlay.left .container,
.evSlider .image.active .overlay.right .container {
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
}
.evSlider .image div.blur {
  height: 64px;
  width: 100%;
  z-index: 16;
  overflow: hidden;
  position: relative;
}
.evSlider img,
.evSlider div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
.evSlider div.overlay {
  padding-top: 89px;
  z-index: 17;
  color: white;
  pointer-events: all;
  font-family: Gotham;
  font-weight: 500;
}
.evSlider div.overlay .container {
  transition: all 2s ease-in-out;
}
.evSlider div.overlay.right {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+60 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=1);
  /* IE6-9 */
  text-align: right;
}
.evSlider div.overlay.right .container {
  -webkit-transform: translate(1000px, 0px);
      -ms-transform: translate(1000px, 0px);
          transform: translate(1000px, 0px);
}
.evSlider div.overlay.left {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+40,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
  text-align: left;
}
.evSlider div.overlay.left .container {
  -webkit-transform: translate(-1000px, 0px);
      -ms-transform: translate(-1000px, 0px);
          transform: translate(-1000px, 0px);
}
.evSlider div.overlay.middle {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
}
.evSlider div.overlay img {
  position: relative;
  height: 133.33333333px;
  pointer-events: none;
}
.evSlider div.overlay h1,
.evSlider div.overlay h2,
.evSlider div.overlay h3,
.evSlider div.overlay h4 {
  text-transform: uppercase;
}
.evSlider div.overlay h3,
.evSlider div.overlay h4 {
  margin: 5px 0 5px 0;
  letter-spacing: 1px;
}
.evSlider div.overlay h3 {
  color: #0CD97E;
}
.evSlider div.overlay h4 {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.evSlider div.overlay a.btn {
  background: #0CD97E;
  line-height: 39px;
}
.evSlider .indicators {
  position: relative;
  top: -50px;
  height: 50px;
  z-index: 998;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.evSlider .indicators .indicator {
  background: #fff;
  width: 10px;
  height: 10px;
  margin: 15px;
  cursor: pointer;
  transition: all 2s ease-in-out;
}
.evSlider .indicators .indicator.active {
  background-color: #0CD97E;
}
.modal {
  border-radius: 0;
  overflow-y: visible;
  background: transparent;
  box-shadow: none;
  text-align: center;
  font-family: Gotham;
  font-weight: 500;
}
.modal .tabs {
  background: #3C3C62;
  color: #fff;
}
.modal .tabs a {
  color: #fff;
  cursor: pointer;
}
.modal .tabs a:hover {
  color: #0CD97E;
}
.modal .tabs .indicator {
  background-color: #0CD97E;
  height: 5px;
}
.modal > img {
  margin: auto;
  max-height: 100px;
  pointer-events: none;
}
.modal > .modal-wrapper {
  background: #fff;
  border-bottom: 5px solid #0CD97E;
  color: #3C3C62;
}
.modal h5 {
  padding-bottom: 20px;
}
.modal .btn {
  width: 100%;
  font-size: 18px;
  background: #0CD97E;
}
.modal .btn.modal-close,
.modal .btn.cancel {
  background: #3C3C62;
}
.modal label {
  color: #3C3C62 !important;
}
.modal .input-field label {
  width: 100%;
  text-align: left;
}
.modal .input-field label:after {
  top: 45px;
}
.modal .input-field label.active:after {
  opacity: 0!important;
}
.modal .input-field label.click-through {
  pointer-events: none;
}
.modal .input-field label.center-label {
  width: auto;
}
.modal .input-field input[type="checkbox"]:not(:checked) + label {
  color: #F44336 !important;
}
.modal textarea {
  min-height: 150px;
  max-height: 300px;
  height: auto!important;
  margin-top: 10px;
  overflow-y: scroll;
}
.modal#settings svg {
  width: 128px;
  height: 128px;
  transition: opacity 0.3s linear;
}
.modal#settings svg > path:hover {
  opacity: 0.8;
  cursor: pointer;
}
.modal#settings .account-header {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  text-transform: uppercase;
}
.modal#settings .account-header i.material-icons {
  position: relative;
  top: 2px;
}
.modal#settings .account-header span.title {
  border-bottom: 2px solid #0CD97E;
  font-size: larger;
}
.modal#settings .account-header span.name {
  font-weight: bolder;
  font-size: larger;
}
.modal .editable,
.modal .editable-empty,
.modal .editable-click,
.modal .editable-input {
  color: inherit!important;
  font-style: inherit;
}
.modal .editable-click {
  cursor: pointer;
}
.modal .editable-input {
  text-transform: uppercase;
  font-size: larger;
  font-weight: bolder;
  color: inherit;
  border-bottom: 0!important;
  box-shadow: none!important;
}
.modal .editable-error {
  color: darkred;
  font-size: medium;
}
.lean-overlay {
  background: url("/assets/images/modal.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
footer.page-footer {
  background: #3C3C62;
  margin-top: 0;
  border-top: 5px solid #323256;
}
footer.page-footer h5 {
  text-transform: uppercase;
  font-family: Gotham;
  font-weight: 500;
}
footer.page-footer .spaced-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (min-width: 992px) {
  footer.page-footer .sborders {
    border-left: 5px solid #323256;
    border-right: 5px solid #323256;
  }
}
footer.page-footer .spacer {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -20px;
  margin-bottom: 20px;
}
footer.page-footer .social-media {
  width: 100%;
}
footer.page-footer .social-media a {
  width: 36px;
  height: 36px;
  display: inline-block;
  background-size: contain!important;
  margin: 10px 15px;
}
footer.page-footer .social-media a.facebook {
  background: url('/assets/images/icons/facebook.png');
}
footer.page-footer .social-media a.twitter {
  background: url('/assets/images/icons/twitter.png');
}
footer.page-footer .social-media a.linked-in {
  background: url('/assets/images/icons/linkedin.png');
}
footer.page-footer .social-media a.patreon {
  background: url('/assets/images/icons/patreon.png');
}
footer.page-footer .social-media a:hover {
  opacity: 0.7;
}
footer.page-footer .btn {
  background: #323256;
  margin: 10px 15px;
  padding: 0;
  width: 120px;
  letter-spacing: 0.5px;
}
footer.page-footer .footer-copyright {
  letter-spacing: 0.5px;
  background: #323256;
  height: auto;
  font-family: Gotham;
  font-weight: 500;
}
footer.page-footer .footer-copyright .copyright {
  text-transform: uppercase;
  font-weight: bold;
}
.input-field {
  margin-bottom: 25px;
}
.input-field label,
.input-field input {
  font-family: Gotham;
  font-weight: 500;
}
.input-field label {
  text-align: left;
  transition: color 0.3s linear, -webkit-transform 0.2s ease-out;
  transition: color 0.3s linear, transform 0.2s ease-out;
  transition: color 0.3s linear, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  text-transform: uppercase;
}
.input-field label.active {
  color: #0CD97E !important;
}
.input-field label:after {
  top: 45px;
}
.input-field label.active:after {
  opacity: 0!important;
}
.input-field label.click-through {
  pointer-events: none;
}
.input-field label.center-label {
  width: auto;
}
.input-field input[type="checkbox"]:not(:checked) + label {
  color: #F44336 !important;
}
.buttons {
  margin-top: 25px;
}
.btn {
  background-color: #0CD97E;
}
.btn:hover {
  background-color: #0df18c;
}
.contents.light .input-field label,
.contents.light .input-field input {
  color: #3C3C62;
}
.contents.dark .input-field label,
.contents.dark .input-field input {
  color: white;
}

/*# sourceMappingURL=style.css.map */
