.container {
  width: 100%!important;
  max-width: 1600px!important;
}
.flow-text {
  font-size: 1.6em;
  font-weight: 300!important;
}
@media only screen and (min-width: 993px) {
  .container {
    width: 90%!important;
  }
  .flow-text {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    width: 80%!important;
  }
}
@media only screen and (min-width: 1600px) {
  .container {
    width: 70%!important;
  }
}
/* old colors */
/* layout */
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Light.eot');
  src: url('/assets/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Gotham-Light.woff') format('woff'), url('/assets/fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Medium.eot');
  src: url('/assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Gotham-Medium.woff') format('woff'), url('/assets/fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
html {
  min-height: 100%;
}
a {
  color: #0CD97E;
}
[ng-click] {
  cursor: pointer;
}
[ng-cloak],
img:not([src]),
.hide {
  display: none !important;
}
body {
  background: #27273F;
}
.col.border-left {
  border-left: 3px solid #3C3C62;
}
.text-accent {
  color: #0CD97E;
}
.text-red {
  color: #F44336;
}
.text-small {
  font-size: smaller;
}
.light {
  font-weight: normal;
}
i.starred {
  color: goldenrod!important;
}
.force-uppercase {
  text-transform: uppercase!important;
}
.force-lowercase {
  text-transform: lowercase!important;
}
.force-normal {
  text-transform: none!important;
}
.icon-24 {
  pointer-events: none;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.icon-text-large {
  font-size: 128px;
}
#banner {
  top: -64px;
  margin-bottom: -64px;
}
.contents {
  border-top: 5px solid #0CD97E;
  transition: all 0.3s linear;
  text-align: center;
  background: url('/assets/images/backgrounds/light.jpg') #fff;
  background-position: center -600px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #3C3C62;
}
.contents.pad-bottom {
  padding-top: 25px;
  padding-bottom: 25px;
}
.contents a:not(.btn) {
  color: #0CD97E;
}
.contents a:not(.btn):hover {
  text-decoration: underline;
}
.contents .container {
  font-family: Gotham;
  font-weight: 500;
  padding: 50px;
  background: #fff;
  transition: background 0.3s linear;
}
.contents .container.ng-animate {
  transition: none;
}
.contents .container h3.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #0CD97E;
  border-bottom: 5px solid #0CD97E;
  padding-bottom: 10px;
}
.contents .container.article {
  text-align: left;
  padding: 50px;
}
.contents .container.article ul,
.contents .container.article ol {
  margin-left: 25px;
}
.contents .container.article ul li,
.contents .container.article ol li {
  list-style-type: circle!important;
}
.contents .container.no-pad {
  padding: 0;
}
.contents .container iframe#contact {
  width: 100%;
  height: 1200px;
}
.contents h3.container {
  text-transform: uppercase;
  border-bottom: 5px solid #0CD97E;
  font-family: Gotham;
  font-weight: 500;
  padding: 25px;
  background: transparent!important;
}
.collection .collection-item {
  color: #0CD97E;
  text-transform: uppercase;
}
.collection .collection-item .secondary-content {
  color: inherit;
}
.collection .collection-item.active {
  background-color: #0CD97E !important;
}
.dark {
  background: #27273F;
}
.dark .col.border-left {
  border-left: 3px solid white;
}
.dark .contents {
  background: url('/assets/images/backgrounds/dark.jpg') #1A192B;
  background-position: center -300px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.dark .contents .container {
  background: #27273F;
}
.dark .contents .collection-item {
  background-color: transparent;
}
.dark .editable-buttons {
  color: #3C3C62;
}
#loading-bar .bar {
  background: #0CD97E !important;
  height: 5px!important;
}
#loading-bar-spinner {
  top: 16px!important;
  left: 16px!important;
}
#loading-bar-spinner .spinner-icon {
  width: 32px!important;
  height: 32px!important;
  border-top-color: #0CD97E !important;
  border-left-color: #0CD97E !important;
}
.cookie_disclaimer {
  position: fixed;
  z-index: 1001;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 5px solid #0CD97E;
  color: #fff;
  background: #3C3C62;
  transition: all 1s linear;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  font-family: Gotham;
  font-weight: 500;
  opacity: 0;
}
.cookie_disclaimer.show {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}
.cookie_disclaimer h5 {
  text-transform: uppercase;
}
.cookie_disclaimer a.btn-large {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px;
  padding: 0;
  background-color: #0CD97E;
}
.cookie_disclaimer .disclaimer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.cookie_disclaimer .disclaimer p {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
nav.nav-main {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #3c405c;
  z-index: 998;
}
nav.nav-main a.brand-logo img {
  margin-top: 4px;
  height: 54px;
  pointer-events: none;
}
@media screen and (max-width: 600px) {
  nav.nav-main a.brand-logo img {
    margin-top: 0;
  }
}
nav.nav-main i.left {
  margin-right: 0;
  margin-top: -1px;
}
nav.nav-main ul a {
  transition: all .3s;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 5;
}
nav.nav-main ul a.btn {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -6px;
}
nav.nav-main ul a:hover:not(.btn) {
  color: #0CD97E;
}
nav.nav-main li.no-transition {
  transition: all 0s linear;
  outline: 0!important;
}
nav.nav-main li.no-transition a {
  transition: all 0s linear;
}
nav.nav-main li.user-details:hover > svg {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
nav.nav-main li.user-details > svg {
  opacity: 0.8;
  height: 54px;
  width: 54px;
  position: relative;
  z-index: 0;
  top: 4px;
  outline: 0!important;
  border-radius: 50%;
  float: left;
  left: 59px;
  margin-left: -54px;
  pointer-events: none;
}
nav.nav-main li.user-details > a {
  color: #0CD97E;
  text-transform: uppercase;
  padding-left: 19px;
  padding-right: 0;
  text-align: right;
  font-family: Gotham;
}
nav.nav-main li.user-details > a > i.right {
  margin-left: 0;
}
nav.nav-main li.content-switch {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Gotham;
  font-weight: 500;
}
nav.nav-main li.content-switch .switch label {
  color: white;
}
nav.nav-main li.content-switch .switch label input[type=checkbox]:checked + .lever {
  background-color: #077846;
}
nav.nav-main li.content-switch .switch label input[type=checkbox]:checked + .lever:after {
  background-color: #0CD97E;
}
nav.nav-main .dropdown-content.wide {
  width: auto!important;
}
nav.nav-main .dropdown-content.wide.grouped li {
  border: 0;
  border-left: 1px solid #323256;
  border-right: 1px solid #323256;
}
nav.nav-main .dropdown-content.wide.grouped li img {
  display: none;
}
nav.nav-main .dropdown-content.wide.grouped li.border-top {
  border-top: 2px solid #323256;
}
nav.nav-main .dropdown-content.wide.grouped li.border-top img {
  display: inline-block;
}
nav.nav-main .dropdown-content.wide .icon {
  min-width: 48px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -14px 10px -14px -5px;
  padding-right: 2px;
  height: 50px;
  border-right: 2px solid #323256;
}
nav.nav-main .dropdown-content.wide .icon > img {
  height: 24px;
  pointer-events: none;
  vertical-align: middle;
}
nav.nav-main .dropdown-content a {
  text-transform: uppercase;
  text-align: left;
}
nav.nav-main .dropdown-content a > i.left {
  margin-right: 15px;
}
nav.nav-main ul.side-nav {
  background: #3C3C62;
  border-right: 3px solid #0CD97E;
}
nav.nav-main ul.side-nav li a {
  color: #fff;
}
nav.nav-main ul.side-nav li a.btn {
  margin-top: 0;
}
nav.nav-main ul.dropdown-content {
  border-top: 2px solid #0CD97E;
  margin-top: -2px;
  background: #3C3C62;
}
nav.nav-main ul.dropdown-content li {
  background: transparent;
  border: 1px solid #323256;
}
nav.nav-main ul.dropdown-content li a {
  color: #fff;
}
nav.nav-main ul.dropdown-content li.divider {
  background: #0CD97E;
}
nav.nav-main a.btn {
  background: transparent;
  border: 2px solid #0CD97E;
  height: 40px;
  line-height: 40px;
}
nav.nav-main a.btn:hover {
  background: #0CD97E;
}
.evSlider {
  position: relative;
  width: 100%;
  height: 464px;
  z-index: 0;
  overflow: hidden;
}
.evSlider .images {
  background: #27273F;
}
.evSlider.single {
  height: 364px;
}
.evSlider.single .image:not(.load-in),
.evSlider.single .image.loaded {
  opacity: 1;
}
.evSlider.single h4 {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.evSlider .main img,
.evSlider .blur img {
  pointer-events: none;
}
@media screen and (min-width: 1920px) {
  .evSlider .main img,
  .evSlider .blur img {
    min-width: 100%;
  }
}
.evSlider .main img {
  min-height: 600px;
}
.evSlider .images,
.evSlider .image,
.evSlider div.overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.evSlider .image {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  transition: opacity 2s ease-in-out;
}
.evSlider .image.active {
  opacity: 1;
}
.evSlider .image.active .overlay.left .container,
.evSlider .image.active .overlay.right .container {
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
}
.evSlider .image div.blur {
  height: 64px;
  width: 100%;
  z-index: 16;
  overflow: hidden;
  position: relative;
}
.evSlider img,
.evSlider div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
.evSlider div.overlay {
  padding-top: 89px;
  z-index: 17;
  color: white;
  pointer-events: all;
  font-family: Gotham;
  font-weight: 500;
}
.evSlider div.overlay .container {
  transition: all 2s ease-in-out;
}
.evSlider div.overlay.right {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+60 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=1);
  /* IE6-9 */
  text-align: right;
}
.evSlider div.overlay.right .container {
  -webkit-transform: translate(1000px, 0px);
      -ms-transform: translate(1000px, 0px);
          transform: translate(1000px, 0px);
}
.evSlider div.overlay.left {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+40,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
  text-align: left;
}
.evSlider div.overlay.left .container {
  -webkit-transform: translate(-1000px, 0px);
      -ms-transform: translate(-1000px, 0px);
          transform: translate(-1000px, 0px);
}
.evSlider div.overlay.middle {
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.3+0,0.8+30,0.8+70,0.3+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#4d000000', GradientType=1);
  /* IE6-9 */
}
.evSlider div.overlay.article {
  padding-top: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.evSlider div.overlay.article h3 {
  color: white;
}
.evSlider div.overlay.article .article-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.evSlider div.overlay.article .article-details span {
  text-transform: uppercase;
  font-size: 1.2em;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0px;
      -ms-flex-preferred-size: 0px;
          flex-basis: 0px;
  padding: 0px 25px;
}
.evSlider div.overlay.article .article-details span.middle {
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.evSlider div.overlay img {
  position: relative;
  height: 133.33333333px;
  pointer-events: none;
}
.evSlider div.overlay h1,
.evSlider div.overlay h2,
.evSlider div.overlay h3,
.evSlider div.overlay h4 {
  text-transform: uppercase;
}
.evSlider div.overlay h3,
.evSlider div.overlay h4 {
  margin: 5px 0 5px 0;
  letter-spacing: 1px;
}
.evSlider div.overlay h3 {
  color: #0CD97E;
}
.evSlider div.overlay a.btn {
  background: #0CD97E;
  line-height: 39px;
}
.evSlider div.overlay .credits {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 3px;
  opacity: 0.5;
  font-size: 0.8em;
}
.evSlider .indicators {
  position: relative;
  top: -50px;
  height: 50px;
  z-index: 998;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all 2s ease-in-out;
}
.evSlider .indicators .indicator {
  background: #fff;
  width: 10px;
  height: 10px;
  margin: 15px;
  cursor: pointer;
  transition: all 2s ease-in-out;
}
.evSlider .indicators .indicator.active {
  background-color: #0CD97E;
}
footer.page-footer {
  background: #3C3C62;
  margin-top: -20px;
  border-top: 5px solid #323256;
}
footer.page-footer h5 {
  text-transform: uppercase;
  font-family: Gotham;
  font-weight: 500;
}
footer.page-footer img.responsive-img {
  opacity: 0.6;
  max-width: 75%;
}
footer.page-footer img.responsive-img:hover {
  opacity: 1;
}
footer.page-footer .spaced-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (min-width: 992px) {
  footer.page-footer .sborders {
    border-left: 5px solid #323256;
    border-right: 5px solid #323256;
  }
}
footer.page-footer .spacer {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -20px;
  margin-bottom: 20px;
}
footer.page-footer .social-media {
  width: 100%;
}
footer.page-footer .social-media > a {
  position: relative;
  top: 10px;
  padding: 25px;
}
footer.page-footer #patreon {
  display: block;
  width: 400px;
  height: 100px;
  margin: auto;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  background: url('/assets/images/icons/patreon.png');
  background-size: contain;
  opacity: 0.7;
}
footer.page-footer #patreon:hover {
  opacity: 1;
}
footer.page-footer .btn {
  background: #323256;
  margin: 10px 15px;
  padding: 0;
  width: 120px;
  letter-spacing: 0.5px;
}
footer.page-footer .footer-copyright {
  letter-spacing: 0.5px;
  background: #323256;
  height: auto;
  font-family: Gotham;
  font-weight: 500;
}
footer.page-footer .footer-copyright .copyright {
  text-transform: uppercase;
  font-weight: bold;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
label,
input {
  font-family: Gotham;
  font-weight: 500;
  color: inherit;
}
input[type=checkbox]:not(:checked) + .err,
input[type=checkbox]:not(:checked) + .err a {
  transition: color 0.3s linear;
  color: #F44336 !important;
}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #0CD97E;
  box-shadow: 0 1px 0 0 #0CD97E;
}
.input-field {
  margin-bottom: 30px;
}
.input-field label {
  text-align: left;
  text-transform: uppercase;
  color: inherit;
}
.input-field label.active {
  color: #0CD97E !important;
}
.input-field label.click-through {
  pointer-events: none;
}
.input-field label.center-label {
  width: auto;
}
.input-field input[type="checkbox"]:not(:checked) + label {
  color: #F44336 !important;
}
.input-field input.validate + label {
  font-size: inherit;
  transition: color 0.3s linear, transform 0.2s ease-out, font-size 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.input-field input.validate + label:after {
  transition: top 0.2s ease-out;
  position: absolute!important;
  top: 65px;
}
.input-field input.validate + label.active:after {
  top: 90px;
}
.buttons {
  margin-top: 25px;
}
.btn {
  background-color: #0CD97E;
}
.btn:hover {
  background-color: #0df18c;
}
.contents.light .input-field label,
.contents.light .input-field input {
  color: #3C3C62;
}
.contents.dark .input-field label,
.contents.dark .input-field input {
  color: white;
}
input[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #0CD97E;
  background-color: #0CD97E;
}
.settings .pad-left {
  padding-left: 50px!important;
}
.settings ol.verify {
  font-size: 1.2em;
}
.settings > .row > .col {
  padding: 0 1.5rem;
}
.settings .account-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings ol.verify-wip {
  margin: 50px;
  font-size: 1.2em;
}
.settings ol.verify-wip li {
  opacity: 0.3;
}
.settings ol.verify-wip li.complete,
.settings ol.verify-wip li.current {
  opacity: 1;
}
.settings ol.verify-wip li.complete {
  color: #0CD97E;
  text-decoration: line-through;
}
.settings ol.verify-wip li.final.current {
  color: #0CD97E;
}
.settings h3 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings h3 .name {
  margin-left: 50px;
}
.settings h3 .editable-click {
  color: #0CD97E;
  text-transform: uppercase;
}
.settings h3 .editable-input {
  font-size: 0.8em;
  width: 90%;
  height: 64px;
  text-transform: uppercase;
}
.settings h3 .editable-wrap {
  width: 100%;
}
.settings h3 .editable-buttons {
  display: block;
  margin-top: 5px;
}
.settings h3 .editable-buttons button {
  text-transform: uppercase;
  margin: 0 10px 0 0;
  font-size: 50%;
}
.settings h3 .editable-error {
  width: 166%;
  text-transform: uppercase;
  font-size: 0.4em;
  color: red;
  position: relative;
  left: -66%;
  text-align: center;
  padding-left: 25px;
}
.element-container {
  margin: 25px auto;
  overflow: hidden;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0!important;
  border-bottom: 3px solid #0CD97E;
  height: 150px;
  position: relative;
}
.element-container .element-border {
  -webkit-flex-basis: 0px;
      -ms-flex-preferred-size: 0px;
          flex-basis: 0px;
  height: 150px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 33%;
  -webkit-clip-path: url("../../../../#element");
          clip-path: url("../../../../#element");
  max-width: 600px;
  position: relative;
  left: 20px;
  background: #27273F;
  transition: background 0.3s linear;
}
.element-container .element-border .element-background {
  height: 150px;
  width: 100%;
  -webkit-clip-path: url("../../../../#element");
          clip-path: url("../../../../#element");
  position: relative;
  padding-right: 10%;
  left: -20px;
}
.element-container .element-border .element-background > a {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.element-container .element-border .element-background > a > img {
  vertical-align: middle;
  pointer-events: none;
  max-height: 80%;
  max-width: 70%;
}
.element-container .element-border .element-background.event-background {
  background: #3C3C62;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.element-container .element-border .element-background .element-tag {
  color: white;
  font-size: 2em;
  height: 45px;
  display: block;
  padding: 0;
}
.element-container .element-border .element-background .element-teams {
  width: 100%;
  color: white;
  height: 150px;
}
.element-container .element-border .element-background .element-teams .element-vs {
  font-size: large;
  height: 150px;
  position: relative;
  top: -45px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.element-container .element-border .element-background .element-teams .element-team {
  height: 150px;
  font-weight: 300;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
}
.element-container .element-border .element-background .element-teams .element-team > img {
  margin-bottom: 5px;
  max-height: 60%;
}
.element-container .element-border .element-background.element-1 {
  background: url('/assets/images/elements/15.jpg');
}
.element-container .element-border .element-background.element-2 {
  background: url('/assets/images/elements/16.jpg');
}
.element-container .element-border .element-background.element-3 {
  background: url('/assets/images/elements/17.jpg');
}
.element-container .element-border .element-background.element-4 {
  background: url('/assets/images/elements/4.jpg');
}
.element-container .element-border .element-background.element-5 {
  background: url('/assets/images/elements/5.jpg');
}
.element-container .element-border .element-background.element-6 {
  background: url('/assets/images/elements/6.jpg');
}
.element-container .element-border .element-background.element-7 {
  background: url('/assets/images/elements/7.jpg');
}
.element-container .element-border .element-background.element-8 {
  background: url('/assets/images/elements/8.jpg');
}
.element-container .element-border .element-background.element-9 {
  background: url('/assets/images/elements/9.jpg');
}
.element-container .element-border .element-background.element-10 {
  background: url('/assets/images/elements/10.jpg');
}
.element-container .element-border .element-background.element-11 {
  background: url('/assets/images/elements/11.jpg');
}
.element-container .element-border .element-background.element-12 {
  background: url('/assets/images/elements/12.jpg');
}
.element-container .element-border .element-background.element-13 {
  background: url('/assets/images/elements/13.jpg');
}
.element-container .element-border .element-background.element-14 {
  background: url('/assets/images/elements/14.jpg');
}
.element-container .element-info {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 150px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.element-container .element-info .element-title a {
  color: inherit!important;
}
.element-container .element-info .element-title h4 {
  margin: 6px auto;
  font-weight: 500;
  font-size: 1.5em;
}
.element-container .element-info .element-title span {
  font-size: larger;
}
.element-container .element-info .element-buttons {
  margin-bottom: 10px;
}
.element-container .element-info .element-buttons a {
  margin: 0 25px;
  width: 240px;
  background: #0CD97E !important;
  transition: width 0.3s linear;
}
.element-container .element-info .element-buttons a:first-child {
  background: #3C3C62 !important;
}
.element-container .element-info .element-buttons a i {
  transition: color 0.3s linear;
}
.element-container .element-info .element-footer,
.element-container .element-info .element-dates,
.element-container .element-info .element-title {
  text-transform: uppercase;
}
.element-container .element-links {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 150px;
}
.element-container .element-links .element-titles {
  width: 100%;
  margin-bottom: 5px;
}
.element-container .element-links .element-titles h6 {
  font-size: 1.3em;
  position: relative;
}
.element-container .element-links .element-titles h6:after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0px;
  height: 1px;
  width: 50%;
  /* or 100px */
  border-bottom: 3px solid #0CD97E;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.element-container .element-links .element-go {
  width: 100%;
  margin-bottom: 0;
}
.element-container .element-links .element-go .row {
  margin-bottom: 0;
  margin-right: 0;
}
.element-container .element-links .element-go .row a {
  opacity: 0.6;
}
.element-container .element-links .element-go .row a:hover {
  opacity: 1;
}
.element-container .element-links .element-go .row a .responsive-img {
  padding: 0 25px;
  pointer-events: none;
  max-height: 60px;
}
.element-container .element-links .element-extras {
  position: relative;
  top: -10px;
  margin-top: 5px;
}
.element-container .element-links .element-extras a.btn {
  background: transparent;
  border: 1px solid #323256;
  color: #3C3C62 !important;
  margin: 5px 10px;
}
.element-container .element-favourite-back {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -50px;
  right: -50px;
  border: 50px solid transparent;
  border-left-color: #3C3C62;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.element-container .element-favourite {
  position: absolute;
  top: 5px;
  right: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.element-container .element-favourite > i.material-icons {
  font-size: 2em;
}
.dark .element-container .element-border {
  background: white;
}
.dark .element-container .element-extras a.btn {
  color: white!important;
}
.load-in {
  opacity: 0;
  transition: opacity 0.3s linear;
}
.load-in.loaded {
  opacity: 1;
}
.event-nav.container {
  background: transparent!important;
  padding: 0;
}
.event-nav.container .nav-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding: 5px;
}
.event-nav.container .nav-row:first-child {
  border-bottom: 3px solid #0CD97E;
}
.event-nav.container h3,
.event-nav.container h4 {
  text-transform: uppercase;
  font-family: Gotham;
  font-weight: 500;
  padding-top: 0;
  margin: 0 20px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.event-nav.container .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 2.92rem;
  margin: 0;
  line-height: 110%;
  transition: color 0.3s linear;
  margin: 0 -25px;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  opacity: 1;
}
.event-nav.container .material-icons:hover {
  color: #0CD97E;
}
.event-nav.container .material-icons.ng-hide-add,
.event-nav.container .material-icons.ng-hide-remove {
  transition: all 0.3s linear;
}
.event-nav.container .material-icons.ng-hide {
  opacity: 0;
  display: block!important;
}
.event-nav.container h4 {
  border-bottom: 0;
  background: transparent!important;
}
.slide-toggle {
  max-height: 0px;
  height: auto;
  transition: all 0.5s linear;
  opacity: 0;
}
.slide-toggle.show {
  max-height: 5000px;
  opacity: 1;
}
.details,
.info {
  background: url('/assets/images/backgrounds/pattern_light.png') repeat #fff;
  transition: background 0.3s linear;
  margin-top: -25px;
}
.details .container,
.info .container {
  padding: 15px;
  background: transparent!important;
}
.details {
  overflow: hidden;
  margin-bottom: 25px;
  border-bottom: 5px solid #3C3C62;
}
.details h3.container {
  text-transform: uppercase;
  font-family: Gotham;
  font-weight: 500;
}
.details h4.container {
  text-transform: uppercase;
  border-bottom: 3px solid #0CD97E;
  font-family: Gotham;
  font-weight: 500;
}
.info {
  font-family: Gotham;
  font-weight: 500;
  text-transform: uppercase;
}
.info i.material-icons {
  font-size: 4em;
}
.info h6 {
  color: #0CD97E;
  margin-top: 25px;
  font-size: larger;
}
.info .row.watch-online {
  margin-bottom: 0;
}
.info .row.watch-online a {
  opacity: 0.6;
}
.info .row.watch-online a:hover {
  opacity: 1;
}
.info .row.watch-online a > img {
  pointer-events: none;
  max-width: 80%;
  margin-top: 10px;
}
.dark .details,
.dark .info {
  background: url('/assets/images/backgrounds/pattern_dark.png') repeat #3C3C62;
}
.details-bottom {
  background: #3C3C62;
  border: 0;
  width: 100%;
  height: 5px;
  position: relative;
  top: -30px;
  z-index: 150;
}
.icon-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: transparent!important;
  padding: 0!important;
  margin-bottom: 25px;
}
.icon-container .icon {
  font-family: Gotham;
  font-weight: 500;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin: 25px;
  height: 250px;
  width: 200px;
  position: relative;
}
.icon-container .icon.team {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
}
.icon-container .icon .icon-image,
.icon-container .icon .team-container {
  width: 150px;
}
.icon-container .icon .two-lines {
  height: 55px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.icon-container .icon .team-container {
  pointer-events: none;
  height: 150px;
  position: absolute;
  top: 0;
  left: 25px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.icon-container .icon .team-container > img {
  max-width: 50%;
  max-height: 50%;
}
.icon-container .icon .icon-role,
.icon-container .icon .icon-alias {
  text-transform: uppercase;
  color: #0CD97E;
}
.icon-container .icon .icon-path {
  stroke: #27273F;
  transition: stroke 0.5s linear;
}
.icon-container .icon .icon-path.solid {
  fill: #3C3C62;
}
.icon-container .icon .icon-path:hover {
  stroke: #0CD97E;
  cursor: pointer;
}
.overlay.middle a.btn,
a.btn.details-toggle {
  transition: width 0.3s linear;
  width: 250px;
}
.overlay.middle a.btn i,
a.btn.details-toggle i {
  transition: color 0.3s linear;
}
a.btn.details-toggle {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  top: -35px;
  line-height: 39px;
  font-family: Gotham;
  font-weight: 500;
  background: #3C3C62;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
a.btn.details-toggle.loaded {
  opacity: 1;
}
.overlay.middle a.btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  bottom: -6px;
}
.player {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10005;
  background: url('/assets/images/backgrounds/pattern_light.png') repeat #fff;
  border-bottom: 5px solid #0CD97E;
}
.player.dark {
  background: url('/assets/images/backgrounds/pattern_dark.png') repeat #3C3C62;
}
.player .back {
  position: fixed;
  top: 25px;
  left: 25px;
  font-size: 3em;
}
.player .back:hover {
  color: #0CD97E;
}
.player .player-below h5,
.player .player-below h6 {
  text-transform: uppercase;
}
.player .player-below h5 {
  color: #0CD97E;
}
.player .player-below a.btn {
  padding: 0 5px;
  margin-top: 0.41rem;
}
.player > div {
  margin: auto;
}
.player .col img {
  max-height: 100%;
}
.player .player-teams {
  height: 100px;
  padding: 15px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.player .player-teams img {
  max-height: 100%;
}
.player .player-teams h4 {
  padding: 10px;
}
.player #player {
  margin: auto;
}
.player #player > iframe {
  border: 5px solid #3C3C62;
}
.player .preloader-wrapper {
  height: 256px;
  width: 256px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
