<div class="contextHead">
    <div class="leftSide">
        <h1 ng-bind="mapsFormController.title">
        </h1>
    </div>
</div>
<form name="form" id="addMapForm" ng-cloak>
    <div class="errors" ng-show="mapsFormController.errors.length > 0">
        <ul>
            <li ng-repeat="error in mapsFormController.errors">{{error.message}}</li>
        </ul>
    </div>
    <div class="section">
        <div class="standard group">
            <label>
                Map Name
            </label>
            <input type="text" placeholder="e.g. de_dust2" ng-model="mapsFormController.data.mapName" data-parsley-trigger="keyup"  required/>
        </div>
        <div class="standard group">
            <label>
                Map Game
            </label>
            <ng-typeahead data-id="mapGame" placeholder="e.g. LOL" ng-model="mapsFormController.data.mapGame" data="mapsFormController.games" container="#mapGameError" force-selection="true" required/>
            <div id="mapGameError" class="typeahead-error">
            </div>
        </div>
        <div class="standard group">
            <label>
                Map Image (optional)
            </label>
            <image-drop model="mapsFormController.data.mapImage" preview-width="200" preview-height="200" />
        </div>
        <br />
        <div class="standard group">
            <a class="btn lg solid icon" ng-click="mapsFormController.submit()">
                <i class="fa fa-map">
                </i>
                <span ng-bind="mapsFormController.title">
                </span>
            </a>
        </div>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.4.3/parsley.min.js">
</script>
