extends ../layout

block content
	div.contextHead
		div.leftSide
			a.btn.lg(href="/events/new") Create Event
		div.rightSide
			div.filterControl
				a(href="#") Show Filter Controls
			div.viewSelect
				div.listView.active
					i.icon-list
					span List View
				div.gridView
					i.icon-grid
					span Grid View
	div.listView.events
		table.standard
			thead
				tr
					th Date
					th Title
					th Game
					th User
					th Status
					th 
					th 	
			tbody
				tr
					td.date 10/15/15
					td.title The International 7
					td.game.csgo DOTA 2
					td.user clam-
					td.status.draft Draft
					td.edit
						a(href="#")
							i.icon-pencil
					td.url
						a(href="#")
							i.icon-logout
				tr
					td.date 10/5/15
					td.title ESL One Cologne 2015 North American Qualifier
					td.game.csgo CSGO
					td.user mattc0m
					td.status.published Published
					td.edit
						a(href="#")
							i.icon-pencil
					td.url
						a(href="#")
							i.icon-logout
				
block scripts
	script(src='/assets/js/app/services/event.js')
	script(src='/assets/js/app/controllers/event.js')