extends ../layout

block content
	h1.title Events
	.section(ng-app="event", ng-controller="eventList as events", ng-cloak)
		//Insert header here
		a.btn(href="/events/new") Add Event
		div.row-list(ng-repeat="event in events.eventData")
			div.item
				div.imageContain
					img.eventImage(src="/assets/images/event-image-sm.jpg")
					div.overlay
				div.eventDate {{event.eventStartDate | date : "dd MMM"}}
				-
				div.eventDate {{event.eventEndDate | date : "dd MMM"}}
				div.eventGame {{event.game}}
				div.eventTitle {{event.eventTitle | limitTo: 75}}
				div.eventStatus {{event.status}}
				
block scripts
	script(src='/assets/js/app/services/event.js')
	script(src='/assets/js/app/controllers/event.js')