extends ../layout
block vars
	-currentPage = "Events";
block content
	div.event-container(ng-app="eventApp", ng-controller="eventListController as eventList", ng-cloak)
		div.contextHead
			div.leftSide
				a.btn.lg.solid.icon(href="/events/new")
					i.icon-file-add
					span Create Event
			div.rightSide
				div.filterControl
					a(href="#", ng-click="eventList.ui.showFilters = !eventList.ui.showFilters") {{eventList.ui.showFilters ? "Hide" : "Show"}} Filter Controls
				div.viewSelect
					div.listView(ng-click="eventList.ui.ListView = true", ng-class="eventList.ui.listView ? 'active' : ''")
						i.icon-list
						span List View
					div.gridView(ng-click="eventList.ui.listView = false",  ng-class="eventList.ui.listView ? '' : 'active'")
						i.icon-grid
						span Grid View
		div.filters(ng-show="evenList.ui.showFilters")
				input(type="text", ng-model="search", placeholder="Enter Event Title")
		div.listView.events(ng-show="eventList.ui.listView == true")
			table.standard
				thead
					tr
						th
							a(href="", ng-click="eventList.setSort('eventStartDate')") Date
						th
							a(href="", ng-click="eventList.setSort('event.eventTitle')") Title
						th
							a(href="", ng-click="eventList.setSort('event.eventGame')") Game
						th
						th
				tbody
					tr(ng-repeat="event in eventList.listData | orderBy: eventList.ui.sortType")
						td.date {{event.eventStartDate | date : "dd MMM, yyyy"}}
						td.title {{event.eventTitle}}
						td.game {{event.eventGame}}
						td.user {{event.user.username}}
						td.status.draft {{event.eventStatus}}
						td.edit
							a(ng-href="/event/{{event._id}}/edit")
								i.icon-pencil
						td.url
							a(ng-href="/event/{{event._id}}")
								i.icon-logout

		div.gridView.events(ng-show="listView == false")
			div.grid
				div.item(ng-repeat="event in listData", ng-style="{'background-image': 'url(\"/assets/images/events/'+event.eventImage+'\")'}")
					div.overlay.hover
						a.btn.sm.solid(ng-href="/event/{{event._id}}/edit") Edit Event
					div.gradient.overlay
					div.status.draft {{event.eventStatus}}
					div.text
						div.date {{event.eventStartDate | date : "MMM dd, yyyy"}}
						div.title {{event.eventTitle}}
		span(ng-show="(listData == null || listData.length == 0) && (loaded == true)") No events match those criteria.
		div.pagination(ng-show="pages > 1")
			a.btn(ng-show="page > 1", ng-click="prevPage()") Prev Page
			p Page {{page}} of {{pages}}
			a.btn(ng-show="pages > 1 && page < pages", ng-click="nextPage()") Next Page

block scripts
	script(src='/assets/js/app/app.js')
	script(src='/assets/js/app/resources/eventResource.js')
	script(src='/assets/js/app/services/eventService.js')
	script(src='/assets/js/app/controllers/eventListController.js')
