extends ../layout

block content
	h1 Add Event
	form(ng-app="newEvent", ng-controller="eventForm as form", ng-cloak)
		a.btn(ng-click="form.test()") Test
		// Form page 1
		.section(ng-show="form.stage == 1")
			h2 Tournament Information
			label Event Title
			input(type="text", ng-model="form.eventTitle" required)
			label Event Permalink
			input(type="text", ng-model="form.eventPermaLink" required)
			label Event Abbrev
			input(type="text", ng-model="form.eventAbbreviation" required)
			label Event Start
			input(type="text", ng-model="form.eventStartDate1", pick-a-date="date", placeholder="Select Date", required)
			input(type="text", ng-model="form.eventStartDate2", pick-a-time="time", placeholder="Select Time", required)
			label Event End
			input(type="text", ng-model="form.eventEndDate1", pick-a-date="date", placeholder="Select Date", required)
			input(type="text", ng-model="form.eventEndDate2", pick-a-time="time", placeholder="Select Time", required)
			
		.section(ng-show="form.stage == 1")
			h2 Social Media
			label Event Website
			input(type="text", ng-model="form.eventWebsite")
			label Event Twitter
			input(type="text", ng-model="form.eventTwitter")
			label Event Stream
			input(type="text", ng-model="form.eventStream")
			label Event Owner
			input(type="text", ng-model="form.eventOwner")
			label Event Group
			input(type="text", ng-model="form.eventGroup")
			label Event Sponsors
			input(type="text", ng-model="form.eventSponsors")
			
		a.btn(ng-click="form.validate(1)", ng-show="form.stage == 1") Next Stage
			
		// Form page 2
		.section(ng-show="form.stage == 2")
			h2 Teams
		a.btn(ng-click="form.stage = 1",ng-show="form.stage == 2") Prev Stage
		a.btn(ng-click="form.validate(2)", ng-show="form.stage == 2") Next Stage
		
		// Form page 3
		.section(ng-show="form.stage == 3")
			h2 Brackets
		a.btn(ng-click="form.validate(3)", ng-show="form.stage == 3") Submit Event
	
block scripts
	script(src='/assets/js/angular-datepicker.js')
	script(src='/assets/js/app/services/event.js')
	script(src='/assets/js/app/controllers/event.js')