extends ../layout

block content
	.appcontainer(ng-app="data", ng-controller="casterList as casterList")
		h1.title Casters
		a.btn(href="/data/add/caster") Add Caster
		.section(ng-cloak)
			div.row-list(ng-repeat="caster in casterList.casters")
				div.item
					div.dataimg	{{caster.casterImage}}
					div {{caster.casterName}}
					div {{caster.casterAlias}}
					div {{caster.casterWebsite}}
					div {{caster.casterCountry}}

			p(ng-show="casterList.casters.length == 0")
				| No casters
block scripts
	script(src='/assets/js/app/services/data.js')
	script(src='/assets/js/app/controllers/data.js')
