extends ../layout
block vars
	-currentPage = "Data";
block content
	div.event-container(ng-app="eventApp", ng-controller="dataList", ng-cloak)
		div.contextHead
			div.leftSide
				h1 Team Name ELSE "Add Team Data"
			div.rightSide
				div.tabs
					div.teams(ng-click="listView = true", ng-class="listView ? 'active' : ''")
						i.icon-teams
						span Teams
					div.staff(ng-click="listView = false",  ng-class="listView ? '' : 'active'")
						i.icon-staff
						span Staff
					div.staff(ng-click="listView = false",  ng-class="listView ? '' : 'active'")
						i.icon-maps
						span Maps
		div.content.form
			div.leftSide
				form
					.standard.group 
						input
						label Name
					.standard.group 
						input
						label Tag
					.standard.group 
						input
						label Game
					.standard.group 
						input
						label Website
					.standard.group 
						input
						label Twitter
					.standard.group 
						input
						label Country
			div.rightSide
				.imageUpload.teamLogo
					h4 Team Logo
					.tooltip.small
						i.icon-tooltip
					.btn.small Remove
				.imageUpload.teamBackground
					h4 Team Background
					.tooltip.small
						i.icon-tooltip
					.btn.small Remove
			div.saveBlock
				.btn Save Data
				.btn Save &amp; Add Another

block scripts
	script(src='/assets/js/app/services/data.js')
	script(src='/assets/js/app/controllers/data.js')
