extends ../layout
block vars
	-currentPage = "Data";
block content
	div.event-container(ng-app="data", ng-controller="dataList", ng-cloak)
		div.contextHead
			div.leftSide
				a.btn.lg.solid.icon(href="#")
					i.icon-file-add
					span New Team
			div.rightSide
				div.filterControl
					a(href="#", ng-click="showFilters = !showFilters") {{showFilters ? "Hide" : "Show"}} Filter Controls
				div.tabs
					div.teams(ng-click="listView = true", ng-class="listView ? 'active' : ''")
						i.icon-teams
						span Teams
					div.staff(ng-click="listView = false",  ng-class="listView ? '' : 'active'")
						i.icon-staff
						span Staff
					div.staff(ng-click="listView = false",  ng-class="listView ? '' : 'active'")
						i.icon-maps
						span Maps


block scripts
	script(src='/assets/js/app/services/data.js')
	script(src='/assets/js/app/controllers/data.js')
