extends ../layout
block vars
	-currentPage = "Data";
block content
	div.event-container(ng-controller="dataFormController as dataFormController", ng-cloak)
		div.contextHead
			div.leftSide
				h1 Data Manager
			div.rightSide
				div.tabs
					div.teams(ng-click="dataFormController.ui.view = 'team'")
						i.icon-teams
						span Teams
					div.staff(ng-click="dataFormController.ui.view = 'staff'")
						i.icon-staff
						span Staff
					div.map(ng-click="dataFormController.ui.view = 'map'")
						i.icon-maps
						span Maps
		div.content.form
			div.leftSide
				div(ng-if="dataFormController.ui.view == 'team'")
					h2 Team
					form
						.standard.group 
							input(ng-model="dataFormController.ui.teamModel.teamName")
							label Name
						.standard.group 
							input(ng-model="dataFormController.ui.teamModel.teamTag")
							label Tag
						.standard.group 
							input(ng-model="dataFormController.ui.teamModel.teamGame")
							label Game
						.standard.group 
							input
							label Website
						.standard.group 
							input
							label Twitter
						.standard.group 
							input(ng-model="dataFormController.ui.teamModel.teamCountry")
							label Country
					div.rightSide
						.imageUpload.teamLogo
							h4 Team Logo
							.tooltip.small
								i.icon-tooltip
							.btn.small Remove
						.imageUpload.teamBackground
							h4 Team Background
							.tooltip.small
								i.icon-tooltip
							.btn.small Remove
					div.saveBlock
						.btn(ng-click="dataFormController.saveTeam(dataFormController.ui.teamModel)") Save Data
						.btn Save &amp; Add Another
				div(ng-if="dataFormController.ui.view == 'staff'")
					h2 Staff
					form
						.standard.group
							input(ng-model="dataFormController.ui.casterModel.casterName")
							label Name 
						.standard.group
							input(ng-model="dataFormController.ui.casterModel.casterAlias")
							label Alias
						.standard.group
							input(ng-model="dataFormController.ui.casterModel.casterCountry")
							label Country
					div.saveBlock
						.btn(ng-click="dataFormController.saveStaff(dataFormController.ui.casterModel)") Save Data
						.btn Save &amp; Add Another
				div(ng-if="dataFormController.ui.view == 'map'")
					h2 Map
					form
						.standard.group
							input(ng-model="dataFormController.ui.mapModel.mapName")
							label Name
						.standard.group
							input(ng-model="dataFormController.ui.mapModel.mapGame")
							label Game
					div.rightSide
						.imageUpload.mapImage
							h4 Map images
							.tooltip.small
									i.icon-tooltip
								.btn.small Remove
					div.saveBlock
						.btn(ng-click="dataFormController.saveMap(dataFormController.ui.mapModel)") Save Data
						.btn Save &amp; Add Another
block scripts
	script(src='/assets/js/app/app.js')
	script(src='/assets/js/app/resources/mapResource.js')
	script(src='/assets/js/app/resources/staffResource.js')
	script(src='/assets/js/app/resources/teamResource.js')
	script(src='/assets/js/app/services/dataFormService.js')
	script(src='/assets/js/app/controllers/layoutController.js')
	script(src='/assets/js/app/controllers/dataFormController.js')
