extends ../layout
block vars
	-currentPage = "Data";
block content
	div.event-container(ng-controller="dataFormController as dataFormController", ng-cloak)
		div.contextHead
			div.leftSide
				h1 Data Manager
			div.rightSide
				div.tabs
					div.teams(ng-click="dataFormController.ui.view = 'team'")
						i.icon-teams
						span Teams
					div.staff(ng-click="dataFormController.ui.view = 'staff'")
						i.icon-staff
						span Staff
					div.map(ng-click="dataFormController.ui.view = 'map'")
						i.icon-maps
						span Maps
		div.content.form
			div.leftSide
				div(ng-if="dataFormController.ui.view == 'team'")
					form
						.standard.group 
							input
							label Name
						.standard.group 
							input
							label Tag
						.standard.group 
							input
							label Game
						.standard.group 
							input
							label Website
						.standard.group 
							input
							label Twitter
						.standard.group 
							input
							label Country
					div.rightSide
						.imageUpload.teamLogo
							h4 Team Logo
							.tooltip.small
								i.icon-tooltip
							.btn.small Remove
						.imageUpload.teamBackground
							h4 Team Background
							.tooltip.small
								i.icon-tooltip
							.btn.small Remove
					div.saveBlock
						.btn Save Data
						.btn Save &amp; Add Another
				div(ng-if="dataFormController.ui.view == 'staff'")
					form
						.standard.group
							input
							label Name 
						.standard.group
							input 
							label Alias
						.standard.group
							input
							label Country
				div(ng-if="dataFormController.ui.view == 'map'")
					form
						.standard.group
							input
							label Name
						.standard.group
							input
							label Game
block scripts
	script(src='/assets/js/app/app.js')
	script(src='/assets/js/app/resources/mapResource.js')
	script(src='/assets/js/app/resources/staffResource.js')
	script(src='/assets/js/app/resources/teamResource.js')
	script(src='/assets/js/app/services/dataFormService.js')
	script(src='/assets/js/app/controllers/layoutController.js')
	script(src='/assets/js/app/controllers/dataFormController.js')
