extends ../layout
block vars
	-currentPage = "Data";
block content
	div.event-container(ng-app="data", ng-controller="dataList", ng-cloak)
		div.contextHead
			div.leftSide
				a.btn.lg.solid.icon(href="#")
					i.icon-file-add
					span New Team
			div.rightSide
				div.filterControl
					a(href="#", ng-click="showFilters = !showFilters") {{showFilters ? "Hide" : "Show"}} Filter Controls
				div.tabs
					div.teams(ng-click="listView = true", ng-class="listView ? 'active' : ''")
						i.icon-teams
						span Teams
					div.staff(ng-click="listView = false",  ng-class="listView ? '' : 'active'")
						i.icon-staff
						span Staff
					div.staff(ng-click="listView = false",  ng-class="listView ? '' : 'active'")
						i.icon-maps
						span Maps
		div.filters(ng-show="showFilters")
				input(type="text", ng-model="search", placeholder="Search")
		div.listView.data(ng-show="listView == true")
			table.standard
				thead
					tr
						th(ng-class="{'sort-desc': sorted('tag', 'desc'), 'sort-asc': sorted('tag', 'asc')}")
							a(href="#", ng-click="setSort('tag')") Tag
						th(ng-class="{'sort-desc': sorted('name', 'desc'), 'sort-asc': sorted('name', 'asc')}")
							a(href="#", ng-click="setSort('name')") Name
						th(ng-class="{'sort-desc': sorted('game', 'desc'), 'sort-asc': sorted('game', 'asc')}")
							a(href="#", ng-click="setSort('game')") Icon
						th(ng-class="{'sort-desc': sorted('country', 'desc'), 'sort-asc': sorted('country', 'asc')}")
							a(href="#", ng-click="setSort('country')") Country
						th 
						th  
				tbody
					tr
						td.tag fnatic
						td.name Team Fnatic
						td.icon
							img(src="/assets/images/logo-fnatic.png")
						td.country Sweden
						td.edit
							a(ng-href="/event/{{event._id}}/edit")
								i.icon-pencil
						td.url
							a(ng-href="/event/{{event._id}}")
								i.icon-logout
		span(ng-show="listData == null || listData.length == 0") No events match those criteria.
		div.pagination(ng-show="pages > 1")
			a.btn(ng-show="page > 1", ng-click="prevPage()") Prev Page
			| Page {{page}} of {{pages}}
			a.btn(ng-show="pages > 1 && page < pages", ng-click="nextPage()") Next Page

block scripts
	script(src='/assets/js/app/services/data.js')
	script(src='/assets/js/app/controllers/data.js')
