extends ../layout
block vars
	-currentPage = "Data";
block content
	div.event-container(ng-app="eventApp", ng-controller="dataListController as dataListController", ng-cloak)
		div.contextHead
			div.leftSide
				//span.btn.lg.solid.icon(ng-click="test()") Test
				a.btn.lg.solid.icon(href="add/team", ng-show="dataListController.ui.view == 'Teams'")
					i.icon-file-add
					span New Team
				a.btn.lg.solid.icon(href="add/staff", ng-show="dataListController.ui.view == 'Staff'")
					i.icon-file-add
					span New Staff
				a.btn.lg.solid.icon(href="add/map", ng-show="dataListController.ui.view == 'Maps'")
					i.icon-file-add
					span New Map
			div.rightSide
				div.filterControl
					a(href="#", ng-click="dataListController.ui.showFilters = !dataListController.ui.showFilters") {{dataListController.ui.showFilters ? "Hide" : "Show"}} Filter Controls
				div.tabs
					div.teams(ng-click="dataListController.ui.view = 'Teams'", ng-class="dataListController.ui.view == 'Teams' ? 'active' : ''")
						i.icon-teams
						span Teams
					div.staff(ng-click="dataListController.ui.view = 'Staff'",  ng-class="dataListController.ui.view == 'Staff' ? 'active' : ''")
						i.icon-staff
						span Staff
					div.staff(ng-click="dataListController.ui.view = 'Maps'",  ng-class="dataListController.ui.view == 'Maps' ? 'active' : ''")
						i.icon-maps
						span Maps
		div.filters(ng-show="dataListController.ui.showFilters")
				input(type="text", ng-model="teams.search", placeholder="Search Teams", ng-show="dataListController.ui.view == 'Teams'")
				input(type="text", ng-model="staff.search", placeholder="Search Staff", ng-show="dataListController.ui.view == 'Staff'")
				input(type="text", ng-model="maps.search", placeholder="Search Maps", ng-show="dataListController.ui.view == 'Maps'")
		div#Teams.data(ng-show="dataListController.ui.view == 'Teams'")
			table.standard
				thead
					tr
						th
							a(href="", ng-click="dataListController.setTeamSort('tag')") Tag
								// Up and down carets here
						th
							a(href="", ng-click="dataListController.setTeamSort('name')") Name
								// Up and down carets here
						th
							a(href="", ng=click="dataListController.setTeamSort('country')") Country
								// Up and down carets here
						th
						th
				tbody
					tr(ng-repeat="team in dataListController.teams")
						td.tag {{team.teamTag}}
						td.name {{team.teamName}}
						td.icon
							img(ng-src="/assets/images/teams/logo/{{team.teamTag}}.png")
						td.country
							img(ng-src="/assets/images/countries/{{team.teamCountry}}.png")
							|{{team.teamCountry}}
						td.edit
							a(ng-href="/data/team/{{team._id}}/edit")
								i.icon-pencil
						td.url
							a(ng-href="/data/team/{{team._id}}")
								i.icon-logout
		div#Staff.data(ng-show="dataListController.ui.view == 'Staff'")
			table.standard
				thead
					tr
						th
							a(href="", ng-click="dataListController.setStaffSort('name')") Name
								// Up and down carets here			
						th
							a(href="", ng-click="dataListController.setStaffSort('alias')") Alias
								// Up and down carets here
						th
							a(href="", ng-click="dataListController.setStaffSort('country')") Country
							// Up and down carets here
						th
						th
				tbody
					tr(ng-repeat="staff in dataListController.staff.list")
						td.name {{staff.casterName}}
						td.alias {{staff.casterAlias}}
						td.country
							img(ng-src="/assets/images/countries/{{team.teamCountry}}.png")
							|{{staff.casterCountry}}
						td.edit
							a(ng-href="/data/staff/{{staff._id}}/edit")
								i.icon-pencil
						td.url
							a(ng-href="/data/staff/{{staff._id}}")
								i.icon-logout
		div#Maps.data(ng-show="dataListController.ui.view == 'Maps'")
			table.standard
				thead
					tr
						th Map
						th
							a(href="", ng-click"dataListController.setMapSort('name')") Name
								// Up and down carets here
						th
							a(href="", ng-click"dataListController.setMapSort('game')") Game
								// Up and down carets here
						th
				tbody
					tr(ng-repeat="map in dataListController.maps.list")
						td.map img(ng-src="/assets/images/maps/{{map.teamTag}}.png")
						td.name {{map.mapName}}
						td.game {{map.mapGame}}
						td.edit
							a(ng-href="/data/map/{{map._id}}/edit")
								i.icon-pencil
						td.url
							a(ng-href="/data/map/{{map._id}}")
								i.icon-logout
		span(ng-show="(teams.list == null || teams.list.length == 0) && view == 'Teams'") No data matches those criteria.
		span(ng-show="(staff.list == null || staff.list.length == 0) && view == 'Staff'") No data matches those criteria.
		span(ng-show="(maps.list == null || maps.list.length == 0) && view == 'Maps'") No data matches those criteria.
		div.pagination(ng-show="teams.pages > 1 && view =='Teams' ")
			a.btn(ng-show="teams.page > 1", ng-click="teams.prevPage()") Prev Page
			| Page {{teams.page}} of {{teams.pages}}
			a.btn(ng-show="teams.pages > 1 && teams.page < teams.pages", ng-click="teams.nextPage()") Next Page
		div.pagination(ng-show="staff.pages > 1 && view =='Staff' ")
			a.btn(ng-show="staff.page > 1", ng-click="staff.prevPage()") Prev Page
			| Page {{staff.page}} of {{staff.pages}}
			a.btn(ng-show="staff.pages > 1 && staff.page < staff.pages", ng-click="staff.nextPage()") Next Page
		div.pagination(ng-show="maps.pages > 1 && view =='Maps' ")
			a.btn(ng-show="maps.page > 1", ng-click="maps.prevPage()") Prev Page
			| Page {{maps.page}} of {{maps.pages}}
			a.btn(ng-show="maps.pages > 1 && maps.page < maps.pages", ng-click="maps.nextPage()") Next Page
		

block scripts
	script(src='/assets/js/app/app.js')
	script(src='/assets/js/app/resources/teamResource.js')
	script(src='/assets/js/app/resources/staffResource.js')
	script(src='/assets/js/app/services/dataListService.js')
	script(src='/assets/js/app/controllers/dataListController.js')
