extends ../../layout
block vars
	-currentPage = "Data";
block content
	div.event-container(ng-controller="dataFormController as dataFormController", ng-cloak)
		div.contextHead
			div.leftSide
				h1 Data Manager
			div.rightSide
				div.tabs
					div.teams.active(ng-click="dataFormController.goTo('teams')")
						i.icon-teams
						span Teams
					div.staff(ng-click="dataFormController.goTo('staff')")
						i.icon-staff
						span Staff
					div.map(ng-click="dataFormController.goTo('maps')")
						i.icon-maps
						span Maps
		div.content.form
			div.leftSide
				div
					h2 Team
					form#dataForm
						.standard.group 
							input(ng-model="dataFormController.ui.teamModel.teamName", data-required="true", data-parsley-maxlength="30", data-parsley-errors-messages-disabled, data-parsley-validate-if-empty)
							label Name
						.standard.group 
							input(ng-model="dataFormController.ui.teamModel.teamTag", data-required="true", data-parsley-maxlength="30", data-parsley-errors-messages-disabled, data-parsley-validate-if-empty)
							label Tag
						.standard.group 
							input(ng-model="dataFormController.ui.teamModel.teamGame", data-required="true", data-parsley-maxlength="30", data-parsley-errors-messages-disabled, data-parsley-validate-if-empty)
							label Game
						.standard.group 
							input
							label Website
						.standard.group 
							input
							label Twitter
						.standard.group 
							input(ng-model="dataFormController.ui.teamModel.teamCountry", data-required="true", data-parsley-maxlength="30", data-parsley-errors-messages-disabled, data-parsley-validate-if-empty)
							label Country
					div.rightSide
						.imageUpload.teamLogo
							h4 Team Logo
							.tooltip.small
								i.icon-tooltip
							.btn.small Remove
						.imageUpload.teamBackground
							h4 Team Background
							.tooltip.small
								i.icon-tooltip
							.btn.small Remove
					div.saveBlock
						.btn(ng-click="dataFormController.saveTeam(dataFormController.ui.teamModel)") Save Data
						.btn Save &amp; Add Another
block scripts
	script(src='/assets/js/app/app.js')
	script(src='/assets/js/app/resources/mapResource.js')
	script(src='/assets/js/app/resources/staffResource.js')
	script(src='/assets/js/app/resources/teamResource.js')
	script(src='/assets/js/app/common/notifier.js')
	script(src='/assets/js/app/services/dataFormService.js')
	script(src='/assets/js/app/services/dataListService.js')
	script(src='/assets/js/app/controllers/layoutController.js')
	script(src='/assets/js/app/controllers/dataFormController.js')
	script(src='/assets/js/form.js')