<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
    <base href="/">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/webfont.css" rel="stylesheet">
    <link href="/assets/css/angular-datepicker-default.time.css" rel="stylesheet">
    <link href="/assets/css/loading-bar.min.css" rel="stylesheet">
    <link href="/assets/css/angular-datepicker-default.css" rel="stylesheet">
    <link href="/assets/css/angular-datepicker-default.date.css" rel="stylesheet">
    <link href="/assets/css/angular-datepicker-default.time.css" rel="stylesheet">
    <link href="/assets/css/dropzone.min.css" rel="stylesheet">
    <link href="/assets/css/toastr.min.css" rel="stylesheet">
    <link href="/assets/css/parsley.css" rel="stylesheet">
  </head>
  <body flow-prevent-drop>
    <div ng-app="eventApp" ng-controller="layoutController as layoutController" class="container">
      <div class="leftSidebar">
        <header class="logo"><a href="/"></a></header>
        <nav class="leftNavigation"><a id="Dashboard" href="/dashboard"><span class="text">Dashboard</span></a><a id="Events" href="/events" class="active"><span class="text">Events</span></a><a id="Data" href="/data"><span class="text">Data</span></a><a id="Users" href="/users"><span class="text">Users</span></a>
        </nav>
      </div>
      <div class="rightView">
        <div ng-controller="eventListController as eventListController" ng-cloak class="event-container">
          <div class="contextHead">
            <div class="leftSide"><a href="/events/new" class="btn lg solid icon"><i class="icon-file-add"></i><span>Create Event</span></a></div>
            <div class="rightSide">
              <div class="filterControl"><a href="#" ng-click="eventListController.ui.showFilters = !eventList.ui.showFilters">{{eventList.ui.showFilters ? "Hide" : "Show"}} Filter Controls</a></div>
              <div class="viewSelect">
                <div ng-click="eventListController.ui.listView = true" ng-class="eventList.ui.listView ? 'active' : ''" class="listView"><i class="icon-list"></i><span>List View</span></div>
                <div ng-click="eventListController.ui.listView = false" ng-class="eventList.ui.listView ? '' : 'active'" class="gridView"><i class="icon-grid"></i><span>Grid View</span></div>
              </div>
            </div>
          </div>
          <div ng-show="eventListController.ui.showFilters" class="filters">
            <input type="text" ng-model="eventListController.ui.search" placeholder="Enter Event Title">
          </div>
          <div ng-show="eventListController.ui.listView == true" class="listView events">
            <table class="standard">
              <thead>
                <tr>
                  <th><a href="" ng-click="eventListController.setSort('eventStartDate')">Date</a><span ng-show="eventListController.ui.sortType == 'eventStartDate' &amp;&amp; !eventListController.ui.sortReverse" class="caret-down"></span><span ng-show="eventListController.ui.sortType == 'eventStartDate' &amp;&amp; eventListController.ui.sortReverse" class="caret-up"></span></th>
                  <th><a href="" ng-click="eventListController.setSort('eventTitle')">Title</a><span ng-show="eventListController.ui.sortType == 'eventTitle' &amp;&amp; !eventListController.ui.sortReverse" class="caret-down"></span><span ng-show="eventListController.ui.sortType == 'eventTitle' &amp;&amp; eventListController.ui.sortReverse" class="caret-up"></span></th>
                  <th><a href="" ng-click="eventListController.setSort('eventGame')">Game</a><span ng-show="eventListController.ui.sortType == 'eventGame' &amp;&amp; !eventListController.ui.sortReverse" class="caret-down"></span><span ng-show="eventListController.ui.sortType == 'eventGame' &amp;&amp; eventListController.ui.sortReverse" class="caret-up"></span></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="event in eventListController.listData | orderBy: eventListController.ui.sortType : eventListController.ui.sortReverse">
                  <td class="date">{{event.eventStartDate | date : "dd MMM, yyyy"}}</td>
                  <td class="title">{{event.eventTitle}}</td>
                  <td class="game">{{event.eventGame}}</td>
                  <td class="user">{{event.user.username}}</td>
                  <td class="status draft">{{event.eventStatus}}</td>
                  <td class="edit"><a ng-href="/event/{{event._id}}/edit"><i class="icon-pencil"></i></a></td>
                  <td class="url"><a ng-href="/event/{{event._id}}"><i class="icon-logout"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-show="eventListController.ui.listView == false" class="gridView events">
            <div class="grid">
              <div ng-repeat="event in eventListController.listData" ng-style="{'background-image': 'url(&quot;/assets/images/events/'+event.eventImage+'&quot;)'}" class="item">
                <div class="overlay hover"><a ng-href="/event/{{event._id}}/edit" class="btn sm solid">Edit Event</a></div>
                <div class="gradient overlay"></div>
                <div class="status draft">{{event.eventStatus}}</div>
                <div class="text">
                  <div class="date">{{event.eventStartDate | date : "MMM dd, yyyy"}}</div>
                  <div class="title">{{event.eventTitle}}</div>
                </div>
              </div>
            </div>
          </div><span ng-show="(eventListController.ui.listData == null || eventListController.ui.listData.length == 0) &amp;&amp; (eventListController.ui.loaded == true)">No events match those criteria.</span>
          <div ng-show="eventListController.ui.pages &gt; 1" class="pagination"><a ng-show="eventListController.ui.page &gt; 1" ng-click="eventListController.previousPage()" class="btn">Prev Page</a>
            <p>Page {{eventListController.ui.page}} of {{eventListController.ui.pages}}</p><a ng-show="eventListController.ui.pages &gt; 1 &amp;&amp; eventListController.ui.page &lt; eventListController.ui.pages" ng-click="eventListController.nextPage()" class="btn">Next Page</a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-datepicker.js"></script>
    <script src="/assets/js/angular-animate.min.js"></script>
    <script src="/assets/js/loading-bar.min.js"></script>
    <script src="/assets/js/angular-resource.js"></script>
    <script src="/assets/js/angular-route.js"></script>
    <script src="/assets/js/toastr.min.js"></script>
    <script src="/assets/js/app/app.js"></script>
    <script src="/assets/js/app/resources/eventResource.js"></script>
    <script src="/assets/js/app/services/eventService.js"></script>
    <script src="/assets/js/app/controllers/layoutController.js"></script>
    <script src="/assets/js/app/controllers/eventListController.js"></script>
  </body>
</html>