<div class="evSlider single" id="banner">
	<div class="images">
		<div class="image load-in">
			<div class="main">
				<img ng-src="{{Article.data.header}}" />
			</div>
			<div class="blur">
				<img ng-src="{{Article.data.header_blur}}" />
			</div>
			<div class="overlay middle article">
				<h3 ng-bind="Article.data.title"></h3>
				<br /><br />
				<div class="article-details container">
					<span class="right-align">WRITTEN BY @{{Article.data.author.displayName}}</span>
					<span class="middle" ng-bind="Article.data.tagsList"></span>
					<span class="left-align" ng-bind="Article.data.when"></span>
				</div>
				<div class="credits" ng-bind-html="Article.data.credits">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="contents">
	<div class="container article flow-text" ng-bind-html="Article.data.content" ks-nl2br ks-bbcode>
	</div>
</div>
