<div class="evSlider single" id="banner">
    <div class="images">
        <div class="image">
            <div class="main">
                <img src="/assets/images/backgrounds/1.jpg" />
            </div>
            <div class="blur">
                <img src="/assets/images/backgrounds/1b.jpg" />
            </div>
            <div class="overlay middle">
                <div class="container">
					<h4 class="material-icons force-lowercase icon-text-large">fingerprint</h4>
					<br /><br />
                    <h3>Cookie Policy</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contents">
	<div class="container left-align">
		<h4>What Are Cookies?</h4>

		<p class="flow-text">A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another.</p>

		<h4>How We Use Cookies</h4>

		<p class="flow-text">We use cookies for a variety of reasons, primarily:
			<ul class="collection">
				<li class="collection-item flow-text">Storing user preferences, including whether a user is logged in.</li>
				<li class="collection-item flow-text">Tracking page views, and other <strong>anonymous</strong> user statistics that we use to improve the site.</li>
				<li class="collection-item flow-text">Saving your agreement to this cookie policy</li>
			</ul>
		</p>

		<h4>Disabling Cookies</h4>

		<p class="flow-text">You can disable cookies globally, or for specific sites in most browsers' settings.
			We <strong>strongly</strong> discourage this, as this website (and most others) rely on the use of cookies.
			For users looking to upgrade their privacy, while letting legitimate websites function, we recommend <a href="https://www.ghostery.com/">Ghostery</a>.
		</p>

		<h4>Third Party Cookies</h4>

		<p class="flow-text">In some special cases we also use cookies provided by trusted third parties. We've listed these below for transparency.</p>

		<h5>Google Analytics</h5>

		<p class="flow-text">This site uses Google Analytics, one of the most well known website analytics suites. Google Analytics may use cookies to track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</p>

		<p class="flow-text">For more information on Google Analytics cookies, see the <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">official Google Analytics cookie policy.</a></p>

		<h5>Google Adsense</h5>

		<p class="flow-text">This site uses Google Adsense, one of the best known advertising suites. Google Adsense may use cookies to customise and tailor advertising.</p>

		<p class="flow-text">For more information on Google AdSense see the <a href="https://support.google.com/adsense/answer/2839090?hl=en-GB" target="_blank">official Google AdSense privacy FAQ.</a></p>
	</div>
</div>
