<div class="evSlider single" id="banner">
	<div class="images">
		<div class="image load-in">
			<div class="main">
				<img ng-src="{{Game.data.header}}" />
			</div>
			<div class="blur">
				<img ng-src="{{Game.data.header_blur}}" />
			</div>
			<div class="overlay middle">
				<img ng-src="{{Game.data.icon}}" />
				<h3 ng-bind="Game.data.name"></h3>
				<h4>&nbsp;</h4>
				<div class="credits" ng-bind-html="Game.data.credits">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="contents pad-bottom">
	<h3 class="container" >{{Game.data.name}} Events</h3>
	<div class="element-container container" ng-repeat="event in Game.data.leagues track by $index">
		<div class="element-border">
			<div class="element-background" ng-class="Page.elementClass($index)">
				<a ng-href="/event/{{event.slug}}"><img ng-src="{{event.logo}}" /></a>
			</div>
		</div>
		<div class="element-info">
			<div class="element-title">
				<a ng-href="/event/{{event.slug}}">
					<h4 ng-bind="event.name"></h4>
				</a>
				<a ng-href="/event/{{event.slug}}">
					<span ng-bind="event.subtitle"></span>
				</a>
			</div>
			<div class="element-dates">
				<b>Starts </b><span ng-bind="event.startDate | date: 'EEEE, MMMM dd yyyy'"></span><br />
				<b>Ends </b><span ng-bind="event.endDate | date: 'EEEE, MMMM dd yyyy'"></span>
			</div>
			<div class="element-buttons">
				<a class="waves-effect waves-light btn" ng-click="Page.toggleFollow(event._id, 'events')">
					<i class="material-icons left" ng-class="{starred: Page.following(event._id)}">star</i> {{Page.following(event._id) ? "Following" : "Follow"}}
				</a>
				<a ng-href="/event/{{event.slug}}" class="waves-effect waves-light btn">View event</a>
			</div>
			<!--<div class="element-footer" ng-bind="event.updated">
			</div>-->
		</div>
	</div>
</div>
