<div class="evSlider multiple" id="banner">
	<div class="images">
		<div class="arrow-left">
			<i class="material-icons">&#xE314;</i>
		</div>
		<div class="arrow-right">
			<i class="material-icons">&#xE315;</i>
		</div>
		<div class="image" ng-repeat="item in Page.nav.events track by $index">
			<div class="main">
				<img ng-src="{{item.header}}" />
			</div>
			<div class="blur">
				<img ng-src="{{item.header_blur}}" />
			</div>
			<div class="overlay" ng-class="item.textOrientation">
				<div class="container">
					<img ng-src="{{item.logo}}" />
					<h4 ng-bind="item.game.name"></h4>
					<h3 ng-bind="item.shortTitle"></h3>
					<h4 ng-bind="item.subtitle"></h4>
					<a class="waves-effect waves-light btn" ng-href="/event/{{item.slug}}">View Event</a>
				</div>
				<div class="credits" ng-bind-html="item.credits">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="contents pad-bottom">
	<h3 class="container" ng-if=" Page.nav.events.length > 0">Featured Events</h3>
	<div class="element-container container z-depth-3" ng-repeat="event in Page.nav.events track by $index">
		<div class="element-border" fix-clip>
			<div class="element-background" ng-class="Page.elementClass($index)" fix-clip>
				<a ng-href="/event/{{event.slug}}"><img ng-src="{{event.logo}}" /></a>
			</div>
		</div>
		<div class="element-info">
			<div class="element-title">
				<a ng-href="/event/{{event.slug}}">
					<h4 ng-bind="event.name"></h4>
				</a>
				<a ng-href="/event/{{event.slug}}">
					<span ng-bind="event.subtitle"></span>
				</a>
			</div>
			<div class="element-dates">
				Starts <span ng-bind="event.startDate | date: 'EEEE, MMMM dd yyyy'"></span><br />
				Ends <span ng-bind="event.endDate | date: 'EEEE, MMMM dd yyyy'"></span>
			</div>
			<div class="element-buttons">
				<a class="waves-effect waves-light btn" ng-click="Page.toggleFollow(event._id, 'events')">
					<i class="material-icons left" ng-class="{starred: Page.following(event._id)}">star</i> {{Page.following(event._id) ? "Following" : "Follow"}}
				</a>
				<a ng-href="/event/{{event.slug}}" class="waves-effect waves-light btn">View event</a>
			</div>
		</div>
	</div>
</div>
