<div class="evSlider" id="banner">
    <div class="images">
        <div class="image">
            <div class="main">
                <img src="/assets/images/backgrounds/1.jpg" />
            </div>
            <div class="blur">
                <img src="/assets/images/backgrounds/1b.jpg" />
            </div>
            <div class="overlay right">
                <div class="container">
                    <img src="/assets/images/eulcs.png" />
                    <h4>League of Legends</h4>
                    <h3>Follow the EU LCS!</h3>
                    <h4>2016 Summer Split</h4>
                    <a class="waves-effect waves-light btn">View League</a>
                </div>
            </div>
        </div>
        <div class="image">
            <div class="main">
                <img src="/assets/images/backgrounds/2.jpg" />
            </div>
            <div class="blur">
                <img src="/assets/images/backgrounds/2b.jpg" />
            </div>
            <div class="overlay left">
                <div class="container">
                    <img src="/assets/images/eulcs.png" />
                    <h4>League of Legends</h4>
                    <h3>Follow the NA LCS!</h3>
                    <h4>2016 Summer Split</h4>
                    <a class="waves-effect waves-light btn">View League</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contents" ng-class="Page.contentClass">
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
    <br /> Contents
</div>