<div class="evSlider multiple" id="banner">
	<div class="images">
		<div class="image">
			<div class="main">
				<img src="/assets/images/backgrounds/1.jpg" />
			</div>
			<div class="blur">
				<img src="/assets/images/backgrounds/1b.jpg" />
			</div>
			<div class="overlay right">
				<div class="container">
					<img src="/assets/images/eulcs.png" />
					<h4>League of Legends</h4>
					<h3>Follow the EU LCS!</h3>
					<h4>2016 Summer Split</h4>
					<a class="waves-effect waves-light btn">View League</a>
				</div>
			</div>
		</div>
		<div class="image">
			<div class="main">
				<img src="/assets/images/backgrounds/2.jpg" />
			</div>
			<div class="blur">
				<img src="/assets/images/backgrounds/2b.jpg" />
			</div>
			<div class="overlay left">
				<div class="container">
					<img src="/assets/images/eulcs.png" />
					<h4>League of Legends</h4>
					<h3>Follow the NA LCS!</h3>
					<h4>2016 Summer Split</h4>
					<a class="waves-effect waves-light btn">View League</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="contents pad-bottom" ng-class="Page.contentClass">
	<h1 class="container">Featured Leagues</h1>
	<div class="element-container container" ng-repeat="league in Page.nav.leagues track by $index">
		<div class="element-border">
			<div class="element-background" ng-class="Page.elementClass($index)">
				<a ng-href="/league/{{league.slug}}"><img ng-src="{{league.logo}}" /></a>
			</div>
		</div>
		<div class="element-info">
			<div class="element-title">
				<a ng-href="/league/{{league.slug}}">
				<h4 ng-bind="league.name"></h4>
				<span ng-bind="league.subtitle"></span>
				</a>
			</div>
			<div class="element-dates">
				<b>Starts </b><span ng-bind="league.startDate | date: 'EEEE, MMMM dd yyyy'"></span><br />
				<b>Ends </b><span ng-bind="league.endDate | date: 'EEEE, MMMM dd yyyy'"></span>
			</div>
			<div class="element-buttons">
				<a class="waves-effect waves-light btn" ng-click="Page.toggleFollow(league._id, 'leagues')">
					<i class="material-icons left" ng-class="{starred: Page.following(league._id)}">star</i>
					{{Page.following(league._id) ? "Following" : "Follow"}}
				</a>
				<a ng-href="/league/{{league.slug}}" class="waves-effect waves-light btn">View League</a>
			</div>
			<div class="element-footer" ng-bind="league.updated">
			</div>
		</div>
	</div>
	<br />
	<br />
	<h1 class="container">Featured Tournaments</h1>
	<div class="element-container container" ng-repeat="tournament in Page.nav.tournaments track by $index">
		<div class="element-border">
			<div class="element-background" ng-class="Page.elementClass($index)">
				<a ng-href="/tournament/{{tournament.slug}}"><img ng-src="{{tournament.logo}}" /></a>
			</div>
		</div>
		<div class="element-info">
			<div class="element-title">
				<a ng-href="/tournament/{{tournament.slug}}"><h4 ng-bind="tournament.name"></h4></a>
			</div>
			<div class="element-dates">
				<b>Starts </b><span ng-bind="tournament.startDate | date: 'EEEE, MMMM dd yyyy'"></span><br />
				<b>Ends </b><span ng-bind="tournament.endDate | date: 'EEEE, MMMM dd yyyy'"></span>
			</div>
			<div class="element-buttons">
				<a class="waves-effect waves-light btn" ng-click="Page.toggleFollow(tournament._id, 'tournaments')">
					<i class="material-icons left" ng-class="{starred: Page.following(tournament._id)}">star</i>
					{{Page.following(tournament._id) ? "Following" : "Follow"}}
				</a>
				<a ng-href="/tournament/{{tournament.slug}}" class="waves-effect waves-light btn">View tournament</a>
			</div>
			<div class="element-footer" ng-bind="tournament.updated">
			</div>
		</div>
	</div>
</div>
