<div class="evSlider single" id="banner">
	<div class="images">
		<div class="image load-in">
			<div class="main">
				<img ng-src="{{League.data.header}}" />
			</div>
			<div class="blur">
				<img ng-src="{{League.data.header_blur}}" />
			</div>
			<div class="overlay middle">
				<img ng-src="{{League.data.logo}}" />
				<h3 ng-bind="League.data.name"></h3>
				<h4 ng-if="League.data.subtitle === undefined || League.data.subtitle === ''">&nbsp;</h4>
				<h4 ng-if="League.data.subtitle !== undefined && League.data.subtitle !== ''" ng-bind="League.data.subtitle"></h4>
				<a class="waves-effect waves-light btn" ng-click="Page.toggleFollow(League.data._id, 'leagues')">
					<i class="material-icons left" ng-class="{starred: Page.following(League.data._id)}">star</i> {{Page.following(League.data._id) ? "Following" : "Follow"}}
				</a>
				<div class="credits" ng-bind-html="League.data.credits">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="contents pad-bottom league">
	<div class="info">
		<div class="container row">
			<div class="col m12 l4">
				<i class="material-icons">&#xE88F;</i>
				<h6>Format</h6> {{League.data.format}}
				<h6>Patch</h6> {{League.data.patch}}
			</div>
			<div class="col m12 l4">
				<i class="material-icons">&#xE417;</i>
				<h6>Full Stream</h6>
				<span class="text-small">May contain spoilers</span>
				<div class="row watch-online">
					<a ng-if="League.data.youtubeStream" ng-href="{{League.data.youtubeStream}}" class="col s6">
						<img ng-if="Page.contentClass == 'light'" class="responsive-img" src="/assets/images/icons/youtube_full.png" />
						<img ng-if="Page.contentClass == 'dark'" class="responsive-img" src="/assets/images/icons/youtube_full_dark.png" />
					</a>
					<a ng-if="League.data.twitchStream" ng-href="{{League.data.twitchStream}}" class="col s6">
						<img ng-if="Page.contentClass == 'light'" class="responsive-img" src="/assets/images/icons/twitch_full.png" />
						<img ng-if="Page.contentClass == 'dark'" class="responsive-img" src="/assets/images/icons/twitch_full_dark.png" />
					</a>
				</div>
			</div>
			<div class="col m12 l4">
				<i class="material-icons">&#xE8DF;</i>
				<h6>Start Date</h6> {{League.data.startDate | date: 'EEEE, MMMM dd yyyy'}}
				<h6>End Date</h6> {{League.data.endDate | date: 'EEEE, MMMM dd yyyy'}}
			</div>
		</div>
	</div>
	<div class="details slide-toggle" ng-class="{show: League.showDetails}">
		<h4 class="container">Staff</h4>
		<div class="icon-container container">
			<div class="icon" ng-repeat="staff in League.data.staff">
				<svg viewbox="1 1 8 8" class="icon-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
						<defs>
							<pattern ng-attr-id="{{staff._id}}" patternUnits="userSpaceOnUse" width="10" height="10">
								<image ng-attr-href="{{staff.photo}}" x="0" y="0"
									width="10" height="10" />
							</pattern>
						</defs>
						<a ng-href="#" xlink:href="">
							<path class="icon-path" ng-attr-fill="url({{League.abs + '#' +staff._id}})" stroke-width="0.2" d="M5.5 1.5 L8.5 4.5 Q9 5 8.5 5.5 L5.5 8.5 Q5 9 4.5 8.5 L 1.5 5.5 Q1 5 1.5 4.5 L4.5 1.5 Q 5 1 5.5 1.5z" />
						</a>
					</svg>
				<span class="icon-role" ng-bind="staff.role"></span>
				<span>{{staff.forename + " " + staff.surname}}</span>
				<a ng-href="#" class="icon-alias" ng-bind="staff.alias"></a>
			</div>
		</div>
		<h4 class="container">Teams</h4>
		<div class="icon-container container">
			<div class="icon team" ng-repeat="team in League.data.teams">
				<svg viewbox="1 1 8 8" class="icon-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
						<a ng-href="#" xlink:href="">
							<path class="icon-path solid" fill="url(http://localhost:5000/league/eulcs2#bg)" stroke-width="0.2" d="M5.5 1.5 L8.5 4.5 Q9 5 8.5 5.5 L5.5 8.5 Q5 9 4.5 8.5 L 1.5 5.5 Q1 5 1.5 4.5 L4.5 1.5 Q 5 1 5.5 1.5z" />
						</a>
					</svg>
				<div class="team-container"><img ng-src="{{team.icon}}" class="icon-team" /></div>
				<span class="two-lines">
						<a ng-href="#" class="icon-alias" ng-bind="team.name"></a>
					</span>
			</div>
		</div>
	</div>
	<div id="details-jump" class="details-bottom"></div>
	<a class="details-toggle waves-effect waves-light btn" ng-click="League.toggleDetails()">
		<i class="material-icons left">{{League.showDetails ? "&#xE5CE;" : "&#xE5CF;"}}</i> {{League.showDetails ? "less" : "more"}} details
	</a>
	<div class="event-nav container load-in">
		<div class="nav-row">
			<h3 class="material-icons" ng-show="League.sectionIndex > 0" ng-click="League.sectionIndex = League.sectionIndex - 1;League.moduleIndex = 0">&#xE314;</h3>
			<h3 ng-bind="League.data.contents[League.sectionIndex].title"></h3>
			<h3 class="material-icons" ng-show="League.sectionIndex < League.data.contents.length - 1" ng-click="League.sectionIndex = League.sectionIndex + 1;League.moduleIndex = 0">&#xE315;</h3>
		</div>
		<div class="nav-row">
			<h4 class="material-icons" ng-show="League.moduleIndex > 0" ng-click="League.moduleIndex = League.moduleIndex - 1;">&#xE314;</h3>
			<h4 ng-bind="League.data.contents[League.sectionIndex].modules[League.moduleIndex].title">Day 1</h4>
			<h4 class="material-icons" ng-show="League.moduleIndex < League.data.contents[League.sectionIndex].modules.length - 1 " ng-click="League.moduleIndex = League.moduleIndex + 1;">&#xE315;</h3>
		</div>
	</div>
	<div no-ng-animate class="element-container container" ng-repeat="match in League.data.contents[League.sectionIndex].modules[League.moduleIndex].matches">
		<div class="element-border">
			<div class="element-background event-background">
				<span class="element-tag">Q1</span>
				<div class="element-teams">
					<div ng-if="!match.team1.spoiler" class="element-team">
						<img ng-src="{{match.team1.icon}}" class="responsive-img team-large" />
						<span ng-bind="match.team1.tag"></span>
					</div>
					<div ng-if="match.team1.spoiler" class="element-team">
						<span>Team 1</span>
					</div>
					<div class="element-vs">
						VS
					</div>
					<div ng-if="!match.team2.spoiler" class="element-team">
						<img ng-src="{{match.team2.icon}}" class="responsive-img team-large" />
						<span ng-bind="match.team2.tag"></span>
					</div>
					<div ng-if="match.team2.spoiler" class="element-team">
						<span>Team 2</span>
					</div>
				</div>
			</div>
		</div>
		<div class="element-links">
			<div class="element-titles flex-row">
				<h6>Picks & Bans</h6>
				<h6>Game Start</h6>
			</div>
			<div class="element-go row">
				<div class="row col s6">
					<a ng-if="League.data.contents[League.sectionIndex].modules[League.moduleIndex].youtube === true" href="/"  class="col s6"
						ng-class="{'offset-s3': League.data.contents[League.sectionIndex].modules[League.moduleIndex].twitch !== true}"
						ng-href="{{match.youtube.picksBans}}">
						<img ng-if="Page.contentClass == 'light'" class="responsive-img" src="/assets/images/icons/youtube_full.png" />
						<img ng-if="Page.contentClass == 'dark'" class="responsive-img" src="/assets/images/icons/youtube_full_dark.png" />
					</a>
					<a ng-if="League.data.contents[League.sectionIndex].modules[League.moduleIndex].twitch === true" href="/" class="col s6"
						ng-class="{'offset-s3': League.data.contents[League.sectionIndex].modules[League.moduleIndex].youtube !== true}"
						ng-href="{{match.twitch.picksBans}}">
						<img ng-if="Page.contentClass == 'light'" class="responsive-img" src="/assets/images/icons/twitch_full.png" />
						<img ng-if="Page.contentClass == 'dark'" class="responsive-img" src="/assets/images/icons/twitch_full_dark.png" />
					</a>
				</div>
				<div class="row col s6">
					<a ng-if="League.data.contents[League.sectionIndex].modules[League.moduleIndex].youtube === true" href="/" class="col s6"
						ng-class="{'offset-s3': League.data.contents[League.sectionIndex].modules[League.moduleIndex].twitch !== true}"
						ng-href="{{match.youtube.gameStart}}">
						<img ng-if="Page.contentClass == 'light'" class="responsive-img" src="/assets/images/icons/youtube_full.png" />
						<img ng-if="Page.contentClass == 'dark'" class="responsive-img" src="/assets/images/icons/youtube_full_dark.png" />
					</a>
					<a ng-if="League.data.contents[League.sectionIndex].modules[League.moduleIndex].twitch === true" href="/" class="col s6"
						ng-class="{'offset-s3': League.data.contents[League.sectionIndex].modules[League.moduleIndex].youtube !== true}"
						ng-href="{{match.twitch.gameStart}}">
						<img ng-if="Page.contentClass == 'light'" class="responsive-img" src="/assets/images/icons/twitch_full.png" />
						<img ng-if="Page.contentClass == 'dark'" class="responsive-img" src="/assets/images/icons/twitch_full_dark.png" />
					</a>
				</div>
			</div>
			<div class="element-extras">
				<a ng-repeat="column in League.data.contents[League.sectionIndex].modules[League.moduleIndex].columns track by $index"
				 ng-href="{{match.links[$index]}}" ng-bind="column" class="btn flat">
				</a>
			</div>
		</div>
		<!--<div class="element-favourite-back">
		</div>
		<div class="element-favourite">
			<i class="material-icons starred">&#xE838;</i>
		</div>-->
	</div>
</div>
