<div class="evSlider single" id="banner">
    <div class="images">
        <div class="image load-in">
            <div class="main">
                <img ng-src="{{League.data.header}}" />
            </div>
            <div class="blur">
                <img ng-src="{{League.data.header_blur}}" />
            </div>
            <div class="overlay middle">
                <img ng-src="{{League.data.logo}}" />
                <h3 ng-bind="League.data.name"></h3>
                <h4 ng-if="League.data.subtitle === undefined || League.data.subtitle === ''">&nbsp;</h4>
                <h4 ng-if="League.data.subtitle !== undefined && League.data.subtitle !== ''" ng-bind="League.data.subtitle"></h4>
                <div class="credits" ng-bind-html="League.data.credits">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="event-nav">
    <div class="container load-in">
        <nav class="sections-nav">
            <div class="nav-wrapper">
                <ul ng-class="{'squish': (League.data.contents.length > 8)}">
                    <li ng-repeat="section in League.data.contents track by $index" ng-class="{active: League.sectionIndex == $index}">
                        <a ng-click="League.jumpTo($index)" ng-bind="section.title"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="details">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 col-left">
                <h5>Staff</h5>
                <div class="icon-container">
                    <div class="icon" ng-repeat="staff in League.data.staff">
                        <svg viewbox="1 1 8 8" class="icon-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                            <defs>
                                <pattern ng-attr-id="{{staff._id}}" patternUnits="userSpaceOnUse" width="10" height="10">
                                    <image ng-attr-href="{{staff.photo}}" x="0" y="0" width="10" height="10" />
                                </pattern>
                            </defs>
                            <a ng-href="#" xlink:href="">
                                <path class="icon-path" ng-attr-fill="url({{'#' +staff._id}})" stroke-width="0.2" d="M5.5 1.5 L8.5 4.5 Q9 5 8.5 5.5 L5.5 8.5 Q5 9 4.5 8.5 L 1.5 5.5 Q1 5 1.5 4.5 L4.5 1.5 Q 5 1 5.5 1.5z"
                                />
                            </a>
                        </svg>
                        <div class="icon-info">
                            <span class="icon-role" ng-bind="staff.role"></span><br />
                            <span class="icon-name">{{staff.forename + " " + staff.surname}}</span><br />
                            <span class="icon-alias" ng-bind="staff.alias"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 col-right">
                <h5>Teams</h5>
                <div class="icon-container">
                    <div class="icon team" ng-repeat="team in League.data.teams">
                        <svg viewbox="1 1 8 8" class="icon-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                            <a ng-href="/team/{{team.slug}}/{{League.data.game.slug}}" xlink:href="">
                                <path class="icon-path solid" stroke-width="0.2" d="M5.5 1.5 L8.5 4.5 Q9 5 8.5 5.5 L5.5 8.5 Q5 9 4.5 8.5 L 1.5 5.5 Q1 5 1.5 4.5 L4.5 1.5 Q 5 1 5.5 1.5z"
                                />
                            </a>
                        </svg>
                        <div class="team-container"><img ng-src="{{team.icon}}" class="icon-team" /></div>
                        <span class="icon-info">
                                <br />
                                <a ng-href="/team/{{team.slug}}/{{League.data.game.slug}}" class="icon-alias" ng-bind="team.name"></a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contents pad-bottom event" ng-controller="PlayerController as Player">
    <div class="container">
         <h5 ng-bind="League.data.contents[League.sectionIndex].title"></h5>
         <a class="waves-effect waves-light btn btn-dark btn-show load-in" ng-click="League.toggleDetails()">
            <i class="material-icons left" >&#xE88F;</i> Show {{League.showDetails ? "less" : "more"}} details
        </a>
         <i tooltipped data-tooltip="{{Page.following(League.data._id) ? 'Unfollow' : 'Follow'}} Event" data-delay="0" data-position="left" class="material-icons star-right load-in"
             ng-click="Page.toggleFollow(League.data._id)" ng-class="{starred: Page.following(League.data._id)}">star</i>
    </div>
    <div ng-repeat="module in League.data.contents[League.sectionIndex].modules track by $index" class="module">
        <div class="container">
            <h5>
                {{module.title}} {{module.date ? " - " : ""}} {{module.date | date:"MMMM dd, yyyy"}}
            </h5>
        </div>
        <table class="container bordered responsive centered">
            <thead>
                <tr>
                    <th class="fixed">Game</th>
                    <th class="right-align">Team 1</th>
                    <th class="icon"></th>
                    <th class="icon"></th>
                    <th class="icon"></th>
                    <th class="left-align">Team 2</th>
                    <th class="double" ng-if="!League.data.game.simple_tables" colspan="2">{{League.data.game.draftText || "Picks & Bans"}}</th>
                    <th class="filler"></th>
                    <th class="double" colspan="2">Game Start</th>
                    <th class="fixed">Extras</th>
                    <th>Rating</th>
                </tr>
            </thead>

            <tbody ng-repeat="match in module.matches2 track by $index">
                <tr ng-if="match.title" class="title">
                    <td ng-if="League.data.game.simple_tables" colspan="11">
                        <h5 ng-bind="match.title"></h5>
                    </td>
                   <td ng-if="!League.data.game.simple_tables" colspan="9">
                       <h5 ng-bind="match.title"></h5>
                    </td>
                </tr>
                <tr ng-repeat="game in match.data track by $index">
                    <td>{{match.identifier || League.getIdentifier($parent.$parent.$index, $parent.$index)}}{{($index > 0 || match.data.length > 1) ? $index+1 : ''}}</td>
                    <td ng-show="!match.spoiler1 || match.team1H" ng-mouseenter="League.setHover(match, 1, true)" ng-mouseleave="League.setHover(match, 1, false)" class="right-align"><a ng-href="/team/{{match.team1.slug}}/{{League.data.game.slug}}">{{match.team1.name}}</a></td>
                    <td ng-show="!match.spoiler1 || match.team1H" ng-mouseenter="League.setHover(match, 1, true)" ng-mouseleave="League.setHover(match, 1, false)" class="team-icon"><a ng-href="/team/{{match.team1.slug}}/{{League.data.game.slug}}"><img ng-src="{{match.team1.icon}}" /></a></td>
                    <td ng-show="match.spoiler1 && !match.team1H" ng-mouseenter="League.setHover(match, 1, true)" ng-mouseleave="League.setHover(match, 1, false)" class="right-align">{{match.team1Match || "Team 1 "}}</td>
                    <td ng-show="match.spoiler1 && !match.team1H" ng-if="Page.contentClass == 'dark'" ng-mouseenter="League.setHover(match, 1, true)" ng-mouseleave="League.setHover(match, 1, false)" class="table-links"><img src="/assets/images/icons/ev.png" /></td>
                    <td ng-show="match.spoiler1 && !match.team1H" ng-if="Page.contentClass == 'light'" ng-mouseenter="League.setHover(match, 1, true)" ng-mouseleave="League.setHover(match, 1, false)" class="table-links"><img src="/assets/images/icons/ev_dark.png" /></td>
                    <td>VS</td>
                    <td ng-show="match.spoiler2 && !match.team2H" ng-if="Page.contentClass == 'dark'" class="table-links generic-icon" ng-mouseenter="League.setHover(match, 2, true)" ng-mouseleave="League.setHover(match, 2, false)"><img src="/assets/images/icons/ev.png" /></td>
                    <td ng-show="match.spoiler2 && !match.team2H" ng-if="Page.contentClass == 'light'" class="table-links generic-icon" ng-mouseenter="League.setHover(match, 2, true)" ng-mouseleave="League.setHover(match, 2, false)"><img src="/assets/images/icons/ev_dark.png" /></td>
                    <td ng-show="match.spoiler2 && !match.team2H" class="left-align " ng-mouseenter="League.setHover(match, 2, true) " ng-mouseleave="League.setHover(match, 2, false)">{{match.team2Match || "Team 2 "}}</td>
                    <td ng-show="!match.spoiler2 || match.team2H" class="team-icon" ng-mouseenter="League.setHover(match, 2, true)" ng-mouseleave="League.setHover(match, 2, false)"><a ng-href="/team/{{match.team2.slug}}/{{League.data.game.slug}}"><img ng-src=" {{match.team2.icon}} " /></a></td>
                    <td ng-show="!match.spoiler2 || match.team2H" ng-mouseenter="League.setHover(match, 2, true)" ng-mouseleave="League.setHover(match, 2, false)" class="left-align "><a ng-href="/team/{{match.team2.slug}}/{{League.data.game.slug}}">{{match.team2.name}}</a></td>
                    <td ng-if="!League.data.game.simple_tables" class="table-links ">
                        <a ng-if="module.youtube && game.youtube.picksBans " ng-href="{{Player.parseLink(game, game.youtube.picksBans)}} " ng-click="!Page.inlineYoutube ? return : Player.playYoutube(game.youtube.picksBans, match, $event, League.data.contents[League.sectionIndex].title,
                        module.title) ">
                            <img ng-if="Page.contentClass=='light' " class="responsive-img " src="/assets/images/icons/youtube.png " />
                            <img ng-if="Page.contentClass=='dark' " class="responsive-img " src="/assets/images/icons/youtube_dark.png " />
                        </a>
                        <i ng-if="!(module.youtube && game.youtube.picksBans) ">-</i>
                    </td>
                    <td ng-if="!League.data.game.simple_tables" class="table-links ">
                        <a ng-if="module.twitch && game.twitch.picksBans " ng-href="{{Player.parseLink(game, game.twitch.picksBans)}} " ng-click="!Page.inlineTwitch ? return : Player.playTwitch(game.twitch.picksBans, match, $event, League.data.contents[League.sectionIndex].title,
                        module.title) ">
                            <img ng-if="Page.contentClass=='light' " class="responsive-img " src="/assets/images/icons/twitch.png " />
                            <img ng-if="Page.contentClass=='dark' " class="responsive-img " src="/assets/images/icons/twitch_dark.png " />
                        </a>
                        <i ng-if="!(module.twitch && game.twitch.picksBans) ">-</i>
                    </td>
                    <td></td>
                    <td class="table-links ">
                        <a ng-if="module.youtube && game.youtube.gameStart " ng-href="{{Player.parseLink(game, game.youtube.gameStart)}} " ng-click="!Page.inlineYoutube ? return : Player.playYoutube(game.youtube.gameStart, match, $event, League.data.contents[League.sectionIndex].title,
                        module.title) ">
                            <img ng-if="Page.contentClass=='light' " class="responsive-img " src="/assets/images/icons/youtube.png " />
                            <img ng-if="Page.contentClass=='dark' " class="responsive-img " src="/assets/images/icons/youtube_dark.png " />
                        </a>
                        <i ng-if="!(module.youtube && game.youtube.gameStart) ">-</i>
                    </td>
                    <td class="table-links ">
                        <a ng-if="module.twitch && game.twitch.gameStart " ng-href="{{Player.parseLink(game, game.twitch.gameStart)}} " ng-click="!Page.inlineTwitch ? return : Player.playTwitch(game.twitch.gameStart, match, $event, League.data.contents[League.sectionIndex].title,
                        module.title) ">
                            <img ng-if="Page.contentClass=='light' " class="responsive-img " src="/assets/images/icons/twitch.png " />
                            <img ng-if="Page.contentClass=='dark' " class="responsive-img " src="/assets/images/icons/twitch_dark.png " />
                        </a>
                        <i ng-if="!(module.twitch && game.twitch.gameStart) ">-</i>
                    </td>
                    <td>
                        <i ng-if="League.hasExtras(module, game) " ng-attr-data-activates="{{match._id}}-{{$index}}" dropdown data-hover="true " class="material-icons extras-toggle " below-origin="true " alignment="right ">&#xE5CF;</i>
                        <i ng-if="!League.hasExtras(module, game) ">-</i>
                        <ul ng-attr-id="{{match._id}}-{{$index}} " class="dropdown-content match-extras-dd wide ">
                            <li ng-repeat="column in module.columns track by $index " ng-if="game.links[$index] ">
                                <a ng-href="{{Player.parseLink(game, game.links[$index])}}" target="_blank" ng-bind="column "></a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <i ng-if="$parent.$index == 0" class="material-icons" ng-repeat="val in [1,2,3,4,5]"
                            ng-class="{starred: (League.indexRating.show(match._id) ? League.indexRating.hover(match._id) : match.rating) >= val}"
                            ng-mouseenter="League.indexRating.onHover(match._id, val)" ng-mouseleave="League.indexRating.onUnHover(match._id)"
                            ng-click="Page.rate(match._id, val);match.rating = val">star</i>
                        <i ng-if="$index != 0">-</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <svg width="0px " height="0px ">
		<defs>
			<clipPath id="element" clipPathUnits="objectBoundingBox">
				<polygon points="0 0, 0.85 0, 1 1, 0 1 ">
				</polygon>
			</clipPath>
		</defs>
	</svg>
    <div class="ratings-popup z-depth-3">
        <h5>How would you rate this match?</h5>
        <div class="ratings-stars">
            <i class="material-icons" ng-repeat="val in [1,2,3,4,5]"
            ng-click="Page.rate(Player.match._id, val);League.rating.stick(val)"
            ng-mouseenter="League.rating.onHover(val)" ng-mouseleave="League.rating.onUnHover()"
            ng-class="{starred: League.rating.hover >= val}" ng-style="{'transition-delay': 50*val+'ms'}">star</i>
        </div>
    </div>
    <div class="player contents valign-wrapper center-align " ng-class="Page.contentClass " ng-show="Player.show ">
        <i ng-click="Player.back() " class="material-icons back ">&#xE5C4;</i>
        <div>
            <div no-ng-animate ng-show="Player.loaded " class="player-above row ">
                <div class="col s12 ">
                    <h5 class="left-align " ng-bind="League.data.name "></h5>
                    <h5 class="left-align ">{{League.data.subtitle}} {{Player.sectionT}}, {{Player.moduleT}}</h5>
                </div>
            </div>
            <div no-ng-animate ng-show="Player.loaded " class="valign row " id="player" ng-class="Player.type"></div>
            <div no-ng-animate ng-show="Player.loaded && Player.type=='youtube' " class="player-controls ">
                <i ng-click="Player.toggle() " class="material-icons ">{{Player.playing ? "&#xE034; " : "&#xE037; "}}</i>
                <span>
					<span ng-click="Player.skip(-600) ">10m</span>
                <span ng-click="Player.skip(-300) ">5m</span>
                <span ng-click="Player.skip(-60) ">1m</span>
                <span ng-click="Player.skip(-30) ">30s</span>
                <span ng-click="Player.skip(-10) ">10s</span>
                <i class="material-icons ">&#xE020;</i> SKIP
                <i class="material-icons ">&#xE01F;</i>
                <span ng-click="Player.skip(10) ">10s</span>
                <span ng-click="Player.skip(30) ">30s</span>
                <span ng-click="Player.skip(60) ">1m</span>
                <span ng-click="Player.skip(300) ">5m</span>
                <span ng-click="Player.skip(600) ">10m</span>
                </span>
                <span>
					<i ng-click="Player.setVol(0) " class="material-icons ">&#xE050;</i>
					<input class="vol-slider " type="range " min="0 " max="100 " ng-model="Player.volSlider " ng-change="Player.setVol(Player.volSlider) " />
				</span>
            </div>
            <div no-ng-animate ng-show="Player.loaded " class="player-below ">
                <div class="match-details ">
                    <span>
						<img ng-src="{{Player.match.team1.icon}} "/>
						<h4>VS</h4>
						<img ng-src="{{Player.match.team2.icon}} "/>
					</span>
                    <div>
                        <a class="btn flat " ng-click="Player.picks() " ng-if="Player.match[Player.type].picksBans ">{{League.data.contents[League.sectionIndex].draftText || "Picks & Bans "}}</a>
                        <a class="btn flat " ng-click="Player.start() " ng-if="Player.match[Player.type].gameStart ">Game Start</a>
                    </div>
                </div>
            </div>
            <div no-ng-animate ng-show="!Player.loaded " class="row valign preloader-wrapper big active ">
                <div class="spinner-layer spinner-blue ">
                    <div class="circle-clipper left ">
                        <div class="circle "></div>
                    </div>
                    <div class="gap-patch ">
                        <div class="circle "></div>
                    </div>
                    <div class="circle-clipper right ">
                        <div class="circle "></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red ">
                    <div class="circle-clipper left ">
                        <div class="circle "></div>
                    </div>
                    <div class="gap-patch ">
                        <div class="circle "></div>
                    </div>
                    <div class="circle-clipper right ">
                        <div class="circle "></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow ">
                    <div class="circle-clipper left ">
                        <div class="circle "></div>
                    </div>
                    <div class="gap-patch ">
                        <div class="circle "></div>
                    </div>
                    <div class="circle-clipper right ">
                        <div class="circle "></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green ">
                    <div class="circle-clipper left ">
                        <div class="circle "></div>
                    </div>
                    <div class="gap-patch ">
                        <div class="circle "></div>
                    </div>
                    <div class="circle-clipper right ">
                        <div class="circle "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>