<div class="evSlider single" id="banner">
	<div class="images">
		<div class="image">
			<div class="main">
				<img src="/assets/images/backgrounds/1.jpg" />
			</div>
			<div class="blur">
				<img src="/assets/images/backgrounds/1b.jpg" />
			</div>
			<div class="overlay middle">
				<div class="container">
					<h1>User Registration</h1>
					<h4>Create an account to follow your favourite leagues, tournaments and teams.</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="contents">
	<div class="container center-align">
		<div class="row">
			<form autocomplete="false" autofill="false">
				<input name="email" class="hide">
				<input name="password" class="hide">
				<div class="col s12 " id="register">
					<div class="row social-login" ng-hide="RegisterController.data.flow_create">
						<div class="col s3">
							<a href="/login/facebook" target="_self">
								<img class="responsive-img" src="/assets/images/icons/facebook_login.png" />
							</a>
						</div>
						<div class="col s3">
							<a href="/login/twitter" target="_self">
								<img class="responsive-img" src="/assets/images/icons/twitter_login.png" />
							</a>
						</div>
					</div>
					<div class="row" ng-show="RegisterController.data.flow_create">
						<div class="col s12">
							<h4>Please enter a password to finish your registration</h4>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<input-field>
								<input id="email" type="email" ng-model="RegisterController.data.email" required class="validate" />
								<label class="click-through" data-error="Please enter your email address." data-error-original="Please enter your email address.">Email</label>
							</input-field>
						</div>
						<div class="col s6">
							<input-field>
								<input id="name" type="text" ng-model="RegisterController.data.displayName" class="validate force-uppercase" pattern=".{1,30}" length="30" />
								<label class="click-through" data-error="Please enter a display name." data-error-original="Please enter a display name.">Display Name</label>
							</input-field>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<input-field>
								<input id="password" type="password" ng-model="RegisterController.data.password" class="validate" required pattern=".{6,50}" onchange="document.getElementById('password_confirm').pattern = this.value" />
								<label class="click-through" data-error="Password must be at least 6 characters.">Password</label>
							</input-field>
						</div>
						<div class="col s6">
							<input-field>
								<input id="password_confirm" type="password" id="password_confirm" ng-model="RegisterController.data.password_confirm" class="validate" required pattern=".{6,50}" />
								<label class="click-through" data-error="Password confirmation must match.">Confirm Password</label>
							</input-field>
						</div>
					</div>
					<div class="row buttons">
						<div class="col s6 offset-s3">
							<input type="checkbox" class="filled-in" id="tos" checked="checked" ng-model="RegisterController.data.tos" />
      						<label for="tos">I accept the Eventvods.com <a href="/about/terms">Terms of Service & Privacy Policy</a></label>
						</div>
					</div>
					<div class="row buttons">
						<div class="col s6 offset-s3">
							<a class="waves-effect waves-light btn submit" ng-click="RegisterController.register()" tabindex="1">Register</a>
						</div>
					</div>
					<div class="row">
						<div class="col s6 offset-s3">
							<a href="/login">Already got an account? Click here to log in</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
