<div class="evSlider single" id="banner">
    <div class="images">
        <div class="image">
            <div class="main">
                <img src="/assets/images/headers/team.jpg" />
            </div>
            <div class="blur">
                <img src="/assets/images/headers/team_b.jpg" />
            </div>
            <div class="overlay middle">
                <div class="container">
					<h4 class="material-icons force-lowercase icon-text-large">&#xE7FB;</h4>
					<br /><br />
                    <h3>Meet the Team</h3>
                </div>
				<div class="credits">
					&copy; Riot Esports
				</div>
            </div>
        </div>
    </div>
</div>
<div class="contents">
	<div class="container">
		<p class="flow-text">
			Eventvods consists of a team full of enthusiastic people. Eventvods is an online project that started back in 2012 and has grown to be the number 1 source for all esports related videos on demand.
		</p>
		<p class="flow-text">
			LoLeventVoDs was created on the first of September 2012, shortly before the beginning of the Season 2 World Championships A bunch of dedicated volunteers on Reddit with the goal of providing a spoiler-free, competitive League of Legends viewing experience. This “from the community, for the community” project has steadily grown to serve over 200,000 unique visitors monthly.
		</p>
		<div class="row">
			<div class="col s12 m6 section">
				<h3>Clam-</h3>
				<h4>General Manager</h4>
				<p class="flow-text">The big boss. Clam has been around the longest, by far. He took over once the original founders of /r/loleventvods stopped updating. Clam updates across all titles we cover, both on the website and on Reddit and takes care of moderation, finance, finding new volunteers and a whole lot more.</p>
			</div>
			<div class="col s12 m6 section">
				<h3>Simon</h3>
				<h4>Lead Developer</h4>
				<p class="flow-text">Simon is the lead developer of the Eventvods website. Contributing to Eventvods since June 2013 he is, among other things, responsible for the spoiler-free code on the subreddits and creating the Chrome and Firefox extensions. Simon was once almost stabbed to death on a date.</p>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6 section">
				<h3>Murrayz</h3>
				<h4>Marketing & Social Media</h4>
				<p class="flow-text">Everything that has to do with marketing or communications is done by Murrayz. He follows esports closely and tries to contribute where possible but mostly you can find him correcting people writing "eSports" regularly. Poor guy is having a hard time trying to get back into Diamond.</p>
			</div>
			<div class="col s12 m6 section">
				<h3>MorningLight Mountain</h3>
				<h4>Video Expert</h4>
				<p class="flow-text">There's nothing this guy doesn't know about YouTube, streaming, audio etc. Loves trains and airplanes. You can find him on Lirik's Twitch channel 24/7.</p>
			</div>
		</div>
			<div class="row">
			<div class="col s12 m6 section">
				<h3>Punistick</h3>
				<h4><Updater></Updater></h4>
				<p class="flow-text">Our MVU (Most Valuable Updater) from Mexico has been part of the team for almost two years now and he made a lot of our coverage possible, especially when it comes to smaller leagues such as LMS, CBLoL and so on.</p>
			</div>
			<div class="col s12 m6 section">
				<h3>ShySoul</h3>
				<h4>Updater</h4>
				<p class="flow-text">ShySoul has been part of our team since middle of 2015. She's been a vital part of our reddit coverage for various games (League, CSGO & Dota2), but primarily covering LCK and LPL early in the morning while everyone else is asleep!</p>
			</div>
		</div>
	</div>
</div>
