<div class="contextHead">
    <div class="leftSide">
        <h1 ng-bind="staffFormController.title">
        </h1>
    </div>
</div>
<form name="form" id="addStaffForm" ng-cloak>
    <div class="errors" ng-show="staffFormController.errors.length > 0">
        <ul>
            <li ng-repeat="error in staffFormController.errors">{{error.message}}</li>
        </ul>
    </div>
    <div class="section">
        <div class="standard group">
            <label>
                Staff Forename
            </label>
            <input type="text" placeholder="e.g. Paul" ng-model="staffFormController.data.staffForename" data-parsley-trigger="keyup"  required/>
        </div>
        <div class="standard group">
            <label>
                Staff Surname
            </label>
            <input type="text" placeholder="e.g. Chaloner" ng-model="staffFormController.data.staffSurname" data-parsley-trigger="keyup"  required/>
        </div>
        <div class="standard group">
            <label>
                Staff Alias
            </label>
            <input type="text" placeholder="e.g. ReDeYe" ng-model="staffFormController.data.staffAlias" data-parsley-trigger="keyup"  required/>
        </div>
        <div class="standard group">
            <label>
                Staff Role
            </label>
            <ng-typeahead data-id="staffRole" placeholder="e.g. Caster" ng-model="staffFormController.data.staffRole" data="staffFormController.staffRoles" container="#staffRoleError" force-selection="true" required/>
            <div id="staffRoleError" class="typeahead-error">
            </div>
        </div>
        <div class="standard group">
            <label>
                Staff Photo (optional)
            </label>
            <image-drop model="staffFormController.data.staffPhoto" preview-width="64" preview-height="64" />
        </div>
        <br />
        <div class="standard group">
            <a class="btn lg solid icon" ng-click="staffFormController.submit()">
                <i class="fa fa-commenting">
                </i>
                <span ng-bind="staffFormController.title">
                </span>
            </a>
        </div>
    </div>
</form>
<script src="/assets/lib/parsleyjs/dist/parsley.min.js">
</script>
