<div class="contextHead">
    <div class="leftSide">
        <h1 class="title">
            Dashboard
        </h1>
    </div>
</div>
<div class="content">
    <div class="dashboard">
        <div class="tile-row">
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.staff}}
                    </span>
                    <p>
                        Staff
                    </p>
                </div>
            </div>
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.teams}}
                    </span>
                    <p>
                        Teams
                    </p>
                </div>
            </div>
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.articles}}
                    </span>
                    <p>
                        Articles
                    </p>
                </div>
            </div>
        </div>
        <div class="tile-row">
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.users}}
                    </span>
                    <p>
                        Users
                    </p>
                </div>
            </div>
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.updaters}}
                    </span>
                    <p>
                        Updaters
                    </p>
                </div>
            </div>
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.admins}}
                    </span>
                    <p>
                        Admins
                    </p>
                </div>
            </div>
        </div>
		<div class="tile-row">
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.leagues}}
                    </span>
                    <p>
                        Ongoing Leagues
                    </p>
                </div>
            </div>
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.tournaments}}
                    </span>
                    <p>
                        Ongoing Tournaments
                    </p>
                </div>
            </div>
            <div class="tile-cell">
                <div class="badge-wrapper">
                    <span class="badge">
                        {{overviewController.overviewData.completed}}
                    </span>
                    <p>
                        Completed Events
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
