<div class="contextHead">
    <div class="leftSide">
        <h1 class="title" ng-bind="editorController.data.name">
        </h1>
    </div>
	<div class="rightSide">
		<h1>Sections: {{editorController.data.contents.length}}</h1><a class="btn solid icon" ng-click="editorController.addSection()"><i class="fa fa-plus fa-fw"></i><span>Add Section</span></a><a class="btn solid icon" ng-click="editorController.save()"><i class="fa fa-save fa-fw"></i><span>Save</span></a>
	</div>
</div>
<div class="tabs" sv-root sv-part="editorController.data.contents" sv-on-sort="editorController.tabSorted($item, $partFrom, $partTo, $indexFrom, $indexTo)">
	<span sv-element ng-repeat="section in editorController.data.contents track by $index" ng-class="{selected: editorController.tab == $index}" ng-click="editorController.tab = $index">
		<i sv-handle class="fa fa-sort fa-lg fa-rotate-90"></i>
		{{section.title}}
		<i class="fa fa-trash fa-lg del" ng-click="editorController.deleteSection($index)"></i>
    </span>
</div>
<div class="section-container sortable-container" ng-repeat="section in editorController.data.contents track by $index" ng-show="editorController.tab == $index" sv-root sv-part="section.modules">
	<span class="flex">
		<h1 editable-text="section.title" ng-bind="section.title"></h3>
		<a class="btn solid icon" ng-click="editorController.addModule()"><i class="fa fa-plus fa-fw"></i><span>Add Module</span></a>
	</span>
	<div class="module-container" sv-element ng-repeat="module in section.modules track by $index" class="module-container">
		<div class="flex"><i sv-handle class="fa fa-bars fa-lg"></i><h2 editable-text="module.title" ng-bind="module.title"></h2><i class="fa fa-lg fa-trash del" ng-click="editorController.deleteModule($index)"></i></div>
		<table class="matches standard" sv-root sv-part="module.matches">
			<tr class="columns">
				<th ng-repeat="column in module.columns track by $index">
					<span editable-text="column">{{column}} </span>
					<i class="fa fa-lg fa-trash del" ng-show="$index > 1" ng-click="editorController.deleteColumn(module, $index)"></i>
				</th>
				<th class="center">
					Spoiler
				</th>
				<th class="center">
					Placeholder
				</th>
				<th></th>
				<th>
					<i class="fa fa-lg fa-plus" ng-click="editorController.addColumn($index)"></i>
				</th>

			</tr>
			<tr class="match" ng-repeat="match in module.matches track by $index">
				<td><span editable-select="match.team1" e-ng-options="team.name for team in editorController.data.teams" e-placeholder="Select Team">{{match.team1.name || "Select Team"}}</span></td>
				<td><span editable-select="match.team2" e-ng-options="team.name for team in editorController.data.teams" e-placeholder="Select Team">{{match.team2.name || "Select Team"}}</span></td>
				<td ng-repeat="url in match.links track by $index">
					<span editable-text="match.links[$index]">{{match.links[$index] || "Insert Link"}}</span>
				</td>
				<td class="center">
					<input type="checkbox" ng-model="match.spoiler" ng-attr-id="sp_{{$index}}"/>
					<label ng-attr-for="sp_{{$index}}"></label>
				</td>
				<td class="center">
					<input type="checkbox" ng-model="match.placeholder" ng-attr-id="ph_{{$index}}"/>
						<label ng-attr-for="ph_{{$index}}"></label>
				</td>
				<td class="center">
					<i class="fa fa-lg fa-files-o" ng-click="editorController.duplicateMatch(module, $index)"></i>
				</td>
				<td>
					<i class="fa fa-lg fa-trash del" ng-click="editorController.deleteMatch(module, $index)"></i>
				</td>
			</tr>
			<tr>
				<td>
					<i class="fa fa-lg fa-plus" ng-click="editorController.addMatch($index)"></i>
				</td>
			</tr>
		</table>
		</div>
	</div>
</div>
