<div class="contextHead">
	<div class="leftSide">
		<h1 class="title" ng-bind="editorController.data.name">
		</h1>
	</div>
	<div class="rightSide">
		<a class="btn solid icon" ng-click="editorController.manage = !editorController.manage">
			<i class="fa fa-indent fa-fw"></i>
			<span>{{editorController.manage? "Manage Links" : "Manage Tables"}}</span>
		</a>
		<a class="btn solid icon" ng-click="editorController.save()"><i class="fa fa-save fa-fw"></i><span>Save</span></a>
	</div>
</div>

<div class="editor-selector" ng-show="!editorController.manage">
	<div class="row">
		<i class="fa fa-2x fa-chevron-left" ng-show="editorController.sectionIndex > 0" ng-click="editorController.sectionIndex = editorController.sectionIndex - 1"></i>
		<span class="section-title" ng-bind="editorController.data.contents[editorController.sectionIndex].title"></span>
		<i class="fa fa-2x fa-chevron-right" ng-show="editorController.sectionIndex < editorController.data.contents.length -1 "
						ng-click="editorController.sectionIndex = editorController.sectionIndex + 1"></i>
	</div>
	<div class="row">
		<i class="fa fa-2x fa-chevron-left" ng-show="editorController.moduleIndex > 0" ng-click="editorController.moduleIndex = editorController.moduleIndex - 1"></i>
		<span class="section-title" ng-bind="editorController.data.contents[editorController.sectionIndex].modules[editorController.moduleIndex].title"></span>
		<i class="fa fa-2x fa-chevron-right" ng-show="editorController.moduleIndex < editorController.data.contents[editorController.sectionIndex].modules.length -1 "
						ng-click="editorController.moduleIndex = editorController.moduleIndex + 1"></i>
	</div>
</div>
<div class="sortable-container" ng-show="editorController.manage" sv-root="section" sv-part="editorController.data.contents">
	<a class="btn solid icon" ng-click="editorController.addSection()"><i class="fa fa-plus fa-fw"></i><span>Add Section</span></a>
	<div class="parent-flex" ng-repeat="section in editorController.data.contents track by $index" sv-element>
		<div>
			<span><i sv-handle class="fa fa-lg fa-fw fa-bars"></i><span editable-text="section.title">{{section.title}}</span></span>
			<a class="float-right del" ng-click="editorController.deleteSection($index)">
				<i class="fa fa-times fa-2x fa-fw"></i>
			</a>
		</div>
		<div class="indent" sv-root="module" sv-part="section.modules">
			<div sv-element ng-repeat="module in section.modules track by $index">
				<span><i sv-handle class="fa fa-lg fa-fw fa-bars"></i>{{editorController.getIdentifier($parent.$index, $index)}} <span editable-text="module.title">{{module.title}}</span></span>
				<a class="float-right del" ng-click="editorController.deleteModule($parent.$index, $index)">
					<i class="fa fa-times fa-lg fa-fw"></i>
				</a>
			</div>
		</div>
		<span><a class="btn solid icon" ng-click="editorController.addModule($index)"><i class="fa fa-plus fa-fw"></i><span>Add Table</span></a>
		</span>
	</div>
</div>
<div class="section-container" ng-repeat="section in editorController.data.contents track by $index" ng-show="editorController.sectionIndex == $index && !editorController.manage">
	<div class="matches-container" ng-show="editorController.moduleIndex == $index" ng-repeat="module in section.modules track by $index"
					class="module-container" sv-root sv-part="module.matches">
		<div class="module-settings">
			<b>Module Settings</b>
			<span>
				Youtube
				<input type="checkbox" ng-model="module.youtube" ng-attr-id="yt_{{$parent.$id}}_{{$id}}" />
				<label ng-attr-for="yt_{{$parent.$id}}_{{$id}}"></label>
			</span>
			<span>
				Twitch
				<input type="checkbox" ng-model="module.twitch" ng-attr-id="tw_{{$parent.$id}}_{{$id}}" />
				<label ng-attr-for="tw_{{$parent.$id}}_{{$id}}"></label>
			</span>
			<b>Custom Columns <i ng-click="editorController.addColumn($parent.$index, $index)" class="fa fa-align fa-lg fa-plus fa-fw"></i></b>
			<span class="front">
				<span ng-repeat-start="column in module.columns track by $index" ng-bind="module.columns[$index]" editable-text="module.columns[$index]" ></span>
				<i ng-repeat-end ng-click="editorController.removeColumn($parent.$parent.$index, $parent.$index, $index)" class="fa fa-lg fa-times fa-fw"></i>
			</span>
			<span class="pull-right behind">
				<a class="btn solid icon " ng-click="editorController.addMatch($parent.$parent.$index, $parent.$index)"><i class="fa fa-plus fa-fw"></i><span>Add Match</span></a>
			</span>
		</div>
		<div class="element-container" ng-repeat="match in module.matches track by $index" sv-element>
			<div class="element-border">
				<div class="element-background event-background">
					<span class="element-tag"><i sv-handle class="fa fa-sort fa-fw"></i> {{editorController.getIdentifier($parent.$parent.$index, $parent.$index) + ($index+1)}}</span>
					<div class="element-teams">
						<div ng-show="!(match.team1 === undefined || match.team1 === null)" class="element-team">
							<img ng-src="{{match.team1.icon}}" class="responsive-img team-large" />
							<span editable-select="match.team1" e-ng-options="team.name for team in editorController.data.teams" e-placeholder="Select Team"
											ng-bind="match.team1.tag"></span>
							<span>
								<input type="checkbox" ng-model="match.team1.spoiler" ng-attr-id="sp_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}" />
								<label ng-attr-for="sp_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}"></label>
								<label ng-attr-for="sp_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}">spoilers</b>
							</span>
						</div>
						<div ng-show="match.team1 === undefined || match.team1 === null" class="element-team">
							<span editable-select="match.team1" e-ng-options="team.name for team in editorController.data.teams" e-placeholder="Select Team">Select Team</span>
						</div>
						<div class="element-vs">
							VS
						</div>
						<div ng-show="!(match.team2 === undefined || match.team2 === null)" class="element-team">
							<img ng-src="{{match.team2.icon}}" class="responsive-img team-large" />
							<span editable-select="match.team2" e-ng-options="team.name for team in editorController.data.teams" e-placeholder="Select Team"
											ng-bind="match.team2.tag"></span>
							<span>
								<input type="checkbox" ng-model="match.team2.spoiler" ng-attr-id="sp_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}_2" />
								<label ng-attr-for="sp_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}_2"></label>
								<label ng-attr-for="sp_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}_2">spoilers</label>
							</span>
						</div>
						<div ng-show="match.team2 === undefined || match.team2 === null" class="element-team">
							<span editable-select="match.team2" e-ng-options="team.name for team in editorController.data.teams" e-placeholder="Select Team">Select Team</span>
						</div>
					</div>
				</div>
			</div>
			<div class="element-links">
				<div class="element-titles flex-row">
					<h6>Picks & Bans</h6>
					<h6>Game Start</h6>
				</div>
				<div class="element-go row">
					<div class="element-half">
						<span ng-if="module.youtube" editable-text="match.youtube.picksBans" class="element-button">
							Youtube
						</span>
						<span ng-if="module.twitch" editable-text="match.twitch.picksBans" class="element-button">
							Twitch
						</span>
					</div>
					<div class="element-half">
						<span ng-if="module.youtube" editable-text="match.youtube.gameStart" class="element-button">
							Youtube
						</span>
						<span ng-if="module.twitch" editable-text="match.twitch.gameStart" class="element-button">
							Twitch
						</span>
					</div>
				</div>
				<div class="element-extras">
					<span ng-repeat="column in module.columns track by $index" class="element-button" ng-bind="column" editable-text="match.links[$index]" >
					</span>
				</div>
				<div class="element-favourite-back">
				</div>
				<div class="element-favourite">
					<i ng-click="editorController.removeMatch($parent.$parent.$parent.$index, $parent.$index, $index)" class="fa fa-fw fa-3x fa-times"></i>
				</div>
			</div>
		</div>


		<!--<table class="matches standard" >
			<tr class="columns">
				<th>
					Team 1
				</th>
				<th class="center">
					Spoiler
				</th>
				<th>
					Team 2
				</th>
				<th class="center">
					Spoiler
				</th>
				<th ng-repeat="column in module.columns track by $index">
					<span editable-text="column">{{column}} </span>
					<i class="fa fa-lg fa-trash del" ng-show="$index > 1" ng-click="editorController.deleteColumn(module, $index)"></i>
				</th>
				<th class="center">
					Placeholder
				</th>
				<th></th>
				<th>
					<i class="fa fa-lg fa-plus" ng-click="editorController.addColumn($index)"></i>
				</th>

			</tr>
			<tr class="match" ng-repeat="match in module.matches track by $index">
				<td><span editable-select="match.team1" e-ng-options="team.name for team in editorController.data.teams" e-placeholder="Select Team">{{match.team1.name || "Select Team"}}</span></td>
				<td class="center">
					<input type="checkbox" ng-model="match.team1.spoiler" ng-attr-id="sp_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}" />
					<label ng-attr-for="sp_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}"></label>
				</td>
				<td><span editable-select="match.team2" e-ng-options="team.name for team in editorController.data.teams" e-placeholder="Select Team">{{match.team2.name || "Select Team"}}</span></td>
				<td class="center">
					<input type="checkbox" ng-model="match.team2.spoiler" ng-attr-id="sp_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}_2" />
					<label ng-attr-for="sp_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}_2"></label>
				</td>
				<td ng-repeat="url in match.links track by $index">
					<span editable-text="match.links[$index]">{{match.links[$index] || "Insert Link"}}</span>
				</td>
				<td class="center">
					<input type="checkbox" ng-model="match.placeholder" ng-attr-id="ph_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}" />
					<label ng-attr-for="ph_{{$parent.$parent.$id}}_{{$parent.$id}}_{{$id}}"></label>
				</td>
				<td class="center">
					<i class="fa fa-lg fa-files-o" ng-click="editorController.duplicateMatch(module, $index)"></i>
				</td>
				<td>
					<i class="fa fa-lg fa-trash del" ng-click="editorController.deleteMatch(module, $index)"></i>
				</td>
			</tr>
			<tr>
				<td>
					<i class="fa fa-lg fa-plus" ng-click="editorController.addMatch($index)"></i>
				</td>
			</tr>
		</table>-->
	</div>
</div>
