<div class="contextHead">
    <div class="leftSide">
        <h1>
            Featured Content
        </h1>
    </div>
    <div class="rightSide">
        <a class="btn lg solid icon" ng-click="featuredSelectController.save()">
			<i class="fa fa-save">
				</i>
            <span>
				Save
            </span>
        </a>
    </div>
</div>
<div class="tabs">
    <span ng-class="{selected: featuredSelectController.tab == 1}" ng-click="featuredSelectController.tab = 1">
        Games
    </span>
    <span ng-class="{selected: featuredSelectController.tab == 2}" ng-click="featuredSelectController.tab = 2">
        Events
    </span>
	<span ng-class="{selected: featuredSelectController.tab == 3}" ng-click="featuredSelectController.tab = 3">
        Articles
    </span>
</div>
<div class="sortable-container" sv-root sv-part="featuredSelectController.data.games" ng-show="featuredSelectController.tab == 1">
	<div>
		<span><select ng-options="game.name for game in featuredSelectController.games" ng-model="featuredSelectController.selectedGame">
		</select></span>
		<a class="btn lg icon-only float-right" ng-click="featuredSelectController.addGame()">
			<i class="fa fa-plus fa-lg fa-fw">
			</i>
		</a>
	</div>
	<div ng-repeat="game in featuredSelectController.data.games track by $index" sv-element>
		<span><i sv-handle class="fa fa-lg fa-fw fa-bars"></i>{{$index + 1}} {{game.name}}</span>
		<a class="btn lg icon-only float-right del" ng-click="featuredSelectController.deleteGame($index)">
			<i class="fa fa-minus-circle fa-lg fa-fw">
			</i>
		</a>
	</div>
</div>
<div class="sortable-container" sv-root sv-part="featuredSelectController.data.events" ng-show="featuredSelectController.tab == 2">
	<div>
		<span><select ng-options="event.name for event in featuredSelectController.events" ng-model="featuredSelectController.selectedEvent">
		</select></span>
		<a class="btn lg icon-only float-right" ng-click="featuredSelectController.addEvent()">
			<i class="fa fa-plus fa-lg fa-fw">
			</i>
		</a>
	</div>
	<div ng-repeat="event in featuredSelectController.data.events track by $index" sv-element>
		<span><i sv-handle class="fa fa-lg fa-fw fa-bars"></i>{{$index + 1}} {{event.name}}</span>
		<a class="btn lg icon-only float-right del" ng-click="featuredSelectController.deleteEvent($index)">
			<i class="fa fa-minus-circle fa-lg fa-fw">
			</i>
		</a>
	</div>
</div>
<div class="sortable-container" sv-root sv-part="featuredSelectController.data.articles" ng-show="featuredSelectController.tab == 3">
	<div>
		<span><select ng-options="article.title for article in featuredSelectController.articles" ng-model="featuredSelectController.selectedArticle">
		</select></span>
		<a class="btn lg icon-only float-right" ng-click="featuredSelectController.addArticle()">
			<i class="fa fa-plus fa-lg fa-fw">
			</i>
		</a>
	</div>
	<div ng-repeat="article in featuredSelectController.data.articles track by $index" sv-element>
		<span><i sv-handle class="fa fa-lg fa-fw fa-bars"></i>{{$index + 1}} {{article.title}}</span>
		<a class="btn lg icon-only float-right del" ng-click="featuredSelectController.deleteArticle($index)">
			<i class="fa fa-minus-circle fa-lg fa-fw">
			</i>
		</a>
	</div>
</div>
