<div class="contextHead">
    <div class="leftSide">
        <h1>
            Featured Content
        </h1>
    </div>
    <div class="rightSide">
        <a class="btn lg solid" ng-click="featuredSelectController.save()">
            <span>
				Save
            </span>
        </a>
    </div>
</div>
<div class="tabs">
    <span ng-class="{selected: featuredSelectController.tab == 1}" ng-click="featuredSelectController.tab = 1">
        Games
    </span>
    <span ng-class="{selected: featuredSelectController.tab == 2}" ng-click="featuredSelectController.tab = 2">
        Leagues
    </span>
    <span ng-class="{selected: featuredSelectController.tab == 3}" ng-click="featuredSelectController.tab = 3">
        Tournaments
    </span>
</div>
<div class="sortable-container" sv-root sv-part="featuredSelectController.data.games" ng-show="featuredSelectController.tab == 1">
	<div>
		<span><select ng-options="game.name for game in featuredSelectController.games" ng-model="featuredSelectController.selectedGame">
		</select></span>
		<a class="btn lg icon-only float-right" ng-click="featuredSelectController.addGame()">
			<i class="fa fa-plus fa-lg fa-fw">
			</i>
		</a>
	</div>
	<div ng-repeat="game in featuredSelectController.data.games track by $index" sv-element>
		<span><i sv-handle class="fa fa-lg fa-fw fa-bars"></i>{{$index + 1}} {{game.name}}</span>
		<a class="btn lg icon-only float-right del" ng-click="featuredSelectController.deleteGame($index)">
			<i class="fa fa-minus-circle fa-lg fa-fw">
			</i>
		</a>
	</div>
</div>
<div class="sortable-container" sv-root sv-part="featuredSelectController.data.leagues" ng-show="featuredSelectController.tab == 2">
	<div>
		<span><select ng-options="league.name for league in featuredSelectController.leagues" ng-model="featuredSelectController.selectedLeague">
		</select></span>
		<a class="btn lg icon-only float-right" ng-click="featuredSelectController.addLeague()">
			<i class="fa fa-plus fa-lg fa-fw">
			</i>
		</a>
	</div>
	<div ng-repeat="league in featuredSelectController.data.leagues track by $index" sv-element>
		<span><i sv-handle class="fa fa-lg fa-fw fa-bars"></i>{{$index + 1}} {{league.name}}</span>
		<a class="btn lg icon-only float-right del" ng-click="featuredSelectController.deleteLeague($index)">
			<i class="fa fa-minus-circle fa-lg fa-fw">
			</i>
		</a>
	</div>
</div>
<div class="sortable-container" sv-root sv-part="featuredSelectController.data.tournaments" ng-show="featuredSelectController.tab == 3">
	<div>
		<span><select ng-options="tournament.name for tournament in featuredSelectController.tournaments" ng-model="featuredSelectController.selectedTournament">
		</select></span>
		<a class="btn lg icon-only float-right" ng-click="featuredSelectController.addTournament()">
			<i class="fa fa-plus fa-lg fa-fw">
			</i>
		</a>
	</div>
	<div ng-repeat="tournament in featuredSelectController.data.tournaments track by $index" sv-element>
		<span><i sv-handle class="fa fa-lg fa-fw fa-bars"></i>{{$index + 1}} {{tournament.name}}</span>
		<a class="btn lg icon-only float-right del" ng-click="featuredSelectController.deleteTournament($index)">
			<i class="fa fa-minus-circle fa-lg fa-fw">
			</i>
		</a>
	</div>
</div>
