extends layout
block vars
	-var currentPage = "Dashboard";
block content
	div.content
		.appcontainer(ng-app="eventApp" ng-controller="overviewController as overviewController")
			h1.title Overview
			//Recent events
			.section(ng-cloak)
				h2.title Recent Events
				a.btn(href="/events") View Events
				div.row-list(ng-repeat="event in overviewController.overviewData.recent | orderBy: '-eventEndDate'")
					div.item
						div.imageContain
							img.eventImage(src="/assets/images/event-image-sm.jpg")
							div.overlay
						div.eventDate {{event.eventStartDate | date : "dd MMM"}}
						-
						div.eventDate {{event.eventEndDate | date : "dd MMM"}}
						div.eventGame {{event.game}}
						div.eventTitle {{event.eventTitle | limitTo: 75}}
						div.eventStatus {{event.status}}
				p(ng-show="overviewController.overviewData.recent.length == 0")
					| No recent events.
			//Ongoing events
			.section(ng-cloak)
				h2.title Ongoing Events
				a.btn(href="/events") View Events
				div.row-list(ng-repeat="event in overviewController.overviewData.data.ongoing")
					div.item
						div.imageContain
							img.eventImage(src="/assets/images/event-image-sm.jpg")
							div.overlay
						div.eventDate {{event.eventStartDate | date : "dd MMM"}}
						-
						div.eventDate {{event.eventEndDate | date : "dd MMM"}}
						div.eventGame {{event.game}}
						div.eventTitle {{event.eventTitle | limitTo: 75}}
						div.eventStatus {{event.status}}
				p(ng-show="overviewController.overviewData.ongoing.length == 0")
					| No ongoing events.
			//Upcoming events
			.section(ng-cloak)
				h2.title Upcoming Events
				a.btn(href="/events") View Events
				div.row-list(ng-repeat="event in overviewController.overviewData.upcoming")
					div.item
						div.imageContain
							img.eventImage(src="/assets/images/event-image-sm.jpg")
							div.overlay
						div.eventDate {{event.eventStartDate | date : "dd MMM"}}
						-
						div.eventDate {{event.eventEndDate | date : "dd MMM"}}
						div.eventGame {{event.game}}
						div.eventTitle {{event.eventTitle | limitTo: 75}}
						div.eventStatus {{event.status}}
				p(ng-show="overviewController.overviewData.upcoming.length == 0")
					| No upcoming events.
			//Data mgr
			.section(ng-cloak)
				h2.title Data Manager
				.box
					span.data Casters
					span.count {{overview.casters}}
				.box
					span.data Maps
					span.count {{overview.maps}}
				.box
					span.data Teams
					span.count {{overview.teams}}

			//User mgr
			.section(ng-cloak)
				h2.title User Manager

block scripts
	script(src='/assets/js/app/app.js')
	script(src='/assets/js/app/resources/overviewResource.js')
	script(src='/assets/js/app/services/overviewService.js')
	script(src='/assets/js/app/controllers/overviewController.js')
