html {
	min-height: 100%;
}
[ng-cloak] {
  display: none !important;
}
body {
	background: rgb(60,60,98);
	background: -moz-linear-gradient(top,  rgba(60,60,98,1) 17%, rgba(39,39,63,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(60,60,98,1) 17%,rgba(39,39,63,1) 100%);
	background: linear-gradient(to bottom,  rgba(60,60,98,1) 17%,rgba(39,39,63,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c62', endColorstr='#27273f',GradientType=0 );
}
.text {
	&-accent {
		color: @accent-green;
	}
	&-red {
		color: darkred;
	}
}

#banner {
	top: -@nav-height;
}
.input-field label {
    text-transform: uppercase;
}
#loading-bar .bar {
	background: @accent-green!important;
	height: 5px!important;
}
#loading-bar-spinner {
	top: 16px!important;
	left: 16px!important;
	.spinner-icon {
		width: 32px!important;
		height: 32px!important;
		border-top-color: @accent-green!important;
		border-left-color: @accent-green!important;
	}
}
