.element-container {
	margin: 25px auto;
	overflow: hidden;
	flex-wrap: nowrap;
	align-items: center;
	display: flex;
	padding: 0!important;
	border-bottom: 2px solid @accent-green;
	i.starred {
		color: goldenrod!important;
	}
	.element-border {
		flex-basis: 0px;
		height: 200px;
		flex-grow: 1;
		width: 33%;
		clip-path: url("../../../../#element");
		max-width: 600px;
		position: relative;
		left: 20px;
		background: @default-blue;
		.element-background {
			height: 200px;
			width: 100%;
			clip-path: url("../../../../#element");
			position: relative;
			padding-right: 10%;
			left: -20px;
			> a {
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				> img {
					vertical-align: middle;
					pointer-events: none;
					max-height: 80%;
					max-width: 70%;
				}
			}
			&.element-1 {
				background: url('/assets/images/elements/1.jpg');
			}
			&.element-2 {
				background: url('/assets/images/elements/2.jpg');
			}
			&.element-3 {
				background: url('/assets/images/elements/3.jpg');
			}
		}
	}
	.element-info {
		flex-basis: 0;
		flex-grow: 2;
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		.element-title {
			a {
				color: inherit!important;
			}
			h4 {
				margin: 6px auto;
				font-weight: 500;
				font-size: 2.1em;
			}
			span {
				font-size: larger;
			}
		}
		.element-buttons a {
			margin: 0 25px;
			width: 240px;
			&:first-child {
				background: @default-blue;
			}
			i {
				transition: color 0.3s linear;
			}
			transition: width 0.3s linear;
		}
		.element-footer, .element-dates, .element-title {
			text-transform: uppercase;
		}
	}
}
