.load-in {
	opacity: 0;
	transition: opacity 0.3s linear;
	&.loaded {
		opacity: 1;
	}
}
i.star-right {
	position: absolute;
	right: 0;
	top: -10px;
	font-size: 4em;
	transition: color 0.3s linear;
	&.starred {
		color: darkgoldenrod;
	}
}
table.container {
	background: @accent-white!important;
	table-layout: fixed;
	a {
		color: inherit!important;
	}
	.right-align {
		text-align: right!important;
	}
	.left-align {
		text-align: left!important;
	}
	background: @default-blue;
	tr, td {
		height: 70px;
		overflow: hidden;
	}
	td, th {
		padding: 5px;
	}
	.match-extras-dd li a {
		color: @default-blue;
	}
	.extras-toggle {
		position: relative;
		top: 4px;
	}
	th.icon {
		width: 85px;
	}
	th.fixed {
		width: 100px;
	}
	th.double {
		width: 150px;
	}
	th.filler {
		width: 50px;
	}
	td.table-links, td.team-icon {
		padding-bottom: 0;
		img {
			max-height: 60px;
			max-width: 70px;
			pointer-events: none;
		}
		a {
			display: block;
			&:hover {
				opacity: 0.6;
			}
		}
	}
	td.table-links {
		i {
			opacity: 0.6;
		}
		a {
			opacity: 0.6;
			&:hover {
				opacity: 1;
			}
		}
	}

	tr.title {
		height: 40px;
		td {
			height: 40px;
			text-align: left;
			padding-left: 10px;
		}
		h5 {
			font-size: 1rem;
		}
	}
}
.dark table.container {
	background: @dark-blue!important;
	> thead > tr {
		border-bottom: 1px solid @darker-blue;
	}
	> tbody > tr {
		border-bottom: 1px solid @darker-blue;
		background-color: @default-blue;
	}
	.match-extras-dd {
		background-color: @default-blue;
		li:hover {
			background-color: @dark-blue;
		}
		li a {
			color: @accent-white;
		}
	}
}
.event-nav {
	background: @default-blue;
	.nav-wrapper {
		overflow: hidden;
	}
}
nav.sections-nav {
	background-color: @default-blue;
	.box-shadow-none();
	ul  {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			flex-grow: 1;
			a {
				width: 100%;
				text-transform: uppercase;
				color: white!important;
				text-align: center;
				overflow: hidden;
			}
		}
	}
}
.event.contents, .dark .event.contents {
	.container {
		background: transparent;
		text-align: left;
		padding: 0;
		position: relative;
		h5 {
			display: inline-table;
			text-transform: uppercase;
		}
	}
}
.ratings-popup {
	z-index: 10008;
	position: fixed;
	right: 50px;
	bottom: 0;
	width: 400px;
	height: 100px;
	opacity: 0;
	background: @dark-blue;
	transition: all 0.3s ease-in-out;
	.ratings-stars i {
		font-size: 200%;
		transition: all 0.3s ease-in-out;
		position: relative;
		bottom: -50px;
	}
	&.show {
		opacity: 1;
		bottom: 50px;
		.ratings-stars i {
			bottom: 0px;
		}
	}
}
.btn-dark {
	background: @default-blue;
	&:hover {
		background: @dark-blue;
	}
}
.btn-show {
	display: inline-table;
	top: -5px;
	left: 25px;
}
.details {
	display: none;
	border-bottom: 5px solid @default-blue;
	background: url('/assets/images/backgrounds/pattern_light.png') repeat @accent-white;
	transition: background 0.3s linear;
	color: @default-blue;
	.container {
		padding: 15px;
		background: transparent!important;
	}
	h5 {
		text-transform: uppercase;
		border-bottom: 3px solid @accent-green;
		text-align: center;
		.gotham-med();
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
	}
	.col-left {
		border-right: 1px solid @dark-blue;
	}
	.col-right {
		border-left: 1px solid @dark-blue;
	}
}

.dark .details {
	background: url('/assets/images/backgrounds/pattern_dark.png') repeat @default-blue;
	color: white;
}
.icon-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: transparent!important;
	padding: 0!important;
	margin-left: -50px;
	margin-right: -50px;
	.icon {
		.gotham-med();
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		text-align: center;
		margin: 25px 5px;
		width: 150px;
		height: 175px;
		position: relative;
		.icon-info {
			height: 100px;
			font-size: 90%;
		}
		.icon-image, .team-container {
			width: 75px;
			height: 75px;
		}
		.team-container {
			pointer-events: none;
			height: 75px;
			position: absolute;
			top: 0;
			left: 38px;
			display: flex;
			justify-content: center;
			align-items: center;
			> img {
				max-width: 50%;
				max-height: 50%;
			}
		}
		.icon-role, .icon-alias {
			text-transform: uppercase;
			color: @accent-green;
		}
		.icon-path {
			stroke: @dark-blue;
			transition: stroke 0.5s linear;
			&.solid {
				fill: @default-blue;
			}
			&:hover {
				stroke: @accent-green;
				cursor: pointer;
			}
		}
	}
}

.overlay.middle a.btn,
a.btn.details-toggle {
	i {
		transition: color 0.3s linear;
	}
	transition: width 0.3s linear;
	width: 250px;
}
a.btn.details-toggle {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	position: relative;
	top:-35px;
	line-height: 39px;
	.gotham-med();
	background: @default-blue;
	opacity: 0;
	.transition(opacity, 2s, ease-in-out);
	&.loaded {
		opacity: 1;
	}
}
.overlay.middle a.btn {

	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	position: relative;
	bottom: -6px;
}
.squish a.section-handle {
	font-size: 75%;
	padding: 0 5px;
}
.container.extra-info {
	background: transparent!important;
	i.material-icons {
		position: relative;
		top: 6px;
	}
}
