input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

input[type=checkbox]:not(:checked) + .err, input[type=checkbox]:not(:checked) + .err a {
	transition: color 0.3s linear;
	color: @accent-error!important;
}
.input-field {
	margin-bottom: 25px;
	label, input {
		.gotham-med();
	}
	label {
		text-align: left;
		transition: color 0.3s linear, transform 0.2s ease-out, font-size 0.2s ease-out;
		text-transform: uppercase;
		&.active {
			color: @accent-green!important;
		}
		&:after {
			top: 45px;
		}
		&.active:after {
			opacity: 0!important;
		}
		&.click-through {
			pointer-events: none;
		}
		&.center-label {
			width: auto;
		}
	}
	input[type="checkbox"]:not(:checked) + label {
		color: @accent-error!important;
	}
}
.buttons {
	margin-top: 25px;
}
.btn {
	background-color: @accent-green;
	&:hover {
		background-color: lighten(@accent-green, 5%);
	}
}
.contents.light {
	.input-field label, .input-field input {
		color: @default-blue;
	}
}
.contents.dark {
.input-field label, .input-field input {
		color: white;
	}
}
