input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
label, input {
	.gotham-med();
	color: inherit;
}
input[type=checkbox]:not(:checked) + .err, input[type=checkbox]:not(:checked) + .err a {
	transition: color 0.3s linear;
	color: @accent-error!important;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]),
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid @accent-green;
    box-shadow: 0 1px 0 0 @accent-green;
}
.input-field {
	margin-bottom: 30px;
	label {
		text-align: left;
		text-transform: uppercase;
		color: inherit;
		&.active {
			color: @accent-green!important;
		}
		&.click-through {
			pointer-events: none;
		}
		&.center-label {
			width: auto;
		}
	}
	input[type="checkbox"]:not(:checked) + label {
		color: @accent-error!important;
	}
	input.validate + label {
		font-size: inherit;
		transition: color 0.3s linear, transform 0.2s ease-out, font-size 0.2s ease-out, -webkit-transform 0.2s ease-out;
		&:after {
			transition: top 0.2s ease-out;
			position: absolute!important;
			top: 65px;
		}
		&.active:after {
			top: 90px;
			//transform: translateY(140%);
		}
	}
}
.buttons {
	margin-top: 25px;
}
.btn {
	background-color: @accent-green;
	&:hover {
		background-color: lighten(@accent-green, 5%);
	}
}
.contents.light {
	.input-field label, .input-field input {
		color: @default-blue;
	}
}
.contents.dark {
.input-field label, .input-field input {
		color: white;
	}
}
input[type="checkbox"].filled-in:checked + label:after {
	border: 2px solid @accent-green;
	background-color: @accent-green;
}
.settings {
	.collection-item {
		text-transform: uppercase;
	}
	.pad-left {
		padding-left: 50px!important;
	}
	ol.verify {
		font-size: 1.2em;
	}
	> .row > .col {
		padding: 0 1.5rem;
	}
	.account-header {
		display: flex;
		align-items: center;
	}
	ol.verify-wip {
		margin: 30px;
		font-size: 1.2em;
		li {
			opacity: 0.3;
			&.complete, &.current {
				opacity: 1;
			}
			&.complete {
				color: @accent-green;
				text-decoration: line-through;
			}
			&.final.current {
				color: @accent-green;
			}
		}
	}
	ul.verify-wip {
		margin: 30px;
		font-size: 1.2em;
		li {
			opacity: 0.3;
			&.complete, &.current {
				opacity: 1;
			}
			&.complete {
				color: @accent-green;
				text-decoration: line-through;
			}
			&.final.current {
				color: @accent-green;
			}
		}
	}
	h3 {
		display: flex;
		align-items: center;
		.name {
			margin-left: 50px;
		}
		.editable-click {
			color: @accent-green;
			text-transform: uppercase;
		}
		.editable-input {
			font-size: 0.8em;
			width: 90%;
			height: 64px;
			text-transform: uppercase
		}
		.editable-wrap {
			width: 100%;
		}
		.editable-buttons {
			display: block;
			margin-top: 5px;
		}
		.editable-buttons button {
			text-transform: uppercase;
			margin: 0 10px 0 0;
			font-size: 50%;
		}
		.editable-error {
			width: 166%;
			text-transform: uppercase;
			font-size: 0.4em;
			color: red;
			position: relative;
			left: -66%;
			text-align: center;
			padding-left: 25px;
		}
	}
}
