nav.nav-main {
	position: relative;
	background: rgba(0, 0, 0, 0.3);
	border-bottom: 2px solid @default;
	z-index: 998;
	a.brand-logo img {
		margin-top: 4px;
		height: 54px;
		pointer-events: none;
		@media screen and (max-width: 600px) {
			margin-top: 0;
		}
	}
	i.left {
		margin-right: 0;
	}
	ul a {
		transition: all .3s;
		letter-spacing: 0.5px;
	}
	ul a.btn {
		padding-left: 40px;
		padding-right: 40px;
		margin-top: -6px;
	}
	ul a:hover:not(.btn) {
		color: @accent-green;
	}
	li.no-transition {
		.transition(all, 0s, linear);
		a {
			.transition(all, 0s, linear);
		}
		outline: 0!important;
	}
	li.user-details {
		&:hover > svg {
			opacity: 1;
			.transition(opacity, 0.3s, ease-in-out);
		}
		> svg {
			opacity: 0.8;
			height: 54px;
			width: 54px;
			position: relative;
			top: 4px;
			outline: 0!important;
			border-radius: 50%;
			float: left;
			left: 54px;
			pointer-events: none;
			> img {
				height: 46px;
				width: 46px;
				position: relative;
				top: 4px;
				left: 4px;
				outline: 0!important;
				-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
				clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
				pointer-events: none;
			}
		}
		> a {
			color: @accent-green;
			text-transform: uppercase;
			padding-left: 59px;
			padding-right: 0;
			min-width: 165px;
			text-align: right;
			> i.right {
				margin-left: 0;
			}
		}
	}
	.dropdown-content a {
		text-transform: uppercase;
		text-align: left;
		> i.left {
			margin-right: 15px;
		}
	}
	ul.side-nav {
		background: @default-blue;
		border-right: 3px solid @accent-green;
		li a {
			color: @accent-white;
			&.btn {
				margin-top: 0;
			}
		}
	}
	ul.dropdown-content {
		border-top: 2px solid @accent-green;
		margin-top: -2px;
		background: @default-blue;
		li {
			background: transparent;
			border: 1px solid @border-blue;
			a {
				color: @accent-white;
			}
			&.divider {
				background: @accent-green;
			}
		}
	}
	a.btn {
		background: transparent;
		border: 2px solid @accent-green;
		height: 40px;
		line-height: 40px;
		&:hover {
			background: @accent-green;
		}
	}
}
