.player {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10005;
	background: url('/assets/images/backgrounds/pattern_light.png') repeat @accent-white;
	border-bottom: 5px solid @accent-green;
	&.dark {
		background: url('/assets/images/backgrounds/pattern_dark.png') repeat @default-blue;
	}
	.back {
		position: fixed;
		top: 25px;
		left: 25px;
		font-size: 3em;
		&:hover {
			color: @accent-green;
		}
	}
	.player-above {
		h5 {
			text-transform: uppercase;
			&:first-child {
				color: @accent-green;
			}
		}
		a.btn {
			margin-top: 0.41rem;
		}
	}
	> div {
		margin: auto;
	}
	.col img {
		max-height: 100%;
	}
	.player-controls {
		height: 32px;
		background: @default;
		width: 100%;
	}
	.player-below {
		height: 100px;
		padding: 15px;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background: @default-blue;
		color: white;
		img {
			max-height: 100%;
		}
		h4 {
			padding: 10px;
		}
	}
	#player {
		margin: auto;
		border: 3px solid @default-blue;
		border-top: 0;
	}
	.preloader-wrapper {
		height: 256px;
		width: 256px;
		margin: auto;
	}
}
