<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>
            eventVODS Dashboard
        </title>
        <link href="/assets/images/favicon.png" rel="icon" type="image/x-icon"/>
        <base href="/"/>
        <link href="/assets/css/style.css" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="/assets/lib/angular-native-picker/build/themes/default.css" rel="stylesheet"/>
        <link href="/assets/lib/angular-native-picker/build/themes/default.date.css" rel="stylesheet"/>
        <link href="/assets/lib/angular-native-picker/build/themes/default.time.css" rel="stylesheet"/>
        <link href="/assets/lib/dropzone/dist/min/dropzone.min.css" rel="stylesheet"/>
        <link href="/assets/lib/toastr/toastr.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container" ng-app="eventApp">
            <div class="leftSidebar">
                <header class="logo">
                    <a href="#/">
                    </a>
                </header>
                <nav class="leftNavigation">
                    <a href="#/">
                        <i class="fa fa-tachometer fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Dashboard
                        </span>
                    </a>
                    <a href="#events">
                        <i class="fa fa-play-circle fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Events
                        </span>
                    </a>
                    <a href="#staff">
                        <i class="fa fa-commenting fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Staff
                        </span>
                    </a>
                    <a href="#maps">
                        <i class="fa fa-map fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Maps
                        </span>
                    </a>
                    <a href="#teams">
                        <i class="fa fa-trophy fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Teams
                        </span>
                    </a>
                    <a href="#users">
                        <i class="fa fa-users fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Users
                        </span>
                    </a>
                    <a href="#api">
                        <i class="fa fa-key fa-lg fa-fw">
                        </i>
                        <span class="text">
                            API
                        </span>
                    </a>
                </nav>
            </div>
            <div class="rightView">
                <ng-view>
                </ng-view>
            </div>
        </div>
        <script src="/assets/lib/jquery/dist/jquery.min.js">
        </script>
        <script src="/assets/lib/angular/angular.min.js">
        </script>
        <script src="/assets/lib/angular-animate/angular-animate.min.js">
        </script>
        <script src="/assets/lib/angular-resource/angular-resource.min.js">
        </script>
        <script src="/assets/lib/angular-route/angular-route.min.js">
        </script>
        <script src="/assets/lib/angular-native-picker/build/angular-datepicker.js">
        </script>
        <script src="/assets/lib/toastr/toastr.min.js">
        </script>
        <script src="/assets/js/app.js">
        </script>
        <script src="/assets/js/resources/overviewResource.js">
        </script>
        <script src="/assets/js/services/overviewService.js">
        </script>
        <script src="/assets/js/controllers/overviewController.js">
        </script>
        <script src="/assets/js/resources/eventResource.js">
        </script>
        <script src="/assets/js/services/eventService.js">
        </script>
        <script src="/assets/js/controllers/eventListController.js">
        </script>
        <script src="/assets/js/controllers/eventFormController.js">
        </script>
        <script src="/assets/js/resources/mapResource.js">
        </script>
        <script src="/assets/js/resources/staffResource.js">
        </script>
        <script src="/assets/js/resources/teamResource.js">
        </script>
        <script src="/assets/js/services/dataListService.js">
        </script>
        <script src="/assets/js/controllers/dataListController.js">
        </script>
        <script src="/assets/js/controllers/staffListController.js">
        </script>
        <script src="/assets/js/services/staffService.js">
        </script>
        <script src="/assets/js/controllers/teamListController.js">
        </script>
        <script src="/assets/js/services/teamService.js">
        </script>
        <script src="/assets/js/controllers/mapListController.js">
        </script>
        <script src="/assets/js/services/mapService.js">
        </script>
        <script src="/assets/js/controllers/layoutController.js">
        </script>
    </body>
</html>
