//imports

@import "frontend/responsive.less";
@import "frontend/variables.less";
@import "frontend/common.less";
@import "frontend/nav.less";
@import "frontend/slider.less";
@import "frontend/footer.less";
@import "frontend/form.less";
@import "frontend/element.less";
@import "frontend/event.less";
@import "frontend/player.less";


.beta {
	color: @accent-green;
	padding: 5px;
	text-transform: uppercase;
	background: @dark-blue;
	text-align: center;
	a {
		text-decoration: underline;
	}
}
