<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="tight">
            <h5 class="text-muted">
                <a href="/manage/">Eventvods</a>
                <i class="fa fa-fw fa-fix fa-level-down"></i>
            </h5>
            <h2>Dashboard</h2>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="input-group">
            <input type="text" class="form-control text-center" ng-model="Overview.data.active" readonly />
            <span class="input-group-addon">Online</span>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="input-group">
            <input type="text" class="form-control text-center" ng-model="Overview.data.ongoing" readonly />
            <span class="input-group-addon">Ongoing</span>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="input-group">
            <input type="text" class="form-control text-center" ng-model="Overview.data.users" readonly />
            <span class="input-group-addon">Users</span>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="input-group">
            <input type="text" class="form-control text-center" ng-model="Overview.data.articles" readonly />
            <span class="input-group-addon">Articles</span>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="chart-title text-muted">User Registrations</h4>
        <canvas id="line1" class="chart chart-line" chart-data="Overview.data.days_7.data[1]" chart-labels="Overview.data.days_7.labels" chart-series="Overview.data.days_7.series" chart-options="Overview.minimal" chart-colors="Overview.colors"></canvas>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="chart-title text-muted">Video Views</h4>
        <canvas id="line2" class="chart chart-line" chart-data="Overview.data.days_7.data[0]" chart-labels="Overview.data.days_7.labels" chart-series="Overview.data.days_7.series" chart-options="Overview.minimal" chart-colors="Overview.colors"></canvas>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="chart-title text-muted">Total Visitors</h4>
        <canvas id="line3" class="chart chart-line" chart-data="Overview.data.days_30.data[1]" chart-labels="Overview.data.days_30.labels" chart-series="Overview.data.days_30.series" chart-options="Overview.minimal" chart-colors="Overview.colors"></canvas>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="chart-title text-muted">Unique Visitors</h4>
        <canvas id="line4" class="chart chart-line" chart-data="Overview.data.days_30.data[0]" chart-labels="Overview.data.days_30.labels" chart-series="Overview.data.days_30.series" chart-options="Overview.minimal" chart-colors="Overview.colors"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h4 class="chart-title text-muted"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;&nbsp; Past Week</h4>
        <canvas id="line5" class="chart chart-line" chart-data="Overview.data.days_7.data" chart-labels="Overview.data.days_7.labels" chart-series="Overview.data.days_7.series" chart-options="Overview.options" chart-colors="Overview.colors"></canvas>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
         <h4 class="chart-title text-muted"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;&nbsp; Past Month</h4>
        <canvas id="line" class="chart chart-line" chart-data="Overview.data.days_30.data" chart-labels="Overview.data.days_30.labels" chart-series="Overview.data.days_30.series" chart-options="Overview.options" chart-colors="Overview.colors"></canvas>
    </div>
</div>