<div class="row">
	<div class="col-xs-10">
		<div class="tight">
			<h5 class="text-muted">
				<a href="/manage/">Eventvods</a>
				<i class="fa fa-fw fa-fix fa-level-down"></i>
			</h5>
			<h2>Events</h2>
		</div>
	</div>
	<div class="col-xs-2">
		<button ng-show="Events.editing || Events.form.stage == 6" class="btn btn-primary pull-right" ng-click="Events.initAdd()">Add Event</button>
	</div>
</div>
<br />
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp; Events</h2>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="input-group">
								<div class="input-group-addon">
									Filter
								</div>
								<input type="text" ng-model="Events.search" placeholder="Enter Query" tabindex="1" class="form-control" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-group">
								<div class="input-group-addon">
									Sort By
								</div>
								<select ng-options="opt.name for opt in Events.sorts track by opt.sortField" ng-model="Events.sort" class="form-control"></select>
							</div>
						</div>
					</div>
				</div>
				<div ng-repeat="event in Events.filterData = (Events.eventsData | filter: Events.search) | orderBy: Events.sort.sortField:Events.sort.reverse | offset: (Events.paging.page - 1) * Events.paging.itemsPerPage | limitTo: Events.paging.itemsPerPage"
				class="list-group-item">
					<div class="row row-center">
						<div class="col-xs-8">
							<div class="media">
								<div class="media-left media-middle">
									<img class="media-object" ng-src="{{event.logo}}" />
								</div>
								<div class="media-body">
									<a ng-href="/event/{{event.slug}}" target="_blank">
										<h5 class="list-group-item-heading media-heading">{{event.name}}</h5>
									</a>
									<p class="list-group-item-text text-muted media-body">
										<span>{{event.startDate | date:'MMM dd, yyyy'}} until {{event.endDate | date:'MMM dd, yyyy'}}</span> <br />
										<span>{{event.followers}} Followers &bull; {{event.teams.length}} Teams &bull; {{event.staff.length}} Staff</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-xs-4 text-right fa-fix">
							<a ng-href="/manage/editor/{{(event._id)}}" class="btn btn-success btn-sm">
                                Update
                            </a>
							<a ng-click="Events.edit(event._id)" class="btn btn-primary btn-sm">
                                Edit
                            </a>
							<a ng-click="Events.delete(event)" class="btn btn-danger btn-sm">
                                Delete
                            </a>
						</div>
					</div>
				</div>
				<div ng-if="Events.paging.pages() > 1" class="panel-footer text-center">
					<ul class="pagination">
						<li ng-class="{disabled: Events.paging.page == 1}">
							<a ng-click="Events.prevPage()">&laquo;</a>
						</li>
						<li class="active">
							<span>Page {{Events.paging.page}} of {{Events.paging.pages()}}</span>
						</li>
						<li ng-class="{disabled: !(Events.paging.pages() > 1 && Events.paging.page < Events.paging.pages())}">
							<a ng-click="Events.nextPage()">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp; {{Events.editing ? "Edit" : "Add"}} Event</h2>
			</div>
			<div class="panel-body" ng-show="Events.form.stage == 0">
				<form name="form" id="addEventForm" ng-cloak>
					<div class="form-group">
						<label>
                            Event Title
                        </label>
						<input type="text" class="form-control" placeholder="e.g. League Championship Series" ng-model="Events.form.name" data-parsley-trigger="keyup"
						required/>
					</div>
					<div class="form-group">
						<label>
                            Short Title
                        </label>
						<input type="text" class="form-control" placeholder="e.g. EU LCS" ng-model="Events.form.shortTitle" required/>
					</div>
					<div class="form-group">
						<label>
                            URL Slug
                        </label>
						<input id="slug" class="form-control" type="text" placeholder="URL Slug" ng-model="Events.form.slug" data-parsley-trigger="keyup"
						data-parsley-remote-message="Slug already in use." required />
					</div>
					<div class="form-group">
						<p class="form-control-static">
							Event will be accessible at eventvods.com/event/{{Events.form.slug}}
						</p>
					</div>
					<div class="form-group">
						<label>
							Game
						</label>
						<select class="form-control" ng-model="Events.form.game" ng-options="game._id as game.name for game in Events.games" required>
							<option value="">Select Game</option>
						</select>
					</div>
					<div class="form-group">
						<label>
                            Start Date
                        </label>
						<div class="input-group">
							<input ng-model="Events.form.startDate" ng-click="dp1Open = true" ng-focus="dp1Open = true" is-open="dp1Open" uib-datepicker-popup="MMM dd, yyyy"
							type="text" placeholder="Click to select date." data-parsley-trigger="input change" data-parsley-errors-container="#date1-errors"
							required ng-required="true" class="form-control" />
							<span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="dp1Open = !dp1Open"><i class="fa fa-lg fa-calendar-plus-o"></i></button>
                            </span>
						</div>
						<span id="date1-errors"></span>
					</div>
					<div class="form-group">
						<label>
                            End Date
                        </label>
						<div class="input-group">
							<input ng-model="Events.form.endDate" ng-click="dp2Open = true" ng-focus="dp2Open = true" is-open="dp2Open" uib-datepicker-popup="MMM dd, yyyy"
							type="text" placeholder="Click to select date." data-parsley-trigger="input change" data-parsley-errors-container="#date2-errors"
							required ng-required="true" class="form-control" />
							<span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="dp2Open = !dp2Open"><i class="fa fa-lg fa-calendar-plus-o"></i></button>
                            </span>
						</div>
						<span id="date2-errors"></span>
					</div>
				</form>
			</div>
			<div class="panel-body" ng-show="Events.form.stage == 1">
				<div class="form-group">
					<label>
                            Subtitle
                        </label>
					<input type="text" class="form-control" placeholder="e.g. Summer Split" ng-model="Events.form.subtitle" />
				</div>
				<div class="form-group">
					<label>
							Patch
						</label>
					<input placeholder="e.g. 6.14" type="text" class="form-control" ng-model="Events.form.patch" />
				</div>
				<div class="form-group">
					<label>
							Prize Pool
						</label>
					<input placeholder="e.g. $2million" type="text" class="form-control" ng-model="Events.form.prize" />
				</div>
				<div class="form-group">
					<label>
							League Format
						</label>
					<input placeholder="e.g. Round Robin" type="text" class="form-control" ng-model="Events.form.format" />
				</div>
				<div class="form-group">
					<label>
							Twitch URL (Optional)
						</label>
					<input placeholder="e.g. http://twitch.tv/riotgames" type="text" class="form-control" ng-model="Events.form.twitchStream"
					/>
				</div>
				<div class="form-group">
					<label>
							Youtube URL (Optional)
						</label>
					<input placeholder="e.g. http://youtube.com/lolesports" type="text" class="form-control" ng-model="Events.form.youtubeStream"
					/>
				</div>
			</div>
			<team-select model="Events.form.teams" game="Events.form.game" ng-show="Events.form.stage == 2">
			</team-select>
			<staff-select model="Events.form.staff" ng-show="Events.form.stage == 3">
			</staff-select>
			<media-list model="Events.form.media" ng-show="Events.form.stage == 4">
			</media-list>
			<div class="panel-body" ng-show="Events.form.stage == 5">
				<div class="form-group">
					<label>
							Event Logo
						</label>
					<image-drop model="Events.form.logo" preview-width="128" preview-height="128" />
				</div>
				<div class="form-group">
					<label>
							Event Header
						</label>
					<image-drop model="Events.form.header" preview-width="300" preview-height="100" />
				</div>
				<div class="form-group">
					<label>
							Header Photo ©
						</label>
					<input class="form-control" type="text" placeholder="e.g. Riot Events" ng-model="Events.form.credits" />
				</div>
				<div class="form-group">
					<label>
							Featured Orientation
						</label>
					<select class="form-control" ng-model="Events.form.textOrientation">
							<option value="left">Left</option>
							<option value="right">Right</option>
						</select>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-xs-3 text-center">
						<button ng-show="Events.form.stage > 0 && Events.form.stage < 6" class="btn btn-primary pull-left" ng-click="Events.prevStage()"
						type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
								{{Events.stages[Events.form.stage - 1]}}
							</button>
					</div>
					<div class="col-xs-6 text-center">
						<span ng-if="Events.form.stage < 6">Stage {{Events.form.stage+1}} of 6</span>
						<span ng-if="Events.form.stage == 6">Event {{Events.editing ? "Updated" : "Added"}}</span>
						<br />
						<uib-progressbar value="Events.form.stage" max="6"></uib-progressbar>
					</div>
					<div class="col-xs-3 text-center">
						<button ng-show="Events.form.stage < 6" class="btn btn-primary pull-right" ng-click="Events.nextStage()" type="button">
							<i no-ng-animate ng-if="Events.validating" class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
							{{Events.validating ? '' : Events.stages[Events.form.stage + 1]}}
							<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
