<div class="row">
    <div class="col-xs-10">
        <div class="tight">
            <h5 class="text-muted">
                <a href="/manage/">Eventvods</a>
                <i class="fa fa-fw fa-fix fa-level-down"></i>
            </h5>
            <h2>Featured Content</h2>
        </div>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-success pull-right" ng-click="Featured.save()">Save</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-gamepad"></i>&nbsp;&nbsp;&nbsp; Games</h2>
            </div>
            <ul class="list-group relative" sv-root sv-part="Featured.data.games">
                <li ng-repeat="game in Featured.data.games track by $index" class="list-group-item relative" sv-element="{'containment': '.list-group'}">
                    <i sv-handle class="fa fa-lg fa-fw fa-sort"></i> {{game.name}}
                    <span ng-click="Featured.deleteGame($index)" class="pull-right fa-fix fa fa-lg fa-times danger"> </span>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <select ng-options="game.name for game in Featured.games" ng-model="Featured.selectedGame" class="form-control"></select>
                        <div class="input-group-btn">
                            <a ng-click="Featured.addGame()" class="btn btn-default"><i class="fa fa-fix fa-plus"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp; Events</h2>
            </div>
            <ul class="list-group relative" sv-root sv-part="Featured.data.events">
                <li ng-repeat="event in Featured.data.events track by $index" class="list-group-item relative" sv-element="{'containment': '.list-group'}">
                    <i sv-handle class="fa fa-lg fa-fw fa-sort"></i> {{event.name}}
                    <span ng-click="Featured.deleteEvent($index)" class="pull-right fa-fix fa fa-lg fa-times danger"> </span>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <select ng-options="event.name for event in Featured.events" ng-model="Featured.selectedEvent" class="form-control"></select>
                        <div class="input-group-btn">
                            <a ng-click="Featured.addEvent()" class="btn btn-default"><i class="fa fa-fix fa-plus"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp; Articles</h2>
            </div>
            <ul class="list-group relative" sv-root sv-part="Featured.data.articles">
                <li ng-repeat="article in Featured.data.articles track by $index" class="list-group-item relative" sv-element="{'containment': '.list-group'}">
                    <i sv-handle class="fa fa-lg fa-fw fa-sort"></i> {{article.title}}
                    <span ng-click="Featured.deleteArticle($index)" class="pull-right fa-fix fa fa-lg fa-times danger"> </span>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <select ng-options="article.title for article in Featured.articles" ng-model="Featured.selectedArticle" class="form-control"></select>
                        <div class="input-group-btn">
                            <a ng-click="Featured.addArticle()" class="btn btn-default"><i class="fa fa-fix fa-plus"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp; Teams</h2>
            </div>
            <ul class="list-group relative" sv-root sv-part="Featured.data.teams">
                <li ng-repeat="team in Featured.data.teams track by $index" class="list-group-item relative" sv-element="{'containment': '.list-group'}">
                    <i sv-handle class="fa fa-lg fa-fw fa-sort"></i> {{team.name}} - {{team.game.slug | uppercase}}
                    <span ng-click="Featured.deleteTeam($index)" class="pull-right fa-fix fa fa-lg fa-times danger"> </span>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <select ng-options="team.name+' - '+team.game.slug.toUpperCase() for team in Featured.teams" ng-model="Featured.selectedTeam" class="form-control"></select>
                        <div class="input-group-btn">
                            <a ng-click="Featured.addTeam()" class="btn btn-default"><i class="fa fa-fix fa-plus"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>