<script type="text/ng-template" id="confirmDeleteTemplate">
    <center>
    <p>
        Are you sure you want to delete that?
    </p><br />
    <a class="btn lg solid icon warning" ng-click="delete()">
        <i class="fa fa-trash">
        </i>
        <span>
            Confirm Delete
        </span>
    </a>
    <a class="btn lg solid icon" ng-click="closeThisDialog()">
        <i class="fa fa-undo">
        </i>
        <span>
            Cancel
        </span>
    </a></center>
</script>
<div class="contextHead">
    <div class="leftSide">
        <h1 class="title">
            Leagues
        </h1>
    </div>
    <div class="rightSide">
        <a href="/manage/#leagues/new" class="btn lg solid icon">
            <i class="fa fa-line-chart">
            </i>
            <span>
                Add League
            </span>
        </a>
    </div>
</div>
<div class="filters">
    <input type="text" ng-model="leaguesListController.search" placeholder="Search Leagues" tabindex="1"/>
</div>
<div class="listView events">
    <table class="standard">
        <thead>
            <tr>
                <th></th>
                <th>
                    <a href="" ng-click="leaguesListController.setSort('leagueGame.gameAlias')">
                        Game
                    </a>
                    <span ng-show="leaguesListController.sort.sortField == 'leagueGame.gameAlias' && !leaguesListController.sort.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="leaguesListController.sort.sortField == 'leagueGame.gameAlias' && leaguesListController.sort.sortReverse" class="caret-up">
                    </span>
                    <span ng-show="leaguesListController.sort.sortField != 'leagueGame.gameAlias'" class="fa fa-unsorted">
                    </span>
                </th>
                <th>
                    <a href="" ng-click="leaguesListController.setSort('leagueName')">
                        League Name
                    </a>
                    <span ng-show="leaguesListController.sort.sortField == 'leagueName' && !leaguesListController.sort.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="leaguesListController.sort.sortField == 'leagueName' && leaguesListController.sort.sortReverse" class="caret-up">
                    </span>
                    <span ng-show="leaguesListController.sort.sortField != 'leagueName'" class="fa fa-unsorted">
                    </span>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="league in leaguesListController.filterData = (leaguesListController.leagueData | filter: leaguesListController.search) | orderBy: leaguesListController.sort.sortField:leaguesListController.sort.sortReverse | offset: (leaguesListController.paging.page - 1) * leaguesListController.paging.itemsPerPage | limitTo: leaguesListController.paging.itemsPerPage">
                <td>
                    <img ng-src="{{league.leagueGame.gameIcon}}" class="image-icon" />
                </td>
                <td>
                    {{league.leagueGame.gameAlias | uppercase}}
                </td>
                <td>
                    {{league.leagueName}}
                </td>
                <td class="edit">
                    <a ng-href="/manage/#/league/{{league._id}}/edit">
                        <i class="fa fa-edit fa-fw">
                        </i>
                    </a>
                </td>
                <td class="delete">
                    <a ng-click="leaguesListController.delete(league._id)">
                        <i class="fa fa-trash fa-fw">
                        </i>
                    </a>
                </td>
                <td class="url">
                    <a ng-href="../league/{{league._id}}">
                        <i class="fa fa-external-link fa-fw">
                        </i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<span class="empty" ng-show="leaguesListController.loaded && (leaguesListController.filterData.length == 0 || leaguesListController.leagueData == 0)">
    No leagues match those criteria.
</span>
<div class="pagination" ng-show="leaguesListController.filterData.length > 0">
    <a ng-style="{visibility: leaguesListController.paging.page >1 && 'visible' || 'hidden'}" ng-click="leaguesListController.previousPage()" class="btn">
        Prev Page
    </a>
    <p>
        Page {{leaguesListController.paging.page}} of {{leaguesListController.paging.pages()}}
    </p>
    <a ng-style="{visibility: (leaguesListController.paging.pages() >1 && leaguesListController.paging.page < leaguesListController.paging.pages()) && 'visible' || 'hidden'}" ng-click="leaguesListController.nextPage()" class="btn">
        Next Page
    </a>
</div>
