<div class="contextHead">
	<div class="leftSide">
		<h1 ng-bind="articlesFormController.title">
        </h1>
	</div>
	<div class="rightSide">
		<a class="btn lg solid icon" ng-click="articlesFormController.submit()">
			<i class="fa fa-save">
				</i>
			<span>Save</span>
		</a>
	</div>
</div>
<div class="tabs">
	<span ng-class="{selected: articlesFormController.tab == 1}" ng-click="articlesFormController.tab = 1">
        1. Article Details
    </span>
	<span ng-class="{selected: articlesFormController.tab == 2}" ng-click="articlesFormController.tab = 2">
        2. Article Contents
    </span>
</div>
<form name="form" id="addArticleForm" ng-cloak>
	<div class="errors" ng-show="articlesFormController.errors.length > 0">
		<ul>
			<li ng-repeat="error in articlesFormController.errors">{{error.message}}</li>
		</ul>
	</div>
	<div class="section" ng-show="articlesFormController.tab == 1">
		<div class="standard group">
			<label>
                Article Title
            </label>
			<input type="text" placeholder="Article Title" ng-model="articlesFormController.data.title" data-parsley-trigger="keyup" required/>
		</div>
		<div class="standard group">
			<label>
                URL Slug
            </label>
			<input id="slug" type="text" placeholder="URL Slug" ng-model="articlesFormController.data.slug" data-parsley-trigger="keyup" data-parsley-remote-message="Slug already in use." required/>
		</div>
		<div class="standard group">
			<label class="full">
				League will be accessible at eventvods.com/article/{{articlesFormController.data.slug}}
            </label>
		</div>
		<div class="standard group">
			<label>
                Article Tags
            </label>
			<tags-input ng-model="articlesFormController.data.tags">
			</tags-input>
		</div>
		<div class="standard group">
			<label>
                Publish Date (Display Only)
            </label>
			<input id="publishDate" placeholder="Click to select date." type="text" data-parsley-trigger="input change" required/>
		</div>
		<br />
		<div class="standard group checkbox">
			<input id="published" type="checkbox" ng-model="articlesFormController.data.published" name="published" />
			<label for="published">
                Article Published
            </label>
		</div>
		<br />
		<div class="standard group">
			<label>
                Article Header
            </label>
			<image-drop model="articlesFormController.data.header" preview-width="320" preview-height="50" />
		</div>
		<div class="standard group">
			<label>
                Header Photo Credits
            </label>
			<input type="text" placeholder="e.g. Riot Games" ng-model="articlesFormController.data.credits" data-parsley-trigger="keyup" />
		</div>
		<br />
		<div class="standard group">
			<a class="btn lg solid icon icon-right pull-right" ng-click="articlesFormController.tab = 2">
				<i class="fa fa-chevron-right">
                </i>
				<span>Article Contents</span>
			</a>
		</div>
	</div>
</form>
<div class="section no-pad" ng-show="articlesFormController.tab == 2">
	<div class="standard group flex">
		<div class="col-1-2">
			Editor
			<textarea class="form-style" ng-model="articlesFormController.data.content">
			</textarea>
		</div>
		<div class="col-1-2">
			Preview
			<div class="form-style" id="article-preview" ng-bind-html="articlesFormController.data.content" ks-nl2br ks-bbcode>
			</div>
		</div>
	</div>
	<div class="standard group">
		<a class="btn lg solid icon" ng-click="articlesFormController.tab = 1">
			<i class="fa fa-chevron-left">
				</i>
			<span>
				Article Details
			</span>
		</a>
	</div>
</div>
