<div class="contextHead">
    <div class="leftSide">
        <h1 class="title">
            Articles
        </h1>
    </div>
    <div class="rightSide">
        <a href="/manage/articles/new" class="btn lg solid icon">
            <i class="fa fa-pencil-square-o">
            </i>
            <span>
                Add Article
            </span>
        </a>
    </div>
</div>
<div class="filters">
    <input type="text" ng-model="articlesListController.search" placeholder="Search Articles" tabindex="1"/>
</div>
<div class="listView events">
    <table class="standard">
        <thead>
            <tr>
                <th>
                    <a href="" ng-click="articlesListController.setSort('title')">
                        Title
                    </a>
                    <span ng-show="articlesListController.sort.sortField == 'title' && !articlesListController.sort.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="articlesListController.sort.sortField == 'title' && articlesListController.sort.sortReverse" class="caret-up">
                    </span>
                    <span ng-show="articlesListController.sort.sortField != 'title'" class="fa fa-unsorted">
                    </span>
                </th>
                <th>
                    <a href="" ng-click="articlesListController.setSort('author')">
                        Author
                    </a>
                    <span ng-show="articlesListController.sort.sortField == 'author.displayName' && !articlesListController.sort.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="articlesListController.sort.sortField == 'author.displayName' && articlesListController.sort.sortReverse" class="caret-up">
                    </span>
                    <span ng-show="articlesListController.sort.sortField != 'author.displayName'" class="fa fa-unsorted">
                    </span>
                </th>
				 <th>
                    <a href="" ng-click="articlesListController.setSort('slug')">
                        URL Slug
                    </a>
                    <span ng-show="articlesListController.sort.sortField == 'slug' && !articlesListController.sort.sortReverse" class="caret-down">
                    </span>
                    <span ng-show="articlesListController.sort.sortField == 'slug' && articlesListController.sort.sortReverse" class="caret-up">
                    </span>
                    <span ng-show="articlesListController.sort.sortField != 'slug'" class="fa fa-unsorted">
                    </span>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articlesListController.filterData = (articlesListController.articlesData | filter: articlesListController.search) | orderBy: articlesListController.sort.sortField:articlesListController.sort.sortReverse | offset: (articlesListController.paging.page - 1) * articlesListController.paging.itemsPerPage | limitTo: articlesListController.paging.itemsPerPage">
                <td>
                    {{article.title}}
                </td>
                <td>
                    {{article.author.displayName}}
                </td>
				<td>
					{{article.slug}}
				</td>
                <td class="edit">
                    <a ng-href="/manage/articles/{{article._id}}/edit">
                        <i class="fa fa-edit fa-fw">
                        </i>
                    </a>
                </td>
                <td class="delete">
                    <a ng-click="articlesListController.delete(article._id)">
                        <i class="fa fa-trash fa-fw">
                        </i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<span class="empty" ng-show="articlesListController.loaded && (articlesListController.filterData.length == 0 || articlesListController.teamsData.length == 0)">
    No teams match those criteria.
</span>
<div class="pagination" ng-show="articlesListController.filterData.length > 0">
    <a ng-style="{visibility: articlesListController.paging.page >1 && 'visible' || 'hidden'}" ng-click="articlesListController.previousPage()" class="btn">
        Prev Page
    </a>
    <p>
        Page {{articlesListController.paging.page}} of {{articlesListController.paging.pages()}}
    </p>
    <a ng-style="{visibility: (articlesListController.paging.pages() >1 && articlesListController.paging.page < articlesListController.paging.pages()) && 'visible' || 'hidden'}" ng-click="articlesListController.nextPage()" class="btn">
        Next Page
    </a>
</div>
