/* imports */
@import "reset.less";
/* @import "pure.less"; */
@import "elements.less";
@import "flexbox.less";
@import "variables.less";

body { background: blue; }
h1 { color: pink; } 
h2 { color: red; }
p { color: red; }