<div class="contextHead">
    <div class="leftSide">
        <h1 ng-bind="gameFormController.title">
        </h1>
    </div>
</div>
<form name="form" id="addGameForm" ng-cloak>
    <div class="errors" ng-show="gameFormController.errors.length > 0">
        <ul>
            <li ng-repeat="error in gameFormController.errors">{{error.message}}</li>
        </ul>
    </div>
    <div class="section">
        <div class="standard group">
            <label>
                Game Name
            </label>
            <input type="text" placeholder="e.g. League of Legends" ng-model="gameFormController.data.gameName" data-parsley-trigger="keyup"  required/>
        </div>
        <div class="standard group">
            <label>
                Game Alias
            </label>
            <input type="text" class="force-caps" placeholder="e.g. LOL" ng-model="gameFormController.data.gameAlias" data-parsley-trigger="keyup" data-parsley-type="alphanum" data-parsley-remote-message="Alias already in use." required/>
        </div>
        <div class="standard group">
            <label>
                Game Icon (optional)
            </label>
            <image-drop model="gameFormController.data.gameIcon" preview-width="64" preview-height="64" />
        </div>
        <div class="standard group">
            <label>
                Game Banner (optional)
            </label>
            <image-drop model="gameFormController.data.gameBanner" preview-width="300" preview-height="100" />
        </div>
        <br />
        <div class="standard group">
            <a class="btn lg solid icon" ng-click="gameFormController.submit()">
                <i class="fa fa-gamepad">
                </i>
                <span ng-bind="gameFormController.title">
                </span>
            </a>
        </div>
    </div>
</form>
<script src="/assets/lib/parsleyjs/dist/parsley.min.js">
</script>
