<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>
        Eventvods - Dashboard
    </title>
    <link href="/assets/images/favicon.png" rel="icon" type="image/x-icon" />
    <base href="/manage/" />
    <link href="/assets/css/backend.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/css/ngDialog.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.2.0/css/xeditable.min.css" rel="stylesheet" />
    <meta name="robots" content="noindex, nofollow">
</head>

<body ng-app="eventApp" ng-controller="navController as Nav" ng-class="Nav.class">
    <div class="loader-wrapper">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <div class="container">
        <div class="leftSidebar">
            <header class="logo">
                <a href="/">
                </a>
            </header>
            <div class="leftUser">
                <img class="icon-48" ng-src="{{Nav.user.profilePicture}}" />
                <div class="userDetails">
                    <span class="text-sm">Welcome back</span>
                    <a ng-href="/user/{{Nav.user._id}}" ng-bind="Nav.user.displayName" class="text-cutoff"></a>
                </div>
                <div>
                    <a href="#" class="fa fa-sign-out fa-lg fa-fw" ng-click="Nav.logout()">
                    </a>
                </div>
            </div>
            <nav class="leftNavigation">
                <a href="/manage/" ng-class="{selected: Nav.current.match('/dashboard')}">
                    <i class="fa fa-tachometer fa-lg fa-fw">
                        </i>
                    <span class="text">
                            Dashboard
                        </span>
                </a>
                <a href="/manage/featured/" ng-show="Nav.isUpdater" ng-class="{selected: Nav.current.match('/featured')}">
                    <i class="fa fa-star fa-lg fa-fw">
                        </i>
                    <span class="text">
                            Featured
                        </span>
                </a>
                <a href="/manage/articles" ng-show="Nav.isUpdater" ng-class="{selected: Nav.current.match('/article')}">
                    <i class="fa fa-pencil-square-o fa-lg fa-fw">
                        </i>
                    <span class="text">
                            Articles
                        </span>
                </a>
                <a href="/manage/games" ng-show="Nav.isUpdater" ng-class="{selected: Nav.current.match('/game')}">
                    <i class="fa fa-gamepad fa-lg fa-fw">
                        </i>
                    <span class="text">
                            Games
                        </span>
                </a>
                <a href="/manage/staff" ng-show="Nav.isUpdater" ng-class="{selected: Nav.current.match('/staff')}">
                    <i class="fa fa-commenting fa-lg fa-fw">
                        </i>
                    <span class="text">
                            Staff
                        </span>
                </a>
                <a href="/manage/teams" ng-show="Nav.isUpdater" ng-class="{selected: Nav.current.match('/team')}">
                    <i class="fa fa-flag fa-lg fa-fw">
                        </i>
                    <span class="text">
                            Teams
                        </span>
                </a>
                <a href="/manage/leagues" ng-show="Nav.isUpdater" ng-class="{selected: Nav.current.match('/league')}">
                    <i class="fa fa-line-chart fa-lg fa-fw">
                        </i>
                    <span class="text">
                            Events
                        </span>
                </a>
                <!--<a href="/manage/tournaments" ng-show="Nav.isUpdater" ng-class="{selected: Nav.current.match('/tournament')}">
                        <i class="fa fa-trophy fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Tournaments
                        </span>
                    </a>-->
                <a href="/manage/users" ng-show="Nav.isAdmin" ng-class="{selected: Nav.current.match('/user')}">
                    <i class="fa fa-users fa-lg fa-fw">
                        </i>
                    <span class="text">
                            Users
                        </span>
                </a>
            </nav>
        </div>
        <div class="rightView">
            <ng-view id="fragmentViewer">
            </ng-view>
        </div>
        <svg width="0" height="0">
					<defs>
						<clipPath id="element" clipPathUnits="objectBoundingBox">
							<polygon points="0 0, 0.85 0, 1 1, 0 1">
							</polygon>
						</clipPath>
					</defs>
			</svg>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/js/ngDialog.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.4.3/parsley.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.4.0/js/xeditable.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sortable-view/0.0.15/angular-sortable-view.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js">
    </script>
    <script src="/assets/js/backend/app.js">
    </script>
    <script src="/assets/js/backend/common/notifier.js">
    </script>
    <script src="/assets/js/backend/common/navController.js">
    </script>
    <script src="/assets/js/backend/overviewController.js">
    </script>
    <script src="/assets/js/backend/featuredController.js">
    </script>
    <script src="/assets/js/backend/games/gamesService.js">
    </script>
    <script src="/assets/js/backend/games/gamesListController.js">
    </script>
    <script src="/assets/js/backend/games/addGameController.js">
    </script>
    <script src="/assets/js/backend/games/editGameController.js">
    </script>
    <script src="/assets/js/backend/leagues/leaguesService.js">
    </script>
    <script src="/assets/js/backend/leagues/leaguesListController.js">
    </script>
    <script src="/assets/js/backend/leagues/addLeagueController.js">
    </script>
    <script src="/assets/js/backend/leagues/editLeagueController.js">
    </script>
    <script src="/assets/js/backend/tournaments/tournamentsService.js">
    </script>
    <script src="/assets/js/backend/tournaments/tournamentsListController.js">
    </script>
    <script src="/assets/js/backend/tournaments/addTournamentController.js">
    </script>
    <script src="/assets/js/backend/tournaments/editTournamentController.js">
    </script>
    <script src="/assets/js/backend/staff/staffService.js">
    </script>
    <script src="/assets/js/backend/staff/staffListController.js">
    </script>
    <script src="/assets/js/backend/staff/addStaffController.js">
    </script>
    <script src="/assets/js/backend/staff/editStaffController.js">
    </script>
    <script src="/assets/js/backend/articles/articlesService.js">
    </script>
    <script src="/assets/js/backend/articles/articlesListController.js">
    </script>
    <script src="/assets/js/backend/articles/addArticleController.js">
    </script>
    <script src="/assets/js/backend/articles/editArticleController.js">
    </script>
    <script src="/assets/js/backend/teams/teamsService.js">
    </script>
    <script src="/assets/js/backend/teams/teamsListController.js">
    </script>
    <script src="/assets/js/backend/teams/addTeamController.js">
    </script>
    <script src="/assets/js/backend/teams/editTeamController.js">
    </script>
    <script src="/assets/js/backend/users/usersService.js">
    </script>
    <script src="/assets/js/backend/users/usersListController.js">
    </script>
    <script src="/assets/js/backend/users/editUserController.js">
    </script>
    <script src="/assets/js/backend/leagues/leaguesEditorController.js">
    </script>
    <script src="/assets/js/backend/tournaments/tournamentsEditorController.js">
    </script>
</body>

</html>