<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>
            EventVods
        </title>
        <link href="/assets/images/favicon.png" rel="icon" type="image/x-icon"/>
        <base href="/manage/"/>
        <link href="/assets/css/backend.css" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="/assets/lib/toastr/toastr.min.css" rel="stylesheet"/>
        <link href="/assets/lib/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet"/>
        <link href="/assets/lib/ng-dialog/css/ngDialog.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js">
        </script>
        <script src="/assets/lib/angular-animate/angular-animate.min.js">
        </script>
        <script src="/assets/lib/angular-resource/angular-resource.min.js">
        </script>
        <script src="/assets/lib/angular-route/angular-route.min.js">
        </script>
        <script src="/assets/lib/angular-loading-bar/build/loading-bar.min.js">
        </script>
        <script src="/assets/lib/toastr/toastr.min.js">
        </script>
        <script src="/assets/lib/ng-dialog/js/ngDialog.min.js">
        </script>
        <script src="/assets/js/app.js">
        </script>
        <script src="/assets/js/common/notifier.js">
        </script>
    </head>
    <body ng-app="eventApp" ng-controller="navController as Nav" ng-class="Nav.class">
        <div class="loader-wrapper">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
        <div class="container">
            <div class="leftSidebar">
                <header class="logo">
                    <a href="/manage/">
                    </a>
                </header>
                <div class="leftUser">
                    <img class="icon-48" src="http://placehold.it/48" />
                    <div class="userDetails">
                        <span class="text-sm">Welcome back</span>
                        <a ng-href="/user/{{Nav.user.username}}" ng-bind="Nav.user.username" class="text-cutoff"></a>
                    </div>
                    <div>
                        <a class="fa fa-sign-out fa-lg fa-fw" ng-href="/user/logout">
                        </a>
                    </div>
                </div>
                <nav class="leftNavigation">
                    <a href="/manage/">
                        <i class="fa fa-tachometer fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Dashboard
                        </span>
                    </a>
                    <a href="/manage/games">
                        <i class="fa fa-gamepad fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Games
                        </span>
                    </a>
                    <a href="/manage/leagues">
                        <i class="fa fa-line-chart fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Leagues
                        </span>
                    </a>
                    <a href="/manage/events">
                        <i class="fa fa-play-circle fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Events
                        </span>
                    </a>
                    <a href="/manage/staff">
                        <i class="fa fa-commenting fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Staff
                        </span>
                    </a>
                    <a href="/manage/maps">
                        <i class="fa fa-map fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Maps
                        </span>
                    </a>
                    <a href="/manage/teams">
                        <i class="fa fa-trophy fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Teams
                        </span>
                    </a>
                    <a href="/manage/users" ng-show="Nav.isAdmin">
                        <i class="fa fa-users fa-lg fa-fw">
                        </i>
                        <span class="text">
                            Users
                        </span>
                    </a>
                </nav>
            </div>
            <div class="rightView">
                <ng-view id="fragmentViewer">
                </ng-view>
            </div>
        </div>
        <script src="/assets/js/common/navController.js">
        </script>
        <script src="/assets/js/overviewController.js">
        </script>
        <script src="/assets/js/games/gamesService.js">
        </script>
        <script src="/assets/js/games/gamesListController.js">
        </script>
        <script src="/assets/js/games/addGameController.js">
        </script>
        <script src="/assets/js/games/editGameController.js">
        </script>
        <script src="/assets/js/leagues/leaguesService.js">
        </script>
        <script src="/assets/js/leagues/leaguesListController.js">
        </script>
        <script src="/assets/js/leagues/addLeagueController.js">
        </script>
        <script src="/assets/js/leagues/editLeagueController.js">
        </script>
        <script src="/assets/js/staff/staffService.js">
        </script>
        <script src="/assets/js/staff/staffListController.js">
        </script>
        <script src="/assets/js/staff/addStaffController.js">
        </script>
        <script src="/assets/js/staff/editStaffController.js">
        </script>
        <script src="/assets/js/maps/mapsService.js">
        </script>
        <script src="/assets/js/maps/mapsListController.js">
        </script>
        <script src="/assets/js/maps/addMapController.js">
        </script>
        <script src="/assets/js/maps/editMapController.js">
        </script>
        <script src="/assets/js/teams/teamsService.js">
        </script>
        <script src="/assets/js/teams/teamsListController.js">
        </script>
        <script src="/assets/js/teams/addTeamController.js">
        </script>
        <script src="/assets/js/teams/editTeamController.js">
        </script>
        <!-- vv refactor -->
        <script src="/assets/js/events/eventService.js">
        </script>
        <script src="/assets/js/events/eventListController.js">
        </script>
        <script src="/assets/js/events/addEventController.js">
        </script>
        <script src="/assets/js/resources/mapResource.js">
        </script>
        <script src="/assets/js/resources/teamResource.js">
        </script>
        <script src="/assets/js/services/dataListService.js">
        </script>
        <script src="/assets/js/controllers/dataListController.js">
        </script>
        <script src="/assets/js/controllers/teamListController.js">
        </script>
        <script src="/assets/js/services/teamService.js">
        </script>
        <script src="/assets/js/controllers/mapListController.js">
        </script>
        <script src="/assets/js/services/mapService.js">
        </script>
    </body>
</html>
