<!DOCTYPE html>
<html lang="en" ng-app="eventvods">

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta charset="utf-8" />
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta name="fragment" content="!">
	<base href="/" />
	<title ng-bind="meta.title">
		Eventvods - Esports on Demand
	</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.css" media="screen,projection" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.css" media="screen,projection" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.2.0/css/xeditable.min.css" rel="stylesheet" />
	<link href="/assets/images/favicon.png" rel="icon" type="image/x-icon" />
	<meta name="description" content="{{meta.description}}" />
	<meta name="description" content="{{meta.keywords}}" />
	<meta property="og:title" content="{{meta.title}}" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="/assets/snapshot.jpg" />
	<meta property="og:url" content="{{meta.url}}" />
	<meta property="og:description"" content="{{meta.description}}" />
</head>

<body id="top" ng-controller="PageController as Page" ng-class="Page.contentClass">
	<header>
		<div class="cookie_disclaimer" ng-class="{show: Page.cookiesAccepted === false}">
			<div class="container">
				<h5>Cookie Disclaimer</h5>
				<div class="disclaimer">
					<a ng-click="Page.cookiesAccepted=true;Page.acceptCookies()" class="btn-large waves-effect waves-light">Accept</a>
					<p>Eventvods.com uses cookies to enhance your experience, collect usage stats to improve our services and store certain settings.<br /> For more details, please read our <a href="/about/cookies">Cookie Policy</a>.</p>
				</div>
			</div>
		</div>
		<ng-include src="'/assets/views/dialogs/userSettings.html'" ng-if="Page.session != false && Page.session != null" onload="Page.init()" ng-cloak></ng-include>
		<nav class="nav-main" role="navigation" >
			<ul class="dropdown-content wide" id="games_dd">
				<li ng-repeat="game in Page.nav.games">
					<a ng-href="/game/{{game.slug}}">
						<i class="material-icons left icon">
							<img ng-src="{{game.icon}}" />
							&nbsp;
						</i> {{game.name}}
					</a>
				</li>
				<li>
					<a href="/games">All Games</a>
				</li>
			</ul>
			<ul class="dropdown-content wide" id="articles_dd">
				<li ng-repeat="article in Page.nav.articles">
					<a ng-href="/article/{{article.slug}}">
						{{article.title}}
					</a>
				</li>
				<li>
					<a href="/articles">All Articles</a>
				</li>
			</ul>
			<ul class="dropdown-content wide grouped" id="leagues_dd">
				<li ng-repeat="league in Page.nav.orderedLeagues = (Page.nav.leagues | orderBy:'game.name') track by $index" ng-class="Page.leagueClass($index)">
					<a ng-href="/league/{{league.slug}}">
						<i class="material-icons left icon border-right">
							<img ng-src="{{league.game.icon}}" />
							&nbsp;
						</i> {{league.name}}
					</a>
				</li>
				<li class="border-top">
					<a href="/leagues">All Leagues</a>
				</li>
			</ul>
			<ul class="dropdown-content wide grouped" id="tournaments_dd">
				<li class="border-top">
					<a href="/">Coming Soon&trade;</a>
				</li>
				<!--<li ng-repeat="tournament in Page.nav.tournaments" class="border-top">
					<a ng-href="/tournament/{{tournament.slug}}">
						<i class="material-icons left icon border-right">
							<img ng-src="{{tournament.logo}}" />
							&nbsp;
						</i> {{tournament.name}}
					</a>
				</li>
				<li class="border-top">
					<a href="/tournaments">All Tournaments</a>
				</li>-->
			</ul>
			<div class="nav-wrapper container">
				<a class="brand-logo" href="/">
					<img id="logo-image" src="/assets/images/logo.png" />
				</a>
				<ul class="right hide-on-med-and-down">
					<li>
						<a class="dropdown-button" data-activates="games_dd" href="/games">
							<i class="material-icons left">
										&#xE5C5;
									</i> GAMES
						</a>
					</li>
					<li>
						<a class="dropdown-button" data-activates="leagues_dd" href="/leagues">
							<i class="material-icons left">
										&#xE5C5;
									</i> LEAGUES
						</a>
					</li>
					<li>
						<a class="dropdown-button" data-activates="tournaments_dd" href="/tournaments">
							<i class="material-icons left">
										&#xE5C5;
									</i> TOURNAMENTS
						</a>
					</li>
					<li>
						<a class="dropdown-button" data-activates="articles_dd" href="/articles">
								<i class="material-icons left">
										&#xE5C5;
									</i> ARTICLES
							</a>
					</li>
					<li class="no-transition" ng-if="Page.session == false" ng-cloak>
						<a href="/login" class="waves-effect waves-light btn">
									LOGIN
								</a>
					</li>
					<li class="no-transition user-details" ng-show="Page.session != false && Page.session != null" ng-cloak>
						<svg viewbox="1 1 8 8">
								<defs>
									<pattern id="profilePicture" patternUnits="userSpaceOnUse" width="10" height="10">
										<image ng-attr-href="{{Page.session.profilePicture}}" x="0" y="0"
											width="10" height="10" />
									</pattern>
								</defs>
								<path fix-fill fill="url(#profilePicture)" stroke="#0CD97E" stroke-width="0.35" d="M5.5 1.5 L8.5 4.5 Q9 5 8.5 5.5 L5.5 8.5 Q5 9 4.5 8.5 L 1.5 5.5 Q1 5 1.5 4.5 L4.5 1.5 Q 5 1 5.5 1.5z" />
							</svg>
						<a class="dropdown-button" id="userProfile" data-activates="profile_dd">
								{{Page.session.displayName}}
								<i class="material-icons right">
										&#xE5C5;
									</i>
							</a>
					</li>
					<li class="no-transition content-switch">
						<div class="switch">
							<label>
								Light
								<input type="checkbox" ng-model="Page.contentClass" ng-true-value="'dark'" ng-false-value="'light'" ng-change="Page.contentClassSet()">
								<span class="lever"></span>
								Dark
							</label>
						</div>
					</li>
				</ul>
				<ul class="side-nav" id="nav-mobile">
					<li>
						<a href="#">
							<i class="material-icons left">
										expand_more
									</i> TODO
						</a>
					</li>
				</ul>
				<a class="button-collapse" data-activates="nav-mobile" href="#">
					<i class="material-icons">
								menu
							</i>
				</a>
			</div>
		</nav>
	</header>
	<div id="main" ng-view ng-cloak onload="Page.init()"></div>
	<footer class="page-footer">
		<div class="container">
			<div class="row center-align spaced-row">
				<div class="col l4 s12">
					<h5 class="white-text">
                                Follow Us
                            </h5>
					<div class="spacer">
						<div class="social-media center-align">
							<a class="facebook" href="http://facebook.com/eventvods">
							</a>
							<a class="twitter" href="http://twitter.com/eventvods">
							</a>
							<a class="linked-in" href="https://www.linkedin.com/company/5389991">
							</a>
							<a class="patreon" href="http://patreon.com/eventvods">
							</a>
						</div>
					</div>
				</div>
				<div class="col l4 s12 sborders">
					<h5 class="white-text">
                                SiteMap
                            </h5>
					<div class="spacer">
						<div class="sitemap center-align">
							<a class="waves-effect waves-light btn" href="/">
                                        Home
                                    </a>
							<a class="waves-effect waves-light btn" href="/blog">
                                        Blog
                                    </a>
							<a class="waves-effect waves-light btn" href="/about/cookies">
                                        Cookies
                                    </a>
							<a class="waves-effect waves-light btn" href="/contact">
                                        Contact
                                    </a>
						</div>
					</div>
				</div>
				<div class="col l4 s12">
					<h5 class="white-text">
                                Our Sponsors
                            </h5>
					<div class="spacer">
						<div class="sponsors center-align">
							<!-- sponsors-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container center-align">
				We provide spoiler-free VODs of competitive esports matches.
				<br />
				<span class="copyright">
                            © Eventvods - 2016
                        </span>
			</div>
			<svg width="0" height="0">
						<defs>
							<clipPath id="element" clipPathUnits="objectBoundingBox">
								<polygon points="0 0, 0.85 0, 1 1, 0 1">
								</polygon>
							</clipPath>
						</defs>
				</svg>
		</div>
	</footer>
	<!--  Scripts-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-cookies.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.2.0/js/xeditable.min.js">
	</script>
	<script src="/assets/js/frontend/evSlider.js">
	</script>
	<script src="/assets/js/frontend/app.js">
	</script>
	<script src="/assets/js/frontend/services/SessionManager.js">
	</script>
	<script src="/assets/js/frontend/controllers/PageController.js">
	</script>
	<script src="/assets/js/frontend/controllers/LoginController.js">
	</script>
	<script src="/assets/js/frontend/controllers/RegisterController.js">
	</script>
	<script src="/assets/js/frontend/controllers/SettingsController.js">
	</script>
	<script src="/assets/js/frontend/controllers/LeagueController.js">
	</script>
	<script src="/assets/js/frontend/controllers/ArticleController.js">
	</script>
</body>

</html>
